In [187]:
import $ivy.`org.apache.spark::spark-sql:3.5.6`
import $ivy.`org.apache.spark::spark-core:3.5.6`
import $ivy.`org.postgresql:postgresql:42.7.3`  // Driver JDBC de PostgreSQL
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.{DataFrame, SaveMode}

// Importar todas las funciones necesarias
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
  .appName("PostgreSQL-Notebook")
  .master("local[*]")
  .config("spark.sql.adaptive.enabled", "true")
  .config("spark.sql.adaptive.coalescePartitions.enabled", "true")
  .getOrCreate()

import spark.implicits._

// Configurar nivel de logging
spark.sparkContext.setLogLevel("ERROR")  // Solo muestra errores
// O alternativamente:
// spark.sparkContext.setLogLevel("WARN")   // Solo warnings y errores
// spark.sparkContext.setLogLevel("OFF")    // Sin logs

// Configuraci√≥n de conexi√≥n a PostgreSQL
val jdbcUrl = "jdbc:postgresql://localhost:5432/postgres"
val connectionProperties = new java.util.Properties()
connectionProperties.setProperty("user", "postgres")
connectionProperties.setProperty("password", "postgres")
connectionProperties.setProperty("driver", "org.postgresql.Driver")

println("‚úÖ Spark configurado y listo para conectar con PostgreSQL")

‚úÖ Spark configurado y listo para conectar con PostgreSQL

import $ivy.$
import $ivy.$
import $ivy.$
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.{DataFrame, SaveMode}
import org.apache.spark.sql.functions._
spark: SparkSession = org.apache.spark.sql.SparkSession@16ab0c5f
import spark.implicits._
jdbcUrl: String = "jdbc:postgresql://localhost:5432/postgres"
connectionProperties: java.util.Properties = {user=postgres, password=postgres, driver=org.postgresql.Driver}
res187_11: Object = null
res187_12: Object = null
res187_13: Object = null

In [188]:
// Funci√≥n para leer tabla desde PostgreSQL
def leerTablaPostgres(tableName: String): DataFrame = {
  spark.read
    .jdbc(jdbcUrl, tableName, connectionProperties)
}

// Funci√≥n para escribir DataFrame a PostgreSQL
def escribirTablaPostgres(df: DataFrame, tableName: String, mode: SaveMode = SaveMode.Overwrite): Unit = {
  df.write
    .mode(mode)
    .jdbc(jdbcUrl, tableName, connectionProperties)
}

// Funci√≥n para ejecutar query SQL directamente
def ejecutarQuery(query: String): DataFrame = {
  spark.read
    .format("jdbc")
    .option("url", jdbcUrl)
    .option("query", query)
    .option("user", "postgres")
    .option("password", "postgres")
    .option("driver", "org.postgresql.Driver")
    .load()
}

println("üîß Funciones de PostgreSQL definidas")

üîß Funciones de PostgreSQL definidas

defined function leerTablaPostgres
defined function escribirTablaPostgres
defined function ejecutarQuery

In [189]:
// Probar la conexi√≥n
try {
  /*
  // Listar todas las tablas
  val tablas = ejecutarQuery("""
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'public'
  """)
  
  println("üìã Tablas disponibles en PostgreSQL:")
  tablas.show()
  */
  
  val miTabla = leerTablaPostgres("postulantes")
  println(s"üìä Registros en la tabla: ${miTabla.count()}")
  miTabla.show(5)
  
} catch {
  case e: Exception => 
    println(s"‚ùå Error conectando a PostgreSQL: ${e.getMessage}")
    println("üîç Verifica que PostgreSQL est√© ejecut√°ndose y las credenciales sean correctas")
}

üìä Registros en la tabla: 4928

+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|fecha_corte|                uuid|             escuela|           modalidad|annio_postulacion|ubigeo|departamento|    provincia| distrito|ubigeo_origen|departamento_origen|provincia_origen|distrito_origen|ubigeo_ie|departamento_ie| provincia_ie|distrito_ie|edad|     sexo|pago| idioma|lee|escribe|habla|tiene_discapacidad|tipo_comunidad|comunidad|
+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|   20230626|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80108|          CUSCO|        CUSCO|    WANCHAQ|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...|             2020| 80902|       CUSCO|LA CONVENCI√ìN| ECHARATE|        80902|              CUSCO|   LA CONVENCI√ìN|       ECHARATE|    80902|          CUSCO|LA CONVENCI√ìN|   ECHARATE|  20| FEMENINO| 200|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
only showing top 5 rows

+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|fecha_corte|                uuid|             escuela|           modalidad|annio_postulacion|ubigeo|departamento|    provincia| distrito|ubigeo_origen|departamento_origen|provincia_origen|distrito_origen|ubigeo_ie|departamento_ie| provincia_ie|distrito_ie|edad|     sexo|pago| idioma|lee|escribe|habla|tiene_discapacidad|tipo_comunidad|comunidad|
+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|   20230626|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80108|          CUSCO|        CUSCO|    WANCHAQ|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...|             2020| 80902|       CUSCO|LA CONVENCI√ìN| ECHARATE|        80902|              CUSCO|   LA CONVENCI√ìN|       ECHARATE|    80902|          CUSCO|LA CONVENCI√ìN|   ECHARATE|  20| FEMENINO| 200|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
+-----------+--------------------+--------------------+--------------------+-----------------+------+------------+-------------+---------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
only showing top 5 rows

In [190]:
// PASO 1: Cargar datos y crear vista temporal
try {
  val miTabla = leerTablaPostgres("postulantes")
  println(s"üìä Registros en la tabla: ${miTabla.count()}")
  
  // Crear vista temporal para usar con spark.sql()
  miTabla.createOrReplaceTempView("postulantes")
  println("‚úÖ Vista temporal 'postulantes' creada")
  
  // Importar funciones necesarias
  import org.apache.spark.sql.functions._
  import org.apache.spark.sql.expressions.Window
  
  println("üîß Funciones importadas y listas para MapReduce")
  
} catch {
  case e: Exception => 
    println(s"‚ùå Error: ${e.getMessage}")
}

üìä Registros en la tabla: 4928
‚úÖ Vista temporal 'postulantes' creada
üîß Funciones importadas y listas para MapReduce

‚úÖ Vista temporal 'postulantes' creada
üîß Funciones importadas y listas para MapReduce

# üìä AN√ÅLISIS MAPREDUCE CON SPARK-SCALA

Este notebook implementa an√°lisis de datos usando **MapReduce** con Spark-Scala sobre el dataset de postulantes universitarios.

## üéØ Objetivos del an√°lisis:
1. **5 consultas** con tres campos o m√°s usando MapReduce
2. **Agrupaciones** con m√°ximos y m√≠nimos por categor√≠as
3. **Estad√≠sticas completas** (promedio, mediana, desviaci√≥n est√°ndar)
4. **5 consultas con decimales** que impliquen m√∫ltiples operaciones MapReduce

---

## üîç SECCI√ìN 1: CINCO CONSULTAS CON TRES CAMPOS O M√ÅS

Esta secci√≥n implementa consultas que utilizan **map()**, **reduceByKey()** y **groupByKey()** para analizar m√∫ltiples dimensiones del dataset simult√°neamente.

In [191]:
// CONSULTA 1: Cantidad de postulantes por carrera, modalidad y sexo
println("üîç CONSULTA 1: Postulantes por carrera, modalidad y sexo")

// Usar la vista temporal y convertir a RDD para MapReduce
val consulta1 = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val escuela = row.getAs[String]("escuela")
    val modalidad = row.getAs[String]("modalidad")
    val sexo = row.getAs[String]("sexo")
    // Crear clave compuesta de 3 campos
    ((escuela, modalidad, sexo), 1)
  })
  .reduceByKey(_ + _)  // Sumar conteos por clave
  .map { case ((escuela, modalidad, sexo), count) => 
    (escuela, modalidad, sexo, count) 
  }
  .toDF("escuela", "modalidad", "sexo", "cantidad")
  .orderBy($"cantidad".desc)

consulta1.show(10)
println(s"üìà Total de combinaciones encontradas: ${consulta1.count()}")

üîç CONSULTA 1: Postulantes por carrera, modalidad y sexo

+--------------------+--------------------+---------+--------+
|             escuela|           modalidad|     sexo|cantidad|
+--------------------+--------------------+---------+--------+
|    INGENIER√çA CIVIL|           ORDINARIO|MASCULINO|     812|
|INGENIER√çA AGRON√ì...|           ORDINARIO|MASCULINO|     517|
|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|     291|
|INGENIER√çA AGRON√ì...|           ORDINARIO| FEMENINO|     282|
|    INGENIER√çA CIVIL|           ORDINARIO| FEMENINO|     237|
|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|MASCULINO|     221|
|INGENIER√çA DE ALI...|           ORDINARIO| FEMENINO|     210|
|INGENIER√çA DE ALI...|           ORDINARIO|MASCULINO|     183|
|INGENIER√çA AGRON√ì...|EXTRAORDINARIO-CO...|MASCULINO|     165|
|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...| FEMENINO|     161|
+--------------------+--------------------+---------+--------+
only showing top 10 rows

+--------------------+--------------------+---------+--------+
|             escuela|           modalidad|     sexo|cantidad|
+--------------------+--------------------+---------+--------+
|    INGENIER√çA CIVIL|           ORDINARIO|MASCULINO|     812|
|INGENIER√çA AGRON√ì...|           ORDINARIO|MASCULINO|     517|
|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|     291|
|INGENIER√çA AGRON√ì...|           ORDINARIO| FEMENINO|     282|
|    INGENIER√çA CIVIL|           ORDINARIO| FEMENINO|     237|
|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|MASCULINO|     221|
|INGENIER√çA DE ALI...|           ORDINARIO| FEMENINO|     210|
|INGENIER√çA DE ALI...|           ORDINARIO|MASCULINO|     183|
|INGENIER√çA AGRON√ì...|EXTRAORDINARIO-CO...|MASCULINO|     165|
|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...| FEMENINO|     161|
+--------------------+--------------------+---------+--------+
only showing top 10 rows

üìà Total de combinaciones encontradas: 59
üìà Total de combinaciones encontradas: 59

consulta1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, modalidad: string ... 2 more fields]

In [192]:
// CONSULTA 2: Suma de pagos por departamento, provincia y a√±o de postulaci√≥n
println("\nüîç CONSULTA 2: Suma de pagos por departamento, provincia y a√±o")

val consulta2 = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val dept = row.getAs[String]("departamento")
    val prov = row.getAs[String]("provincia")
    val anio = row.getAs[Integer]("annio_postulacion")
    val pago = row.getAs[Integer]("pago")
    // Crear clave compuesta y valor num√©rico
    ((dept, prov, anio), if (pago != null) pago.toDouble else 0.0)
  })
  .reduceByKey(_ + _)  // Sumar pagos por ubicaci√≥n y a√±o
  .map { case ((dept, prov, anio), suma) => 
    (dept, prov, anio, suma) 
  }
  .toDF("departamento", "provincia", "anio_postulacion", "suma_pagos")
  .orderBy($"suma_pagos".desc)

consulta2.show(10)
println(f"üí∞ Total recaudado: S/. ${consulta2.agg(sum($"suma_pagos")).collect()(0)(0)}")

üîç CONSULTA 2: Suma de pagos por departamento, provincia y a√±o

+------------+-------------+----------------+----------+
|departamento|    provincia|anio_postulacion|suma_pagos|
+------------+-------------+----------------+----------+
|       CUSCO|LA CONVENCI√ìN|            2023|  185670.0|
|       CUSCO|LA CONVENCI√ìN|            2020|  140500.0|
|       CUSCO|LA CONVENCI√ìN|            2019|  139950.0|
|       CUSCO|LA CONVENCI√ìN|            2022|  108700.0|
|       CUSCO|LA CONVENCI√ìN|            2021|  105440.0|
|       CUSCO|        CUSCO|            2023|   20710.0|
|       CUSCO|        CUSCO|            2021|   12550.0|
|       CUSCO|        CUSCO|            2019|   11000.0|
|       CUSCO|        CUSCO|            2020|   10400.0|
|       CUSCO|        CUSCO|            2022|    8850.0|
+------------+-------------+----------------+----------+
only showing top 10 rows

+------------+-------------+----------------+----------+
|departamento|    provincia|anio_postulacion|suma_pagos|
+------------+-------------+----------------+----------+
|       CUSCO|LA CONVENCI√ìN|            2023|  185670.0|
|       CUSCO|LA CONVENCI√ìN|            2020|  140500.0|
|       CUSCO|LA CONVENCI√ìN|            2019|  139950.0|
|       CUSCO|LA CONVENCI√ìN|            2022|  108700.0|
|       CUSCO|LA CONVENCI√ìN|            2021|  105440.0|
|       CUSCO|        CUSCO|            2023|   20710.0|
|       CUSCO|        CUSCO|            2021|   12550.0|
|       CUSCO|        CUSCO|            2019|   11000.0|
|       CUSCO|        CUSCO|            2020|   10400.0|
|       CUSCO|        CUSCO|            2022|    8850.0|
+------------+-------------+----------------+----------+
only showing top 10 rows

üí∞ Total recaudado: S/. 882780.0
üí∞ Total recaudado: S/. 882780.0

consulta2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, provincia: string ... 2 more fields]

In [193]:
// CONSULTA 3: Postulantes por distrito origen, distrito IE y tipo de comunidad
println("\nüîç CONSULTA 3: Postulantes por distrito origen, distrito IE y tipo de comunidad")

val consulta3 = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val distOrigen = row.getAs[String]("distrito_origen")
    val distIE = row.getAs[String]("distrito_ie")
    val tipoComunidad = row.getAs[String]("tipo_comunidad")
    // Analizar flujo geogr√°fico y tipo de comunidad
    ((distOrigen, distIE, tipoComunidad), 1)
  })
  .reduceByKey(_ + _)
  .map { case ((distOrigen, distIE, tipoComunidad), count) => 
    (distOrigen, distIE, tipoComunidad, count) 
  }
  .toDF("distrito_origen", "distrito_ie", "tipo_comunidad", "cantidad")
  .orderBy($"cantidad".desc)

consulta3.show(10)
println("üåç An√°lisis de movilidad geogr√°fica por tipo de comunidad completado")

üîç CONSULTA 3: Postulantes por distrito origen, distrito IE y tipo de comunidad

+---------------+-----------+--------------+--------+
|distrito_origen|distrito_ie|tipo_comunidad|cantidad|
+---------------+-----------+--------------+--------+
|      SANTA ANA|  SANTA ANA|       NINGUNA|    1354|
|      SANTA ANA|  SANTA ANA|          NULL|     367|
|     VILCABAMBA| VILCABAMBA|       NINGUNA|     349|
|       ECHARATE|   ECHARATE|       NINGUNA|     316|
|     VILCABAMBA| VILCABAMBA|        ANDINO|     133|
|      MEGANTONI|  MEGANTONI|     AMAZ√ìNICO|     124|
|      QUELLOUNO|  QUELLOUNO|       NINGUNA|     112|
|      MEGANTONI|  MEGANTONI|       NINGUNA|     101|
|        KIMBIRI|    KIMBIRI|       NINGUNA|      93|
|        PICHARI|    PICHARI|       NINGUNA|      90|
+---------------+-----------+--------------+--------+
only showing top 10 rows

üåç An√°lisis de movilidad geogr√°fica por tipo de comunidad completado
+---------------+-----------+--------------+--------+
|distrito_origen|distrito_ie|tipo_comunidad|cantidad|
+---------------+-----------+--------------+--------+
|      SANTA ANA|  SANTA ANA|       NINGUNA|    1354|
|      SANTA ANA|  SANTA ANA|          NULL|     367|
|     VILCABAMBA| VILCABAMBA|       NINGUNA|     349|
|       ECHARATE|   ECHARATE|       NINGUNA|     316|
|     VILCABAMBA| VILCABAMBA|        ANDINO|     133|
|      MEGANTONI|  MEGANTONI|     AMAZ√ìNICO|     124|
|      QUELLOUNO|  QUELLOUNO|       NINGUNA|     112|
|      MEGANTONI|  MEGANTONI|       NINGUNA|     101|
|        KIMBIRI|    KIMBIRI|       NINGUNA|      93|
|        PICHARI|    PICHARI|       NINGUNA|      90|
+---------------+-----------+--------------+--------+
only showing top 10 rows

üåç An√°lisis de movilidad geogr√°fica por tipo de comunidad completado

consulta3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [distrito_origen: string, distrito_ie: string ... 2 more fields]

In [194]:
// CONSULTA 4: An√°lisis de habilidades (leer, escribir, hablar) por sexo y departamento
println("\nüîç CONSULTA 4: Habilidades ling√º√≠sticas por sexo y departamento")

val consulta4 = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val sexo = row.getAs[String]("sexo")
    val dept = row.getAs[String]("departamento")
    // Convertir habilidades a valores num√©ricos
    val lee = if (row.getAs[String]("lee") == "SI") 1 else 0
    val escribe = if (row.getAs[String]("escribe") == "SI") 1 else 0
    val habla = if (row.getAs[String]("habla") == "SI") 1 else 0
    // Clave compuesta con tupla de conteos
    ((sexo, dept), (lee, escribe, habla, 1))
  })
  .reduceByKey { case ((l1, e1, h1, c1), (l2, e2, h2, c2)) => 
    (l1 + l2, e1 + e2, h1 + h2, c1 + c2)  // Sumar todas las habilidades
  }
  .map { case ((sexo, dept), (lee, escribe, habla, total)) => 
    (sexo, dept, lee, escribe, habla, total)
  }
  .toDF("sexo", "departamento", "saben_leer", "saben_escribir", "saben_hablar", "total_postulantes")
  .orderBy($"total_postulantes".desc)

consulta4.show(10)
println("üìö An√°lisis de competencias ling√º√≠sticas por g√©nero y regi√≥n completado")

üîç CONSULTA 4: Habilidades ling√º√≠sticas por sexo y departamento

+---------+-------------+----------+--------------+------------+-----------------+
|     sexo| departamento|saben_leer|saben_escribir|saben_hablar|total_postulantes|
+---------+-------------+----------+--------------+------------+-----------------+
|MASCULINO|        CUSCO|      2082|          1588|        1641|             2721|
| FEMENINO|        CUSCO|      1397|           991|        1022|             1762|
|MASCULINO|     AYACUCHO|        81|            60|          67|               99|
| FEMENINO|     AYACUCHO|        35|            24|          27|               53|
|MASCULINO|         LIMA|        37|            30|          29|               43|
| FEMENINO|         LIMA|        28|            24|          24|               38|
|MASCULINO|MADRE DE DIOS|        25|            20|          20|               32|
|MASCULINO|         PUNO|        21|            15|          15|               26|
|MASCULINO|     APUR√çMAC|        14|            11|          13|               20|
| FEMENINO|     AREQUIPA|        14|            11|          11|               15|
+---------+-------------+----------+--------------+------------+-----------------+
only showing top 10 rows

üìö An√°lisis de competencias ling√º√≠sticas por g√©nero y regi√≥n completado
+---------+-------------+----------+--------------+------------+-----------------+
|     sexo| departamento|saben_leer|saben_escribir|saben_hablar|total_postulantes|
+---------+-------------+----------+--------------+------------+-----------------+
|MASCULINO|        CUSCO|      2082|          1588|        1641|             2721|
| FEMENINO|        CUSCO|      1397|           991|        1022|             1762|
|MASCULINO|     AYACUCHO|        81|            60|          67|               99|
| FEMENINO|     AYACUCHO|        35|            24|          27|               53|
|MASCULINO|         LIMA|        37|            30|          29|               43|
| FEMENINO|         LIMA|        28|            24|          24|               38|
|MASCULINO|MADRE DE DIOS|        25|            20|          20|               32|
|MASCULINO|         PUNO|        21|            15|          15|               26|
|MASCULINO|     APUR√çMAC|        14|            11|          13|               20|
| FEMENINO|     AREQUIPA|        14|            11|          11|               15|
+---------+-------------+----------+--------------+------------+-----------------+
only showing top 10 rows

üìö An√°lisis de competencias ling√º√≠sticas por g√©nero y regi√≥n completado

consulta4: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [sexo: string, departamento: string ... 4 more fields]

In [195]:
// CONSULTA 5: Postulantes con discapacidad por modalidad, idioma y rango de edad
println("\nüîç CONSULTA 5: Postulantes con discapacidad por modalidad, idioma y edad")

val consulta5 = spark.sql("SELECT * FROM postulantes WHERE tiene_discapacidad = 'SI'").rdd
  .map(row => {
    val modalidad = row.getAs[String]("modalidad")
    val idioma = row.getAs[String]("idioma")
    val edad = row.getAs[Integer]("edad")
    // Crear rangos de edad para an√°lisis
    val rangoEdad = if (edad != null) {
      if (edad < 18) "Menor de 18"
      else if (edad <= 25) "18-25"
      else "Mayor de 25"
    } else "Sin datos"
    ((modalidad, idioma, rangoEdad), 1)
  })
  .reduceByKey(_ + _)
  .map { case ((modalidad, idioma, rangoEdad), count) => 
    (modalidad, idioma, rangoEdad, count) 
  }
  .toDF("modalidad", "idioma", "rango_edad", "cantidad_con_discapacidad")
  .orderBy($"cantidad_con_discapacidad".desc)

consulta5.show(10)
println("‚ôø An√°lisis de inclusi√≥n por modalidad, idioma y edad completado")

üîç CONSULTA 5: Postulantes con discapacidad por modalidad, idioma y edad

+--------------------+----------+-----------+-------------------------+
|           modalidad|    idioma| rango_edad|cantidad_con_discapacidad|
+--------------------+----------+-----------+-------------------------+
|           ORDINARIO|   Espa√±ol|      18-25|                       12|
|EXTRAORDINARIO-PE...|   Espa√±ol|      18-25|                        6|
|PRIMERA OPORTUNID...|   Espa√±ol|      18-25|                        5|
|EXTRAORDINARIO-CO...|   Quechua|      18-25|                        3|
|EXTRAORDINARIO-PE...|   Quechua|Mayor de 25|                        1|
|PRIMERA OPORTUNID...|   Espa√±ol|Menor de 18|                        1|
|EXTRAORDINARIO-CO...|Matsigenka|      18-25|                        1|
|           ORDINARIO|   Espa√±ol|Mayor de 25|                        1|
|EXTRAORDINARIO-PE...|   Quechua|      18-25|                        1|
+--------------------+----------+-----------+-------------------------+

‚ôø An√°lisis de inclusi√≥n por modalidad, idioma y edad completado
+--------------------+----------+-----------+-------------------------+
|           modalidad|    idioma| rango_edad|cantidad_con_discapacidad|
+--------------------+----------+-----------+-------------------------+
|           ORDINARIO|   Espa√±ol|      18-25|                       12|
|EXTRAORDINARIO-PE...|   Espa√±ol|      18-25|                        6|
|PRIMERA OPORTUNID...|   Espa√±ol|      18-25|                        5|
|EXTRAORDINARIO-CO...|   Quechua|      18-25|                        3|
|EXTRAORDINARIO-PE...|   Quechua|Mayor de 25|                        1|
|PRIMERA OPORTUNID...|   Espa√±ol|Menor de 18|                        1|
|EXTRAORDINARIO-CO...|Matsigenka|      18-25|                        1|
|           ORDINARIO|   Espa√±ol|Mayor de 25|                        1|
|EXTRAORDINARIO-PE...|   Quechua|      18-25|                        1|
+--------------------+----------+-----------+-------------------------+

‚ôø An√°lisis de inclusi√≥n por modalidad, idioma y edad completado

consulta5: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [modalidad: string, idioma: string ... 2 more fields]

## üìä SECCI√ìN 2: AGRUPACIONES CON M√ÅXIMOS Y M√çNIMOS

Esta secci√≥n utiliza **groupByKey()** para calcular estad√≠sticas agregadas (m√°ximo, m√≠nimo, promedio) por categor√≠as usando operaciones MapReduce.

In [196]:
// AGRUPACI√ìN 1: Pagos m√°ximos, m√≠nimos y promedios por escuela
println("üìä AGRUPACI√ìN 1: Estad√≠sticas de pagos por carrera profesional")

val agrupacion1 = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val escuela = row.getAs[String]("escuela")
    val pago = row.getAs[Integer]("pago")
    val pagoValue = if (pago != null) pago.toDouble else 0.0
    (escuela, pagoValue)
  })
  .groupByKey()  // Agrupar todos los pagos por escuela
  .map { case (escuela, pagos) => 
    val pagosList = pagos.toList.filter(_ > 0)  // Filtrar pagos v√°lidos
    if (pagosList.nonEmpty) {
      val maximo = pagosList.max
      val minimo = pagosList.min
      val promedio = pagosList.sum / pagosList.length
      val mediana = {
        val sorted = pagosList.sorted
        val n = sorted.length
        if (n % 2 == 0) (sorted(n/2-1) + sorted(n/2)) / 2.0
        else sorted(n/2)
      }
      (escuela, maximo, minimo, promedio, mediana, pagosList.length)
    } else {
      (escuela, 0.0, 0.0, 0.0, 0.0, 0)
    }
  }
  .toDF("escuela", "pago_maximo", "pago_minimo", "pago_promedio", "pago_mediana", "total_postulantes")
  .orderBy($"pago_maximo".desc)

agrupacion1.show(15, truncate = false)
println("üí° An√°lisis: Diferencias significativas en pagos entre carreras")

üìä AGRUPACI√ìN 1: Estad√≠sticas de pagos por carrera profesional

+------------------------------+-----------+-----------+------------------+------------+-----------------+
|escuela                       |pago_maximo|pago_minimo|pago_promedio     |pago_mediana|total_postulantes|
+------------------------------+-----------+-----------+------------------+------------+-----------------+
|INGENIER√çA CIVIL              |670.0      |50.0       |189.8494983277592 |200.0       |1794             |
|INGENIER√çA DE ALIMENTOS       |670.0      |50.0       |171.30968622100954|200.0       |733              |
|INGENIER√çA AGRON√ìMICA TROPICAL|670.0      |50.0       |174.1032428855063 |200.0       |1511             |
|ECOTURISMO                    |300.0      |50.0       |167.36111111111111|200.0       |504              |
|CONTABILIDAD                  |250.0      |200.0      |205.8139534883721 |200.0       |129              |
|ECONOM√çA                      |250.0      |200.0      |206.03864734299518|200.0       |207              |
+------------------------------+-----------+-----------+------------------+------------+-----------------+

üí° An√°lisis: Diferencias significativas en pagos entre carreras
+------------------------------+-----------+-----------+------------------+------------+-----------------+
|escuela                       |pago_maximo|pago_minimo|pago_promedio     |pago_mediana|total_postulantes|
+------------------------------+-----------+-----------+------------------+------------+-----------------+
|INGENIER√çA CIVIL              |670.0      |50.0       |189.8494983277592 |200.0       |1794             |
|INGENIER√çA DE ALIMENTOS       |670.0      |50.0       |171.30968622100954|200.0       |733              |
|INGENIER√çA AGRON√ìMICA TROPICAL|670.0      |50.0       |174.1032428855063 |200.0       |1511             |
|ECOTURISMO                    |300.0      |50.0       |167.36111111111111|200.0       |504              |
|CONTABILIDAD                  |250.0      |200.0      |205.8139534883721 |200.0       |129              |
|ECONOM√çA                      |250.0      |200.0      |206.03864734299518|200.0       |207              |
+------------------------------+-----------+-----------+------------------+------------+-----------------+

üí° An√°lisis: Diferencias significativas en pagos entre carreras

agrupacion1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, pago_maximo: double ... 4 more fields]

In [197]:
// AGRUPACI√ìN 2: Edades m√°ximas, m√≠nimas y promedios por departamento
println("\nüìä AGRUPACI√ìN 2: Estad√≠sticas de edad por departamento")

val agrupacion2 = spark.sql("SELECT * FROM postulantes WHERE edad IS NOT NULL").rdd
  .map(row => {
    val departamento = row.getAs[String]("departamento")
    val edad = row.getAs[Integer]("edad").toDouble
    (departamento, edad)
  })
  .groupByKey()
  .map { case (departamento, edades) => 
    val edadesList = edades.toList
    val maximo = edadesList.max
    val minimo = edadesList.min
    val promedio = edadesList.sum / edadesList.length
    val mediana = {
      val sorted = edadesList.sorted
      val n = sorted.length
      if (n % 2 == 0) (sorted(n/2-1) + sorted(n/2)) / 2.0
      else sorted(n/2)
    }
    // Calcular desviaci√≥n est√°ndar
    val varianza = edadesList.map(edad => math.pow(edad - promedio, 2)).sum / edadesList.length
    val desviacion = math.sqrt(varianza)
    
    (departamento, maximo, minimo, promedio, mediana, desviacion, edadesList.length)
  }
  .toDF("departamento", "edad_maxima", "edad_minima", "edad_promedio", "edad_mediana", "desviacion_std", "total_postulantes")
  .orderBy($"edad_promedio".desc)

agrupacion2.show(15)
println("üìà An√°lisis: Variaciones demogr√°ficas por regi√≥n")

üìä AGRUPACI√ìN 2: Estad√≠sticas de edad por departamento

+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
| departamento|edad_maxima|edad_minima|     edad_promedio|edad_mediana|    desviacion_std|total_postulantes|
+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
|MADRE DE DIOS|       38.0|       16.0|23.305555555555557|        19.0| 7.919102938971351|               36|
|       LORETO|       30.0|       17.0|             22.75|        22.0| 4.656984002549289|                4|
|     APUR√çMAC|       53.0|       17.0|22.516129032258064|        20.0| 7.602507938245946|               31|
|  LA LIBERTAD|       25.0|       20.0|              22.5|        22.5|               2.5|                2|
|   LAMBAYEQUE|       26.0|       18.0|              22.0|        22.0|               4.0|                2|
|     AYACUCHO|       46.0|       17.0|21.513157894736842|        20.0| 4.662260071582155|              152|
|         PUNO|       42.0|       17.0|            21.175|        19.5| 6.024481305473526|               40|
| HUANCAVELICA|       22.0|       19.0|              20.5|        20.5|               1.5|                2|
|        CUSCO|       67.0|       15.0| 20.17666741021637|        19.0| 4.040948097140101|             4483|
|      UCAYALI|       29.0|       17.0|19.789473684210527|        19.0|3.0878189776573954|               19|
|         LIMA|       42.0|       16.0|19.506172839506174|        18.0| 4.397315277432226|               81|
|     MOQUEGUA|       20.0|       19.0|              19.5|        19.5|               0.5|                2|
|        JUN√çN|       27.0|       16.0|           19.4375|        18.5| 2.978438139360964|               16|
|     AREQUIPA|       27.0|       16.0|19.233333333333334|        19.0| 2.740843341422895|               30|
|    CAJAMARCA|       22.0|       17.0|              19.2|        18.0|2.3151673805580453|                5|
+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
only showing top 15 rows

üìà An√°lisis: Variaciones demogr√°ficas por regi√≥n
+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
| departamento|edad_maxima|edad_minima|     edad_promedio|edad_mediana|    desviacion_std|total_postulantes|
+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
|MADRE DE DIOS|       38.0|       16.0|23.305555555555557|        19.0| 7.919102938971351|               36|
|       LORETO|       30.0|       17.0|             22.75|        22.0| 4.656984002549289|                4|
|     APUR√çMAC|       53.0|       17.0|22.516129032258064|        20.0| 7.602507938245946|               31|
|  LA LIBERTAD|       25.0|       20.0|              22.5|        22.5|               2.5|                2|
|   LAMBAYEQUE|       26.0|       18.0|              22.0|        22.0|               4.0|                2|
|     AYACUCHO|       46.0|       17.0|21.513157894736842|        20.0| 4.662260071582155|              152|
|         PUNO|       42.0|       17.0|            21.175|        19.5| 6.024481305473526|               40|
| HUANCAVELICA|       22.0|       19.0|              20.5|        20.5|               1.5|                2|
|        CUSCO|       67.0|       15.0| 20.17666741021637|        19.0| 4.040948097140101|             4483|
|      UCAYALI|       29.0|       17.0|19.789473684210527|        19.0|3.0878189776573954|               19|
|         LIMA|       42.0|       16.0|19.506172839506174|        18.0| 4.397315277432226|               81|
|     MOQUEGUA|       20.0|       19.0|              19.5|        19.5|               0.5|                2|
|        JUN√çN|       27.0|       16.0|           19.4375|        18.5| 2.978438139360964|               16|
|     AREQUIPA|       27.0|       16.0|19.233333333333334|        19.0| 2.740843341422895|               30|
|    CAJAMARCA|       22.0|       17.0|              19.2|        18.0|2.3151673805580453|                5|
+-------------+-----------+-----------+------------------+------------+------------------+-----------------+
only showing top 15 rows

üìà An√°lisis: Variaciones demogr√°ficas por regi√≥n

agrupacion2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, edad_maxima: double ... 5 more fields]

## üìà SECCI√ìN 3: ESTAD√çSTICAS DETALLADAS DE CAMPOS NUM√âRICOS

An√°lisis estad√≠stico completo utilizando **collect()** y operaciones de agregaci√≥n manual para calcular medidas de tendencia central y dispersi√≥n.

In [198]:
// ESTAD√çSTICAS COMPLETAS DEL CAMPO EDAD
println("üìà ESTAD√çSTICAS COMPLETAS: An√°lisis del campo EDAD")

// Importar funciones matem√°ticas
import scala.math.{sqrt, pow}

// Recopilar todos los datos de edad para an√°lisis estad√≠stico
val estadisticasEdad = spark.sql("SELECT edad FROM postulantes WHERE edad IS NOT NULL")
  .rdd
  .map(row => row.getAs[Integer]("edad").toDouble)
  .collect()

// Calcular estad√≠sticas descriptivas
val n = estadisticasEdad.length
val suma = estadisticasEdad.sum
val promedio = suma / n
val maximo = estadisticasEdad.max
val minimo = estadisticasEdad.min

// Calcular mediana
val edadesOrdenadas = estadisticasEdad.sorted
val mediana = if (n % 2 == 0) {
  (edadesOrdenadas(n/2 - 1) + edadesOrdenadas(n/2)) / 2
} else {
  edadesOrdenadas(n/2)
}

// Calcular medidas de dispersi√≥n
val varianza = estadisticasEdad.map(edad => pow(edad - promedio, 2)).sum / n
val desviacionEstandar = sqrt(varianza)
val coeficienteVariacion = (desviacionEstandar / promedio) * 100

// Calcular cuartiles
val q1 = edadesOrdenadas((n * 0.25).toInt)
val q3 = edadesOrdenadas((n * 0.75).toInt)
val iqr = q3 - q1

println(f"üìä ESTAD√çSTICAS DEL CAMPO EDAD:")
println(f"   üìè Tama√±o de muestra: $n registros")
println(f"   üìê Tendencia central:")
println(f"      ‚Ä¢ Promedio: $promedio%.2f a√±os")
println(f"      ‚Ä¢ Mediana: $mediana%.2f a√±os")
println(f"   üìä Rango:")
println(f"      ‚Ä¢ M√°ximo: $maximo%.0f a√±os")
println(f"      ‚Ä¢ M√≠nimo: $minimo%.0f a√±os")
println(f"      ‚Ä¢ Rango total: ${maximo - minimo}%.0f a√±os")
println(f"   üìà Dispersi√≥n:")
println(f"      ‚Ä¢ Desviaci√≥n est√°ndar: $desviacionEstandar%.2f a√±os")
println(f"      ‚Ä¢ Varianza: $varianza%.2f")
println(f"      ‚Ä¢ Coeficiente de variaci√≥n: $coeficienteVariacion%.2f%%")
println(f"   üì¶ Cuartiles:")
println(f"      ‚Ä¢ Q1 (25%%): $q1%.0f a√±os")
println(f"      ‚Ä¢ Q3 (75%%): $q3%.0f a√±os")
println(f"      ‚Ä¢ Rango intercuart√≠lico: $iqr%.0f a√±os")

üìà ESTAD√çSTICAS COMPLETAS: An√°lisis del campo EDAD

üìä ESTAD√çSTICAS DEL CAMPO EDAD:
   üìè Tama√±o de muestra: 4928 registros
   üìê Tendencia central:
      ‚Ä¢ Promedio: 20.24 a√±os
      ‚Ä¢ Mediana: 19.00 a√±os
   üìä Rango:
      ‚Ä¢ M√°ximo: 67 a√±os
      ‚Ä¢ M√≠nimo: 15 a√±os
      ‚Ä¢ Rango total: 52 a√±os
   üìà Dispersi√≥n:
      ‚Ä¢ Desviaci√≥n est√°ndar: 4.16 a√±os
      ‚Ä¢ Varianza: 17.32
      ‚Ä¢ Coeficiente de variaci√≥n: 20.57%
   üì¶ Cuartiles:
      ‚Ä¢ Q1 (25%): 18 a√±os
      ‚Ä¢ Q3 (75%): 21 a√±os
      ‚Ä¢ Rango intercuart√≠lico: 3 a√±os
üìä ESTAD√çSTICAS DEL CAMPO EDAD:
   üìè Tama√±o de muestra: 4928 registros
   üìê Tendencia central:
      ‚Ä¢ Promedio: 20.24 a√±os
      ‚Ä¢ Mediana: 19.00 a√±os
   üìä Rango:
      ‚Ä¢ M√°ximo: 67 a√±os
      ‚Ä¢ M√≠nimo: 15 a√±os
      ‚Ä¢ Rango total: 52 a√±os
   üìà Dispersi√≥n:
      ‚Ä¢ Desviaci√≥n est√°ndar: 4.16 a√±os
      ‚Ä¢ Varianza: 17.32
      ‚Ä¢ Coeficiente de variaci√≥n: 20.57%
   üì¶ Cuartiles:
      ‚Ä¢ Q1 (25%): 18 a√±os
      ‚Ä¢ Q3 (75%): 21 a√±os
      ‚Ä¢ Rango intercuart√≠lico: 3 a√±os

import scala.math.{sqrt, pow}
estadisticasEdad: Array[Double] = Array(
  20.0,
  20.0,
  19.0,
  20.0,
  20.0,
  21.0,
  20.0,
  20.0,
  20.0,
  20.0,
  19.0,
  20.0,
  19.0,
  21.0,
  21.0,
  19.0,
  21.0,
  20.0,
  20.0,
  21.0,
  19.0,
  19.0,
  19.0,
  21.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  21.0,
  21.0,
  22.0,
  25.0,
  20.0,
  23.0,
  22.0,
  21.0,
  32.0,
...
n: Int = 4928
suma: Double = 99727.0
promedio: Double = 20.236810064935064
maximo: Double = 67.0
minimo: Double = 15.0
edadesOrdenadas: Array[Double] = Array(
  15.0,
  15.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
...
mediana: Double = 19.0
varianza: Double = 17.31993560353519
desviacionEstandar: Double = 4.161722672588263
coeficienteVariacion: Double = 20.565112086511135
q1: Double = 18.0
q3: Double = 21.0
iqr: Double = 3.0

In [199]:
// ESTAD√çSTICAS COMPLETAS DEL CAMPO PAGO
println("\nüí∞ ESTAD√çSTICAS COMPLETAS: An√°lisis del campo PAGO")

val estadisticasPago = spark.sql("SELECT pago FROM postulantes WHERE pago IS NOT NULL AND pago > 0")
  .rdd
  .map(row => row.getAs[Integer]("pago").toDouble)
  .collect()

val nPago = estadisticasPago.length
val sumaPago = estadisticasPago.sum
val promedioPago = sumaPago / nPago
val maximoPago = estadisticasPago.max
val minimoPago = estadisticasPago.min

// Calcular mediana para pagos
val pagosOrdenados = estadisticasPago.sorted
val medianaPago = if (nPago % 2 == 0) {
  (pagosOrdenados(nPago/2 - 1) + pagosOrdenados(nPago/2)) / 2
} else {
  pagosOrdenados(nPago/2)
}

// Estad√≠sticas de dispersi√≥n para pagos
val varianzaPago = estadisticasPago.map(pago => pow(pago - promedioPago, 2)).sum / nPago
val desviacionEstandarPago = sqrt(varianzaPago)
val coeficienteVariacionPago = (desviacionEstandarPago / promedioPago) * 100

// Calcular cuartiles para pagos
val q1Pago = pagosOrdenados((nPago * 0.25).toInt)
val q3Pago = pagosOrdenados((nPago * 0.75).toInt)
val iqrPago = q3Pago - q1Pago

println(f"üí∞ ESTAD√çSTICAS DEL CAMPO PAGO:")
println(f"   üìè Tama√±o de muestra: $nPago registros")
println(f"   üíµ Tendencia central:")
println(f"      ‚Ä¢ Promedio: S/. $promedioPago%.2f")
println(f"      ‚Ä¢ Mediana: S/. $medianaPago%.2f")
println(f"   üí∏ Rango:")
println(f"      ‚Ä¢ M√°ximo: S/. $maximoPago%.0f")
println(f"      ‚Ä¢ M√≠nimo: S/. $minimoPago%.0f")
println(f"      ‚Ä¢ Rango total: S/. ${maximoPago - minimoPago}%.0f")
println(f"   üìä Dispersi√≥n:")
println(f"      ‚Ä¢ Desviaci√≥n est√°ndar: S/. $desviacionEstandarPago%.2f")
println(f"      ‚Ä¢ Varianza: $varianzaPago%.2f")
println(f"      ‚Ä¢ Coeficiente de variaci√≥n: $coeficienteVariacionPago%.2f%%")
println(f"   üì¶ Cuartiles:")
println(f"      ‚Ä¢ Q1 (25%%): S/. $q1Pago%.0f")
println(f"      ‚Ä¢ Q3 (75%%): S/. $q3Pago%.0f")
println(f"      ‚Ä¢ Rango intercuart√≠lico: S/. $iqrPago%.0f")

üí∞ ESTAD√çSTICAS COMPLETAS: An√°lisis del campo PAGO

üí∞ ESTAD√çSTICAS DEL CAMPO PAGO:
   üìè Tama√±o de muestra: 4878 registros
   üíµ Tendencia central:
      ‚Ä¢ Promedio: S/. 180.97
      ‚Ä¢ Mediana: S/. 200.00
   üí∏ Rango:
      ‚Ä¢ M√°ximo: S/. 670
      ‚Ä¢ M√≠nimo: S/. 50
      ‚Ä¢ Rango total: S/. 620
   üìä Dispersi√≥n:
      ‚Ä¢ Desviaci√≥n est√°ndar: S/. 61.72
      ‚Ä¢ Varianza: 3808.81
      ‚Ä¢ Coeficiente de variaci√≥n: 34.10%
   üì¶ Cuartiles:
      ‚Ä¢ Q1 (25%): S/. 200
      ‚Ä¢ Q3 (75%): S/. 200
      ‚Ä¢ Rango intercuart√≠lico: S/. 0
üí∞ ESTAD√çSTICAS DEL CAMPO PAGO:
   üìè Tama√±o de muestra: 4878 registros
   üíµ Tendencia central:
      ‚Ä¢ Promedio: S/. 180.97
      ‚Ä¢ Mediana: S/. 200.00
   üí∏ Rango:
      ‚Ä¢ M√°ximo: S/. 670
      ‚Ä¢ M√≠nimo: S/. 50
      ‚Ä¢ Rango total: S/. 620
   üìä Dispersi√≥n:
      ‚Ä¢ Desviaci√≥n est√°ndar: S/. 61.72
      ‚Ä¢ Varianza: 3808.81
      ‚Ä¢ Coeficiente de variaci√≥n: 34.10%
   üì¶ Cuartiles:
      ‚Ä¢ Q1 (25%): S/. 200
      ‚Ä¢ Q3 (75%): S/. 200
      ‚Ä¢ Rango intercuart√≠lico: S/. 0

estadisticasPago: Array[Double] = Array(
  250.0,
  250.0,
  250.0,
  250.0,
  200.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  300.0,
  300.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
  250.0,
...
nPago: Int = 4878
sumaPago: Double = 882780.0
promedioPago: Double = 180.97170971709718
maximoPago: Double = 670.0
minimoPago: Double = 50.0
pagosOrdenados: Array[Double] = Array(
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
  50.0,
...
medianaPago: Double = 200.0
varianzaPago: Double = 3808.8138778067023
desviacionEstandarPago: Double = 61.71558861265687
coeficienteVariacionPago: Double = 34.10234047583092
q1Pago: Double = 200.0
q3Pago: Double = 200.0
iqrPago: Double = 0.0

## üî¢ SECCI√ìN 4: CINCO CONSULTAS CON DECIMALES Y MAPREDUCE

Esta secci√≥n implementa consultas avanzadas que utilizan **m√∫ltiples operaciones MapReduce** para calcular ratios, porcentajes, √≠ndices estad√≠sticos y m√©tricas complejas.

In [200]:
// CONSULTA DECIMAL 1: Porcentaje de postulantes por sexo y departamento
println("üî¢ CONSULTA DECIMAL 1: Distribuci√≥n porcentual por sexo y departamento")

// Primer MapReduce: Contar total de postulantes
val totalPostulantes = spark.sql("SELECT COUNT(*) as total FROM postulantes")
  .collect()(0).getAs[Long]("total").toDouble

// Segundo MapReduce: Contar por sexo y departamento
val porcentajeSexoDept = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val sexo = row.getAs[String]("sexo")
    val dept = row.getAs[String]("departamento")
    ((sexo, dept), 1)
  })
  .reduceByKey(_ + _)
  // Tercer MapReduce: Calcular porcentajes
  .map { case ((sexo, dept), count) => 
    val porcentaje = (count.toDouble / totalPostulantes) * 100.0
    val porcentajeRedondeado = BigDecimal(porcentaje).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble
    (sexo, dept, count, porcentajeRedondeado)
  }
  .toDF("sexo", "departamento", "cantidad", "porcentaje")
  .orderBy(col("porcentaje").desc)

porcentajeSexoDept.show(15)
// Corregir el error de tipos usando getAs[Double]
val sumaPorcentajes = porcentajeSexoDept.agg(sum(col("porcentaje"))).collect()(0).getAs[Double](0)
println(f"‚úÖ Verificaci√≥n: Suma de porcentajes = $sumaPorcentajes%.1f%%")

üî¢ CONSULTA DECIMAL 1: Distribuci√≥n porcentual por sexo y departamento

+---------+-------------+--------+----------+
|     sexo| departamento|cantidad|porcentaje|
+---------+-------------+--------+----------+
|MASCULINO|        CUSCO|    2721|    55.215|
| FEMENINO|        CUSCO|    1762|    35.755|
|MASCULINO|     AYACUCHO|      99|     2.009|
| FEMENINO|     AYACUCHO|      53|     1.075|
|MASCULINO|         LIMA|      43|     0.873|
| FEMENINO|         LIMA|      38|     0.771|
|MASCULINO|MADRE DE DIOS|      32|     0.649|
|MASCULINO|         PUNO|      26|     0.528|
|MASCULINO|     APUR√çMAC|      20|     0.406|
| FEMENINO|     AREQUIPA|      15|     0.304|
|MASCULINO|     AREQUIPA|      15|     0.304|
| FEMENINO|         PUNO|      14|     0.284|
| FEMENINO|     APUR√çMAC|      11|     0.223|
| FEMENINO|      UCAYALI|      10|     0.203|
|MASCULINO|        JUN√çN|      10|     0.203|
+---------+-------------+--------+----------+
only showing top 15 rows

+---------+-------------+--------+----------+
|     sexo| departamento|cantidad|porcentaje|
+---------+-------------+--------+----------+
|MASCULINO|        CUSCO|    2721|    55.215|
| FEMENINO|        CUSCO|    1762|    35.755|
|MASCULINO|     AYACUCHO|      99|     2.009|
| FEMENINO|     AYACUCHO|      53|     1.075|
|MASCULINO|         LIMA|      43|     0.873|
| FEMENINO|         LIMA|      38|     0.771|
|MASCULINO|MADRE DE DIOS|      32|     0.649|
|MASCULINO|         PUNO|      26|     0.528|
|MASCULINO|     APUR√çMAC|      20|     0.406|
| FEMENINO|     AREQUIPA|      15|     0.304|
|MASCULINO|     AREQUIPA|      15|     0.304|
| FEMENINO|         PUNO|      14|     0.284|
| FEMENINO|     APUR√çMAC|      11|     0.223|
| FEMENINO|      UCAYALI|      10|     0.203|
|MASCULINO|        JUN√çN|      10|     0.203|
+---------+-------------+--------+----------+
only showing top 15 rows

‚úÖ Verificaci√≥n: Suma de porcentajes = 100.0%
‚úÖ Verificaci√≥n: Suma de porcentajes = 100.0%

totalPostulantes: Double = 4928.0
porcentajeSexoDept: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [sexo: string, departamento: string ... 2 more fields]
sumaPorcentajes: Double = 99.99800000000002

In [201]:
// CONSULTA DECIMAL 2: Ratio de pagos promedio entre g√©neros por escuela
println("\nüî¢ CONSULTA DECIMAL 2: Ratio de pagos masculino/femenino por carrera")

// Primer MapReduce: Calcular pagos promedio por g√©nero y escuela
val pagosPromedioGenero = spark.sql("SELECT * FROM postulantes WHERE pago IS NOT NULL AND pago > 0").rdd
  .map(row => {
    val escuela = row.getAs[String]("escuela")
    val sexo = row.getAs[String]("sexo")
    val pago = row.getAs[Integer]("pago").toDouble
    ((escuela, sexo), (pago, 1))
  })
  .reduceByKey { case ((pago1, count1), (pago2, count2)) => 
    (pago1 + pago2, count1 + count2) 
  }
  // Segundo MapReduce: Calcular promedios
  .map { case ((escuela, sexo), (sumaPagos, count)) => 
    val promedio = sumaPagos / count
    (escuela, (sexo, promedio))
  }
  // Tercer MapReduce: Agrupar por escuela y calcular ratios
  .groupByKey()
  .map { case (escuela, generos) => 
    val generosMap = generos.toMap
    val masculino = generosMap.getOrElse("MASCULINO", 0.0)
    val femenino = generosMap.getOrElse("FEMENINO", 0.0)
    val ratio = if (femenino > 0) {
      BigDecimal(masculino / femenino).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble
    } else 0.0
    val diferencia = masculino - femenino
    (escuela, masculino, femenino, ratio, diferencia)
  }
  .toDF("escuela", "pago_prom_masculino", "pago_prom_femenino", "ratio_m_f", "diferencia_pagos")
  .orderBy(col("ratio_m_f").desc)

pagosPromedioGenero.show(10, truncate = false)
println("üìä Ratio > 1.0 indica que hombres pagan m√°s; Ratio < 1.0 indica que mujeres pagan m√°s")

üî¢ CONSULTA DECIMAL 2: Ratio de pagos masculino/femenino por carrera

+------------------------------+-------------------+------------------+---------+-------------------+
|escuela                       |pago_prom_masculino|pago_prom_femenino|ratio_m_f|diferencia_pagos   |
+------------------------------+-------------------+------------------+---------+-------------------+
|ECOTURISMO                    |171.36150234741785 |164.43298969072166|1.0421   |6.928512656696199  |
|INGENIER√çA AGRON√ìMICA TROPICAL|175.58539205155748 |171.72413793103448|1.0225   |3.861254120523     |
|CONTABILIDAD                  |207.69230769230768 |203.90625         |1.0186   |3.786057692307679  |
|ECONOM√çA                      |206.14754098360655 |205.88235294117646|1.0013   |0.26518804243008276|
|INGENIER√çA CIVIL              |188.75471698113208 |192.94243070362472|0.9783   |-4.187713722492646 |
|INGENIER√çA DE ALIMENTOS       |168.35443037974684 |173.54916067146283|0.9701   |-5.1947302917159845|
+------------------------------+-------------------+------------------+---------+-------------------+

üìä Ratio > 1.0 indica que hombres pagan m√°s; Ratio < 1.0 indica que mujeres pagan m√°s
+------------------------------+-------------------+------------------+---------+-------------------+
|escuela                       |pago_prom_masculino|pago_prom_femenino|ratio_m_f|diferencia_pagos   |
+------------------------------+-------------------+------------------+---------+-------------------+
|ECOTURISMO                    |171.36150234741785 |164.43298969072166|1.0421   |6.928512656696199  |
|INGENIER√çA AGRON√ìMICA TROPICAL|175.58539205155748 |171.72413793103448|1.0225   |3.861254120523     |
|CONTABILIDAD                  |207.69230769230768 |203.90625         |1.0186   |3.786057692307679  |
|ECONOM√çA                      |206.14754098360655 |205.88235294117646|1.0013   |0.26518804243008276|
|INGENIER√çA CIVIL              |188.75471698113208 |192.94243070362472|0.9783   |-4.187713722492646 |
|INGENIER√çA DE ALIMENTOS       |168.35443037974684 |173.54916067146283|0.9701   |-5.1947302917159845|
+------------------------------+-------------------+------------------+---------+-------------------+

üìä Ratio > 1.0 indica que hombres pagan m√°s; Ratio < 1.0 indica que mujeres pagan m√°s

pagosPromedioGenero: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, pago_prom_masculino: double ... 3 more fields]

In [202]:
// CONSULTA DECIMAL 3: √çndice de diversidad de carreras por departamento (Shannon)
println("\nüî¢ CONSULTA DECIMAL 3: √çndice de diversidad acad√©mica por departamento")

// Primer MapReduce: Contar postulantes por carrera y departamento
val diversidadCarreras = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val departamento = row.getAs[String]("departamento")
    val escuela = row.getAs[String]("escuela")
    ((departamento, escuela), 1)
  })
  .reduceByKey(_ + _)
  // Segundo MapReduce: Agrupar por departamento
  .map { case ((departamento, escuela), count) => 
    (departamento, (escuela, count)) 
  }
  .groupByKey()
  // Tercer MapReduce: Calcular √≠ndice de Shannon
  .map { case (departamento, carreras) => 
    val carrerasList = carreras.toList
    val totalPostulantes = carrerasList.map(_._2).sum.toDouble
    val numeroCarreras = carrerasList.length.toDouble
    
    // Calcular √≠ndice de Shannon (diversidad)
    val indiceShannon = carrerasList.map { case (_, count) =>
      val proporcion = count.toDouble / totalPostulantes
      if (proporcion > 0) -proporcion * math.log(proporcion) else 0.0
    }.sum
    
    // Calcular √≠ndice de uniformidad (0-1)
    val uniformidad = if (numeroCarreras > 1) {
      indiceShannon / math.log(numeroCarreras)
    } else 0.0
    
    // Redondear valores
    val shannonRedondeado = BigDecimal(indiceShannon).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble
    val uniformidadRedondeada = BigDecimal(uniformidad).setScale(4, BigDecimal.RoundingMode.HALF_UP).toDouble
    
    (departamento, numeroCarreras.toInt, totalPostulantes.toInt, shannonRedondeado, uniformidadRedondeada)
  }
  .toDF("departamento", "num_carreras", "total_postulantes", "indice_shannon", "uniformidad")
  .orderBy(col("indice_shannon").desc)

diversidadCarreras.show(10)
println("üìà √çndice Shannon: Mayor valor = mayor diversidad acad√©mica")
println("üìä Uniformidad: 1.0 = perfecta distribuci√≥n, 0.0 = concentraci√≥n total")

üî¢ CONSULTA DECIMAL 3: √çndice de diversidad acad√©mica por departamento

+-------------+------------+-----------------+--------------+-----------+
| departamento|num_carreras|total_postulantes|indice_shannon|uniformidad|
+-------------+------------+-----------------+--------------+-----------+
|         LIMA|           6|               81|         1.482|     0.8271|
|        CUSCO|           6|             4483|        1.4764|      0.824|
|     APUR√çMAC|           6|               31|        1.4728|      0.822|
|        JUN√çN|           5|               16|        1.4615|     0.9081|
|      UCAYALI|           5|               19|        1.4122|     0.8775|
|     AYACUCHO|           6|              152|        1.3983|     0.7804|
|         PUNO|           6|               40|        1.3473|     0.7519|
|     AREQUIPA|           6|               30|        1.3449|     0.7506|
|MADRE DE DIOS|           5|               36|        1.2492|     0.7761|
|        TACNA|           3|                9|         0.995|     0.9057|
+-------------+------------+-----------------+--------------+-----------+
only showing top 10 rows

üìà √çndice Shannon: Mayor valor = mayor diversidad acad√©mica
üìä Uniformidad: 1.0 = perfecta distribuci√≥n, 0.0 = concentraci√≥n total
+-------------+------------+-----------------+--------------+-----------+
| departamento|num_carreras|total_postulantes|indice_shannon|uniformidad|
+-------------+------------+-----------------+--------------+-----------+
|         LIMA|           6|               81|         1.482|     0.8271|
|        CUSCO|           6|             4483|        1.4764|      0.824|
|     APUR√çMAC|           6|               31|        1.4728|      0.822|
|        JUN√çN|           5|               16|        1.4615|     0.9081|
|      UCAYALI|           5|               19|        1.4122|     0.8775|
|     AYACUCHO|           6|              152|        1.3983|     0.7804|
|         PUNO|           6|               40|        1.3473|     0.7519|
|     AREQUIPA|           6|               30|        1.3449|     0.7506|
|MADRE DE DIOS|           5|               36|        1.2492|     0.7761|
|        TACNA|           3|                9|         0.995|     0.9057|
+-------------+------------+-----------------+--------------+-----------+
only showing top 10 rows

üìà √çndice Shannon: Mayor valor = mayor diversidad acad√©mica
üìä Uniformidad: 1.0 = perfecta distribuci√≥n, 0.0 = concentraci√≥n total

diversidadCarreras: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, num_carreras: int ... 3 more fields]

In [203]:
// CONSULTA DECIMAL 4: Coeficiente de variaci√≥n de edades por modalidad
println("\nüî¢ CONSULTA DECIMAL 4: Variabilidad de edades por modalidad de ingreso")

// Primer MapReduce: Agrupar edades por modalidad
val coeficienteVariacion = spark.sql("SELECT * FROM postulantes WHERE edad IS NOT NULL").rdd
  .map(row => {
    val modalidad = row.getAs[String]("modalidad")
    val edad = row.getAs[Integer]("edad").toDouble
    (modalidad, edad)
  })
  .groupByKey()
  // Segundo MapReduce: Calcular estad√≠sticas por modalidad
  .map { case (modalidad, edades) => 
    val edadesList = edades.toList
    val n = edadesList.length.toDouble
    val promedio = edadesList.sum / n
    
    // Calcular varianza y desviaci√≥n est√°ndar
    val varianza = edadesList.map(edad => pow(edad - promedio, 2)).sum / n
    val desviacion = sqrt(varianza)
    
    // Calcular coeficiente de variaci√≥n (CV)
    val coefVariacion = if (promedio > 0) {
      (desviacion / promedio) * 100.0
    } else 0.0
    
    // Redondear valores
    val promedioRedondeado = BigDecimal(promedio).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
    val desviacionRedondeada = BigDecimal(desviacion).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble
    val cvRedondeado = BigDecimal(coefVariacion).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
    
    (modalidad, n.toInt, promedioRedondeado, desviacionRedondeada, cvRedondeado)
  }
  .toDF("modalidad", "total_postulantes", "edad_promedio", "desviacion_estandar", "coef_variacion_pct")
  .orderBy(col("coef_variacion_pct").desc)

coeficienteVariacion.show(10, truncate = false)
println("üìä CV < 15%: Baja variabilidad | CV 15-35%: Moderada | CV > 35%: Alta variabilidad")

üî¢ CONSULTA DECIMAL 4: Variabilidad de edades por modalidad de ingreso

+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+
|modalidad                                                        |total_postulantes|edad_promedio|desviacion_estandar|coef_variacion_pct|
+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+
|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |15               |25.6         |7.126              |27.83             |
|EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |9                |32.44        |7.455              |22.98             |
|ORDINARIO                                                        |2844             |20.78        |4.662              |22.44             |
|EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |754              |20.67        |3.994              |19.32             |
|EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |65               |22.28        |3.983              |17.88             |
|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|1093             |18.47        |1.374              |7.44              |
|EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |110              |18.16        |1.283              |7.06              |
|BECA 18                                                          |38               |19.37        |1.179              |6.09              |
+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+

üìä CV < 15%: Baja variabilidad | CV 15-35%: Moderada | CV > 35%: Alta variabilidad
+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+
|modalidad                                                        |total_postulantes|edad_promedio|desviacion_estandar|coef_variacion_pct|
+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+
|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |15               |25.6         |7.126              |27.83             |
|EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |9                |32.44        |7.455              |22.98             |
|ORDINARIO                                                        |2844             |20.78        |4.662              |22.44             |
|EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |754              |20.67        |3.994              |19.32             |
|EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |65               |22.28        |3.983              |17.88             |
|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|1093             |18.47        |1.374              |7.44              |
|EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |110              |18.16        |1.283              |7.06              |
|BECA 18                                                          |38               |19.37        |1.179              |6.09              |
+-----------------------------------------------------------------+-----------------+-------------+-------------------+------------------+

üìä CV < 15%: Baja variabilidad | CV 15-35%: Moderada | CV > 35%: Alta variabilidad

coeficienteVariacion: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [modalidad: string, total_postulantes: int ... 3 more fields]

In [204]:
// CONSULTA DECIMAL 5: Tasa de conversi√≥n acad√©mica (postulantes por carrera vs capacidad)
println("\nüî¢ CONSULTA DECIMAL 5: Densidad de postulaci√≥n y competitividad por carrera")

// Simulamos capacidades m√°ximas por carrera (en un caso real vendr√≠a de otra tabla)
val capacidadesCarrera = Map(
  "INGENIER√çA CIVIL" -> 150,
  "INGENIER√çA AGRON√ìMICA" -> 120,
  "INGENIER√çA DE ALIMENTOS" -> 80,
  "ECOTURISMO" -> 60,
  "ARQUITECTURA" -> 100
)

// Primer MapReduce: Contar postulantes por carrera
val competitividadCarreras = spark.sql("SELECT * FROM postulantes").rdd
  .map(row => {
    val escuela = row.getAs[String]("escuela")
    (escuela, 1)
  })
  .reduceByKey(_ + _)
  // Segundo MapReduce: Calcular m√©tricas de competitividad
  .map { case (escuela, totalPostulantes) => 
    val capacidad = capacidadesCarrera.getOrElse(escuela, 50) // Capacidad por defecto
    
    // Calcular m√©tricas decimales
    val ratioCompetencia = totalPostulantes.toDouble / capacidad.toDouble
    val porcentajeOcupacion = (capacidad.toDouble / totalPostulantes.toDouble) * 100.0
    val indiceSelectividad = if (totalPostulantes > 0) {
      (capacidad.toDouble / totalPostulantes.toDouble) * 100.0
    } else 0.0
    
    // Redondear valores
    val ratioRedondeado = BigDecimal(ratioCompetencia).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble
    val ocupacionRedondeada = BigDecimal(porcentajeOcupacion).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
    val selectividadRedondeada = BigDecimal(indiceSelectividad).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
    
    (escuela, totalPostulantes, capacidad, ratioRedondeado, ocupacionRedondeada, selectividadRedondeada)
  }
  .toDF("escuela", "total_postulantes", "capacidad_estimada", "ratio_competencia", "pct_ocupacion", "indice_selectividad")
  .orderBy(col("ratio_competencia").desc)

competitividadCarreras.show(15, truncate = false)
println("üìä Ratio Competencia: Postulantes por vacante disponible")
println("üìà % Ocupaci√≥n: Porcentaje de capacidad utilizada")
println("üéØ √çndice Selectividad: % de estudiantes que pueden ser admitidos")

üî¢ CONSULTA DECIMAL 5: Densidad de postulaci√≥n y competitividad por carrera

+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+
|escuela                       |total_postulantes|capacidad_estimada|ratio_competencia|pct_ocupacion|indice_selectividad|
+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+
|INGENIER√çA AGRON√ìMICA TROPICAL|1529             |50                |30.58            |3.27         |3.27               |
|INGENIER√çA CIVIL              |1813             |150               |12.087           |8.27         |8.27               |
|INGENIER√çA DE ALIMENTOS       |744              |80                |9.3              |10.75        |10.75              |
|ECOTURISMO                    |506              |60                |8.433            |11.86        |11.86              |
|ECONOM√çA                      |207              |50                |4.14             |24.15        |24.15              |
|CONTABILIDAD                  |129              |50                |2.58             |38.76        |38.76              |
+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+

üìä Ratio Competencia: Postulantes por vacante disponible
üìà % Ocupaci√≥n: Porcentaje de capacidad utilizada
üéØ √çndice Selectividad: % de estudiantes que pueden ser admitidos
+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+
|escuela                       |total_postulantes|capacidad_estimada|ratio_competencia|pct_ocupacion|indice_selectividad|
+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+
|INGENIER√çA AGRON√ìMICA TROPICAL|1529             |50                |30.58            |3.27         |3.27               |
|INGENIER√çA CIVIL              |1813             |150               |12.087           |8.27         |8.27               |
|INGENIER√çA DE ALIMENTOS       |744              |80                |9.3              |10.75        |10.75              |
|ECOTURISMO                    |506              |60                |8.433            |11.86        |11.86              |
|ECONOM√çA                      |207              |50                |4.14             |24.15        |24.15              |
|CONTABILIDAD                  |129              |50                |2.58             |38.76        |38.76              |
+------------------------------+-----------------+------------------+-----------------+-------------+-------------------+

üìä Ratio Competencia: Postulantes por vacante disponible
üìà % Ocupaci√≥n: Porcentaje de capacidad utilizada
üéØ √çndice Selectividad: % de estudiantes que pueden ser admitidos

capacidadesCarrera: Map[String, Int] = Map(
  "INGENIER√çA DE ALIMENTOS" -> 80,
  "ECOTURISMO" -> 60,
  "INGENIER√çA CIVIL" -> 150,
  "INGENIER√çA AGRON√ìMICA" -> 120,
  "ARQUITECTURA" -> 100
)
competitividadCarreras: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, total_postulantes: int ... 4 more fields]

## üîç SECCI√ìN 5: CONSULTAS B√ÅSICAS CON SPARK SQL

Implementaci√≥n de operaciones fundamentales usando DataFrame API y Spark SQL.

In [205]:
// CONSULTA B√ÅSICA 1: Mostrar columnas espec√≠ficas
println("üîç CONSULTA B√ÅSICA 1: Selecci√≥n de columnas espec√≠ficas")

// Seleccionar solo algunas columnas
val columnasEspecificas = spark.sql("SELECT * FROM postulantes")
  .select("uuid", "escuela", "modalidad", "sexo", "edad", "departamento")

columnasEspecificas.show(10)
println(s"üìä Total de registros: ${columnasEspecificas.count()}")

// Alternativa usando DataFrame API
val seleccionColumnas = spark.sql("SELECT * FROM postulantes").select(
  col("uuid"),
  col("escuela"),
  col("modalidad"),
  col("pago"),
  col("edad")
)

println("\nüìã Usando DataFrame API:")
seleccionColumnas.show(5)

üîç CONSULTA B√ÅSICA 1: Selecci√≥n de columnas espec√≠ficas

+--------------------+--------------------+--------------------+---------+----+------------+
|                uuid|             escuela|           modalidad|     sexo|edad|departamento|
+--------------------+--------------------+--------------------+---------+----+------------+
|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  19|       CUSCO|
|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...| FEMENINO|  20|       CUSCO|
|b0139127f9cb989ac...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| FEMENINO|  21|       CUSCO|
|112ebb674090e2d3d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|90a484b69506d0ad3...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|38c975de6a895f557...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|3aaa3650e2a0464b4...|          ECOTURISMO|PRIMERA OPORTUNID...| FEMENINO|  20|       CUSCO|
+--------------------+--------------------+--------------------+---------+----+------------+
only showing top 10 rows

+--------------------+--------------------+--------------------+---------+----+------------+
|                uuid|             escuela|           modalidad|     sexo|edad|departamento|
+--------------------+--------------------+--------------------+---------+----+------------+
|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  19|       CUSCO|
|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...| FEMENINO|  20|       CUSCO|
|b0139127f9cb989ac...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| FEMENINO|  21|       CUSCO|
|112ebb674090e2d3d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|90a484b69506d0ad3...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|38c975de6a895f557...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...|MASCULINO|  20|       CUSCO|
|3aaa3650e2a0464b4...|          ECOTURISMO|PRIMERA OPORTUNID...| FEMENINO|  20|       CUSCO|
+--------------------+--------------------+--------------------+---------+----+------------+
only showing top 10 rows

üìä Total de registros: 4928

üìã Usando DataFrame API:
üìä Total de registros: 4928

üìã Usando DataFrame API:
+--------------------+--------------------+--------------------+----+----+
|                uuid|             escuela|           modalidad|pago|edad|
+--------------------+--------------------+--------------------+----+----+
|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| 250|  20|
|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...| 250|  20|
|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| 250|  19|
|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...| 250|  20|
|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...| 200|  20|
+--------------------+--------------------+--------------------+----+----+
only showing top 5 rows

+--------------------+--------------------+--------------------+----+----+
|                uuid|             escuela|           modalidad|pago|edad|
+--------------------+--------------------+--------------------+----+----+
|eb35ae9c84a9e2393...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| 250|  20|
|37aa167373b8ddd18...|          ECOTURISMO|PRIMERA OPORTUNID...| 250|  20|
|41b4b33d0e004fc7d...|    INGENIER√çA CIVIL|PRIMERA OPORTUNID...| 250|  19|
|60d7c1c310363c4b2...|INGENIER√çA AGRON√ì...|PRIMERA OPORTUNID...| 250|  20|
|28a9a7dc2ae0a4c9d...|INGENIER√çA DE ALI...|PRIMERA OPORTUNID...| 200|  20|
+--------------------+--------------------+--------------------+----+----+
only showing top 5 rows

columnasEspecificas: DataFrame = [uuid: string, escuela: string ... 4 more fields]
seleccionColumnas: DataFrame = [uuid: string, escuela: string ... 3 more fields]

In [206]:
// CONSULTA B√ÅSICA 2: Utilizar el comando filter
println("\nüîç CONSULTA B√ÅSICA 2: Aplicando filtros")

// Filtrar postulantes de INGENIER√çA CIVIL con pago mayor a 100
val filtroCarrera = spark.sql("SELECT * FROM postulantes")
  .filter(col("escuela") === "INGENIER√çA CIVIL")
  .filter(col("pago") > 100)
  .filter(col("edad").between(18, 25))

filtroCarrera.show(10)
println(s"üìä Postulantes de Ingenier√≠a Civil (18-25 a√±os, pago > 100): ${filtroCarrera.count()}")

// Filtros m√∫ltiples con condiciones complejas
val filtroComplejo = spark.sql("SELECT * FROM postulantes")
  .filter(
    col("sexo") === "FEMENINO" && 
    col("departamento").isin("LIMA", "AREQUIPA", "CUSCO") &&
    col("tiene_discapacidad") === "NO"
  )

println(f"\nüë© Mujeres sin discapacidad de Lima, Arequipa o Cusco: ${filtroComplejo.count()}")
filtroComplejo.select("escuela", "departamento", "modalidad").show(10)

üîç CONSULTA B√ÅSICA 2: Aplicando filtros

+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|fecha_corte|                uuid|         escuela|           modalidad|annio_postulacion|ubigeo|departamento|    provincia|            distrito|ubigeo_origen|departamento_origen|provincia_origen|distrito_origen|ubigeo_ie|departamento_ie| provincia_ie|distrito_ie|edad|     sexo|pago| idioma|lee|escribe|habla|tiene_discapacidad|tipo_comunidad|comunidad|
+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|   20230626|eb35ae9c84a9e2393...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80108|          CUSCO|        CUSCO|    WANCHAQ|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|41b4b33d0e004fc7d...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|b0139127f9cb989ac...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  21| FEMENINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|112ebb674090e2d3d...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80906|       CUSCO|LA CONVENCI√ìN|           QUELLOUNO|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Quechua| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|90a484b69506d0ad3...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|38c975de6a895f557...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|b3505291148cdbfcf...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80906|       CUSCO|LA CONVENCI√ìN|           QUELLOUNO|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|95f9ffe9d4b261269...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020|150111|        LIMA|        LIMA |         EL AGUSTINO|       150111|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|   150111|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|ba873abbf0f681486...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|25ffa3bc5aab513e6...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020|150135|        LIMA|        LIMA |SAN MARTIN DE PORRES|       150135|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|   150135|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  21|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
only showing top 10 rows

+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|fecha_corte|                uuid|         escuela|           modalidad|annio_postulacion|ubigeo|departamento|    provincia|            distrito|ubigeo_origen|departamento_origen|provincia_origen|distrito_origen|ubigeo_ie|departamento_ie| provincia_ie|distrito_ie|edad|     sexo|pago| idioma|lee|escribe|habla|tiene_discapacidad|tipo_comunidad|comunidad|
+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
|   20230626|eb35ae9c84a9e2393...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80108|          CUSCO|        CUSCO|    WANCHAQ|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|41b4b33d0e004fc7d...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|b0139127f9cb989ac...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  21| FEMENINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|112ebb674090e2d3d...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80906|       CUSCO|LA CONVENCI√ìN|           QUELLOUNO|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Quechua| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|90a484b69506d0ad3...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|38c975de6a895f557...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|b3505291148cdbfcf...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80906|       CUSCO|LA CONVENCI√ìN|           QUELLOUNO|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|95f9ffe9d4b261269...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020|150111|        LIMA|        LIMA |         EL AGUSTINO|       150111|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|   150111|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  20|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|ba873abbf0f681486...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020| 80901|       CUSCO|LA CONVENCI√ìN|           SANTA ANA|        80901|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|    80901|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  19|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
|   20230626|25ffa3bc5aab513e6...|INGENIER√çA CIVIL|PRIMERA OPORTUNID...|             2020|150135|        LIMA|        LIMA |SAN MARTIN DE PORRES|       150135|              CUSCO|   LA CONVENCI√ìN|      SANTA ANA|   150135|          CUSCO|LA CONVENCI√ìN|  SANTA ANA|  21|MASCULINO| 250|Espa√±ol| SI|     NO|   NO|                NO|       NINGUNA|  NINGUNA|
+-----------+--------------------+----------------+--------------------+-----------------+------+------------+-------------+--------------------+-------------+-------------------+----------------+---------------+---------+---------------+-------------+-----------+----+---------+----+-------+---+-------+-----+------------------+--------------+---------+
only showing top 10 rows

üìä Postulantes de Ingenier√≠a Civil (18-25 a√±os, pago > 100): 1049
üìä Postulantes de Ingenier√≠a Civil (18-25 a√±os, pago > 100): 1049

üë© Mujeres sin discapacidad de Lima, Arequipa o Cusco: 1475

üë© Mujeres sin discapacidad de Lima, Arequipa o Cusco: 1475
+--------------------+------------+--------------------+
|             escuela|departamento|           modalidad|
+--------------------+------------+--------------------+
|INGENIER√çA DE ALI...|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|          ECOTURISMO|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA AGRON√ì...|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA AGRON√ì...|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA DE ALI...|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|          ECOTURISMO|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA DE ALI...|       CUSCO|           ORDINARIO|
+--------------------+------------+--------------------+
only showing top 10 rows

+--------------------+------------+--------------------+
|             escuela|departamento|           modalidad|
+--------------------+------------+--------------------+
|INGENIER√çA DE ALI...|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|          ECOTURISMO|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA AGRON√ì...|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA AGRON√ì...|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA DE ALI...|       CUSCO|PRIMERA OPORTUNID...|
|    INGENIER√çA CIVIL|       CUSCO|PRIMERA OPORTUNID...|
|          ECOTURISMO|       CUSCO|PRIMERA OPORTUNID...|
|INGENIER√çA DE ALI...|       CUSCO|           ORDINARIO|
+--------------------+------------+--------------------+
only showing top 10 rows

filtroCarrera: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [fecha_corte: int, uuid: string ... 25 more fields]
filtroComplejo: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [fecha_corte: int, uuid: string ... 25 more fields]

In [207]:
// CONSULTA B√ÅSICA 3: Mostrar informaci√≥n ordenada
println("\nüîç CONSULTA B√ÅSICA 3: Informaci√≥n ordenada")

// Ordenar por m√∫ltiples columnas
val datosOrdenados = spark.sql("SELECT * FROM postulantes")
  .select("uuid", "escuela", "edad", "pago", "departamento")
  .orderBy(col("pago").desc, col("edad").asc)

println("üìä Postulantes ordenados por pago (desc) y edad (asc):")
datosOrdenados.show(15)

// Ordenar por departamento y mostrar estad√≠sticas
val ordenadoPorRegion = spark.sql("SELECT * FROM postulantes")
  .select("departamento", "escuela", "sexo", "modalidad")
  .orderBy(col("departamento").asc, col("escuela").asc)

println("\nüåç Ordenado por regi√≥n y carrera:")
ordenadoPorRegion.show(10)

üîç CONSULTA B√ÅSICA 3: Informaci√≥n ordenada
üìä Postulantes ordenados por pago (desc) y edad (asc):

üìä Postulantes ordenados por pago (desc) y edad (asc):
+--------------------+--------------------+----+----+------------+
|                uuid|             escuela|edad|pago|departamento|
+--------------------+--------------------+----+----+------------+
|10c78e221144ae1a4...|INGENIER√çA AGRON√ì...|  23| 670|       CUSCO|
|a2b9bb2f6cada7b14...|INGENIER√çA DE ALI...|  24| 670|       CUSCO|
|ad73d49724aff6044...|    INGENIER√çA CIVIL|  24| 670|       CUSCO|
|9ccd26197f39a7bd5...|    INGENIER√çA CIVIL|  30| 670|       CUSCO|
|9955eb96199807478...|    INGENIER√çA CIVIL|  31| 670|       CUSCO|
|b1ce2631353d05962...|    INGENIER√çA CIVIL|  36| 670|       CUSCO|
|47a8d23129f81caf5...|    INGENIER√çA CIVIL|  40| 670|    AYACUCHO|
|ac6f6a84abb226401...|    INGENIER√çA CIVIL|  40| 670|    APUR√çMAC|
|4c7d00d8349d30f5d...|    INGENIER√çA CIVIL|  44| 670|       CUSCO|
|dd5ed3ed82dc53a81...|    INGENIER√çA CIVIL|  19| 300|       TACNA|
|bcc3723097525afe0...|          ECOTURISMO|  21| 300|       CUSCO|
|83cdd031386e5bac7...|INGENIER√çA AGRON√ì...|  21| 300|       CUSCO|
|57bd78e7a87550836...|INGENIER√çA AGRON√ì...|  27| 300|       CUSCO|
|7272c2cacc30daf73...|          ECOTURISMO|  16| 250|       CUSCO|
|8e9fada267e9d84e1...|    INGENIER√çA CIVIL|  16| 250|       CUSCO|
+--------------------+--------------------+----+----+------------+
only showing top 15 rows


üåç Ordenado por regi√≥n y carrera:
+--------------------+--------------------+----+----+------------+
|                uuid|             escuela|edad|pago|departamento|
+--------------------+--------------------+----+----+------------+
|10c78e221144ae1a4...|INGENIER√çA AGRON√ì...|  23| 670|       CUSCO|
|a2b9bb2f6cada7b14...|INGENIER√çA DE ALI...|  24| 670|       CUSCO|
|ad73d49724aff6044...|    INGENIER√çA CIVIL|  24| 670|       CUSCO|
|9ccd26197f39a7bd5...|    INGENIER√çA CIVIL|  30| 670|       CUSCO|
|9955eb96199807478...|    INGENIER√çA CIVIL|  31| 670|       CUSCO|
|b1ce2631353d05962...|    INGENIER√çA CIVIL|  36| 670|       CUSCO|
|47a8d23129f81caf5...|    INGENIER√çA CIVIL|  40| 670|    AYACUCHO|
|ac6f6a84abb226401...|    INGENIER√çA CIVIL|  40| 670|    APUR√çMAC|
|4c7d00d8349d30f5d...|    INGENIER√çA CIVIL|  44| 670|       CUSCO|
|dd5ed3ed82dc53a81...|    INGENIER√çA CIVIL|  19| 300|       TACNA|
|bcc3723097525afe0...|          ECOTURISMO|  21| 300|       CUSCO|
|83cdd031386e5bac7...|INGENIER√çA AGRON√ì...|  21| 300|       CUSCO|
|57bd78e7a87550836...|INGENIER√çA AGRON√ì...|  27| 300|       CUSCO|
|7272c2cacc30daf73...|          ECOTURISMO|  16| 250|       CUSCO|
|8e9fada267e9d84e1...|    INGENIER√çA CIVIL|  16| 250|       CUSCO|
+--------------------+--------------------+----+----+------------+
only showing top 15 rows


üåç Ordenado por regi√≥n y carrera:
+------------+--------------------+---------+--------------------+
|departamento|             escuela|     sexo|           modalidad|
+------------+--------------------+---------+--------------------+
|    APUR√çMAC|        CONTABILIDAD| FEMENINO|           ORDINARIO|
|    APUR√çMAC|            ECONOM√çA|MASCULINO|           ORDINARIO|
|    APUR√çMAC|            ECONOM√çA|MASCULINO|           ORDINARIO|
|    APUR√çMAC|          ECOTURISMO|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO| FEMENINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO| FEMENINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|INGENIER√çA AGRON√ì...|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|INGENIER√çA AGRON√ì...|MASCULINO|           ORDINARIO|
|    APUR√çMAC|INGENIER√çA AGRON√ì...| FEMENINO|           ORDINARIO|
+------------+--------------------+---------+--------------------+
only showing top 10 rows

+------------+--------------------+---------+--------------------+
|departamento|             escuela|     sexo|           modalidad|
+------------+--------------------+---------+--------------------+
|    APUR√çMAC|        CONTABILIDAD| FEMENINO|           ORDINARIO|
|    APUR√çMAC|            ECONOM√çA|MASCULINO|           ORDINARIO|
|    APUR√çMAC|            ECONOM√çA|MASCULINO|           ORDINARIO|
|    APUR√çMAC|          ECOTURISMO|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO| FEMENINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO| FEMENINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|          ECOTURISMO|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|INGENIER√çA AGRON√ì...|MASCULINO|PRIMERA OPORTUNID...|
|    APUR√çMAC|INGENIER√çA AGRON√ì...|MASCULINO|           ORDINARIO|
|    APUR√çMAC|INGENIER√çA AGRON√ì...| FEMENINO|           ORDINARIO|
+------------+--------------------+---------+--------------------+
only showing top 10 rows

datosOrdenados: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, escuela: string ... 3 more fields]
ordenadoPorRegion: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, escuela: string ... 2 more fields]

In [208]:
// CONSULTA B√ÅSICA 4: Utilizar groupBy y count
println("\nüîç CONSULTA B√ÅSICA 4: Agrupaciones con count")

// Contar postulantes por carrera
val conteoCarreras = spark.sql("SELECT * FROM postulantes")
  .groupBy("escuela")
  .count()
  .orderBy(col("count").desc)

println("üìä Postulantes por carrera:")
conteoCarreras.show()

// Agrupaci√≥n m√∫ltiple: por departamento y sexo
val conteoMultiple = spark.sql("SELECT * FROM postulantes")
  .groupBy("departamento", "sexo")
  .count()
  .orderBy(col("departamento").asc, col("count").desc)

println("\nüèõÔ∏è Postulantes por departamento y sexo:")
conteoMultiple.show(15)

// Agrupaci√≥n con filtro previo
val conteoFiltrado = spark.sql("SELECT * FROM postulantes")
  .filter(col("edad").between(18, 22))
  .groupBy("modalidad")
  .count()
  .orderBy(col("count").desc)

println("\nüéì J√≥venes (18-22 a√±os) por modalidad:")
conteoFiltrado.show()

üîç CONSULTA B√ÅSICA 4: Agrupaciones con count

üìä Postulantes por carrera:
üìä Postulantes por carrera:
+--------------------+-----+
|             escuela|count|
+--------------------+-----+
|    INGENIER√çA CIVIL| 1813|
|INGENIER√çA AGRON√ì...| 1529|
|INGENIER√çA DE ALI...|  744|
|          ECOTURISMO|  506|
|            ECONOM√çA|  207|
|        CONTABILIDAD|  129|
+--------------------+-----+


üèõÔ∏è Postulantes por departamento y sexo:
+--------------------+-----+
|             escuela|count|
+--------------------+-----+
|    INGENIER√çA CIVIL| 1813|
|INGENIER√çA AGRON√ì...| 1529|
|INGENIER√çA DE ALI...|  744|
|          ECOTURISMO|  506|
|            ECONOM√çA|  207|
|        CONTABILIDAD|  129|
+--------------------+-----+


üèõÔ∏è Postulantes por departamento y sexo:
+------------+---------+-----+
|departamento|     sexo|count|
+------------+---------+-----+
|    APUR√çMAC|MASCULINO|   20|
|    APUR√çMAC| FEMENINO|   11|
|    AREQUIPA| FEMENINO|   15|
|    AREQUIPA|MASCULINO|   15|
|    AYACUCHO|MASCULINO|   99|
|    AYACUCHO| FEMENINO|   53|
|   CAJAMARCA| FEMENINO|    4|
|   CAJAMARCA|MASCULINO|    1|
|      CALLAO|MASCULINO|    2|
|      CALLAO| FEMENINO|    1|
|       CUSCO|MASCULINO| 2721|
|       CUSCO| FEMENINO| 1762|
|HUANCAVELICA|MASCULINO|    2|
|     HU√ÅNUCO|MASCULINO|    3|
|     HU√ÅNUCO| FEMENINO|    2|
+------------+---------+-----+
only showing top 15 rows


üéì J√≥venes (18-22 a√±os) por modalidad:
+------------+---------+-----+
|departamento|     sexo|count|
+------------+---------+-----+
|    APUR√çMAC|MASCULINO|   20|
|    APUR√çMAC| FEMENINO|   11|
|    AREQUIPA| FEMENINO|   15|
|    AREQUIPA|MASCULINO|   15|
|    AYACUCHO|MASCULINO|   99|
|    AYACUCHO| FEMENINO|   53|
|   CAJAMARCA| FEMENINO|    4|
|   CAJAMARCA|MASCULINO|    1|
|      CALLAO|MASCULINO|    2|
|      CALLAO| FEMENINO|    1|
|       CUSCO|MASCULINO| 2721|
|       CUSCO| FEMENINO| 1762|
|HUANCAVELICA|MASCULINO|    2|
|     HU√ÅNUCO|MASCULINO|    3|
|     HU√ÅNUCO| FEMENINO|    2|
+------------+---------+-----+
only showing top 15 rows


üéì J√≥venes (18-22 a√±os) por modalidad:
+--------------------+-----+
|           modalidad|count|
+--------------------+-----+
|           ORDINARIO| 1687|
|PRIMERA OPORTUNID...|  757|
|EXTRAORDINARIO-CO...|  500|
|EXTRAORDINARIO-PR...|   73|
|EXTRAORDINARIO-VI...|   40|
|             BECA 18|   37|
|EXTRAORDINARIO-PE...|    7|
+--------------------+-----+

+--------------------+-----+
|           modalidad|count|
+--------------------+-----+
|           ORDINARIO| 1687|
|PRIMERA OPORTUNID...|  757|
|EXTRAORDINARIO-CO...|  500|
|EXTRAORDINARIO-PR...|   73|
|EXTRAORDINARIO-VI...|   40|
|             BECA 18|   37|
|EXTRAORDINARIO-PE...|    7|
+--------------------+-----+

conteoCarreras: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, count: bigint]
conteoMultiple: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, sexo: string ... 1 more field]
conteoFiltrado: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [modalidad: string, count: bigint]

In [209]:
// CONSULTA B√ÅSICA 5: Promedio de una columna
println("\nüîç CONSULTA B√ÅSICA 5: Promedio de columnas num√©ricas")

// Promedio de edad por carrera
val promedioEdadCarrera = spark.sql("SELECT * FROM postulantes")
  .filter(col("edad").isNotNull)
  .groupBy("escuela")
  .agg(avg("edad").alias("edad_promedio"))
  .orderBy(col("edad_promedio").desc)

println("üìä Edad promedio por carrera:")
promedioEdadCarrera.show()

// Promedio de pagos por departamento
val promedioPagoDept = spark.sql("SELECT * FROM postulantes")
  .filter(col("pago").isNotNull && col("pago") > 0)
  .groupBy("departamento")
  .agg(
    avg("pago").alias("pago_promedio"),
    count("*").alias("total_postulantes")
  )
  .orderBy(col("pago_promedio").desc)

println("\nüí∞ Pago promedio por departamento:")
promedioPagoDept.show()

// M√∫ltiples promedios
val estadisticasGenerales = spark.sql("SELECT * FROM postulantes")
  .filter(col("edad").isNotNull && col("pago").isNotNull && col("pago") > 0)
  .agg(
    avg("edad").alias("edad_promedio_general"),
    avg("pago").alias("pago_promedio_general"),
    count("*").alias("total_registros")
  )

println("\nüìà Estad√≠sticas generales:")
estadisticasGenerales.show()

üîç CONSULTA B√ÅSICA 5: Promedio de columnas num√©ricas
üìä Edad promedio por carrera:

üìä Edad promedio por carrera:
+--------------------+------------------+
|             escuela|     edad_promedio|
+--------------------+------------------+
|            ECONOM√çA|20.502415458937197|
|    INGENIER√çA CIVIL| 20.42746828461114|
|INGENIER√çA AGRON√ì...|20.199476782210596|
|INGENIER√çA DE ALI...|20.052419354838708|
|          ECOTURISMO|20.033596837944664|
|        CONTABILIDAD|19.434108527131784|
+--------------------+------------------+

+--------------------+------------------+
|             escuela|     edad_promedio|
+--------------------+------------------+
|            ECONOM√çA|20.502415458937197|
|    INGENIER√çA CIVIL| 20.42746828461114|
|INGENIER√çA AGRON√ì...|20.199476782210596|
|INGENIER√çA DE ALI...|20.052419354838708|
|          ECOTURISMO|20.033596837944664|
|        CONTABILIDAD|19.434108527131784|
+--------------------+------------------+


üí∞ Pago promedio por departamento:

üí∞ Pago promedio por departamento:
+-------------+------------------+-----------------+
| departamento|     pago_promedio|total_postulantes|
+-------------+------------------+-----------------+
|      HU√ÅNUCO|             220.0|                5|
|     APUR√çMAC| 216.7741935483871|               31|
|        TACNA|216.66666666666666|                9|
|    CAJAMARCA|             210.0|                5|
|     AREQUIPA|208.33333333333334|               30|
|         LIMA|206.17283950617283|               81|
|MADRE DE DIOS|204.28571428571428|               35|
|       CALLAO|             200.0|                3|
|   LAMBAYEQUE|             200.0|                2|
|        PIURA|             200.0|                1|
| HUANCAVELICA|             200.0|                2|
|       LORETO|             200.0|                4|
|     MOQUEGUA|             200.0|                2|
|       √ÅNCASH|             200.0|                4|
|          ICA|             200.0|                1|
|     AYACUCHO|199.77272727272728|              132|
|         PUNO|            198.75|               40|
|        JUN√çN|            193.75|               16|
|        CUSCO|179.08396946564886|             4454|
|      UCAYALI|144.73684210526315|               19|
+-------------+------------------+-----------------+
only showing top 20 rows


üìà Estad√≠sticas generales:
+-------------+------------------+-----------------+
| departamento|     pago_promedio|total_postulantes|
+-------------+------------------+-----------------+
|      HU√ÅNUCO|             220.0|                5|
|     APUR√çMAC| 216.7741935483871|               31|
|        TACNA|216.66666666666666|                9|
|    CAJAMARCA|             210.0|                5|
|     AREQUIPA|208.33333333333334|               30|
|         LIMA|206.17283950617283|               81|
|MADRE DE DIOS|204.28571428571428|               35|
|       CALLAO|             200.0|                3|
|   LAMBAYEQUE|             200.0|                2|
|        PIURA|             200.0|                1|
| HUANCAVELICA|             200.0|                2|
|       LORETO|             200.0|                4|
|     MOQUEGUA|             200.0|                2|
|       √ÅNCASH|             200.0|                4|
|          ICA|             200.0|                1|
|     AYACUCHO|199.77272727272728|              132|
|         PUNO|            198.75|               40|
|        JUN√çN|            193.75|               16|
|        CUSCO|179.08396946564886|             4454|
|      UCAYALI|144.73684210526315|               19|
+-------------+------------------+-----------------+
only showing top 20 rows


üìà Estad√≠sticas generales:
+---------------------+---------------------+---------------+
|edad_promedio_general|pago_promedio_general|total_registros|
+---------------------+---------------------+---------------+
|     20.2129971299713|   180.97170971709718|           4878|
+---------------------+---------------------+---------------+

+---------------------+---------------------+---------------+
|edad_promedio_general|pago_promedio_general|total_registros|
+---------------------+---------------------+---------------+
|     20.2129971299713|   180.97170971709718|           4878|
+---------------------+---------------------+---------------+

promedioEdadCarrera: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [escuela: string, edad_promedio: double]
promedioPagoDept: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [departamento: string, pago_promedio: double ... 1 more field]
estadisticasGenerales: DataFrame = [edad_promedio_general: double, pago_promedio_general: double ... 1 more field]

## üîó SECCI√ìN 6: CINCO CONSULTAS CON JOIN

Consultas utilizando diferentes tipos de JOIN para combinar datos. Como trabajamos con una sola tabla, crearemos vistas derivadas para demostrar las operaciones JOIN.

In [210]:
// PREPARACI√ìN: Crear tablas derivadas para JOIN
println("üîß PREPARACI√ìN: Creando vistas derivadas para consultas JOIN")

// Vista 1: Resumen por carreras
val resumenCarreras = spark.sql("SELECT * FROM postulantes")
  .groupBy("escuela")
  .agg(
    count("*").alias("total_postulantes"),
    avg("edad").alias("edad_promedio"),
    avg("pago").alias("pago_promedio")
  )

resumenCarreras.createOrReplaceTempView("resumen_carreras")

// Vista 2: Resumen por departamentos
val resumenDepartamentos = spark.sql("SELECT * FROM postulantes")
  .groupBy("departamento")
  .agg(
    count("*").alias("total_estudiantes"),
    countDistinct("escuela").alias("carreras_ofertadas")
  )

resumenDepartamentos.createOrReplaceTempView("resumen_departamentos")

// Vista 3: Postulantes destacados (pago alto)
val postulantesDestacados = spark.sql("SELECT * FROM postulantes")
  .filter(col("pago") > 200)
  .select("uuid", "escuela", "departamento", "pago", "edad")

postulantesDestacados.createOrReplaceTempView("postulantes_destacados")

// Vista 4: Distribuci√≥n por sexo y modalidad
val distribucionSexoModalidad = spark.sql("SELECT * FROM postulantes")
  .groupBy("sexo", "modalidad")
  .agg(count("*").alias("cantidad"))

distribucionSexoModalidad.createOrReplaceTempView("distribucion_sexo_modalidad")

println("‚úÖ Vistas preparadas para consultas JOIN")

üîß PREPARACI√ìN: Creando vistas derivadas para consultas JOIN

‚úÖ Vistas preparadas para consultas JOIN
‚úÖ Vistas preparadas para consultas JOIN

resumenCarreras: DataFrame = [escuela: string, total_postulantes: bigint ... 2 more fields]
resumenDepartamentos: DataFrame = [departamento: string, total_estudiantes: bigint ... 1 more field]
postulantesDestacados: DataFrame = [uuid: string, escuela: string ... 3 more fields]
distribucionSexoModalidad: DataFrame = [sexo: string, modalidad: string ... 1 more field]

In [211]:
// JOIN 1: Inner Join - Postulantes con estad√≠sticas de su carrera
println("\nüîó JOIN 1: Inner Join - Postulantes con estad√≠sticas de carrera")

val join1 = spark.sql("SELECT * FROM postulantes").as("p")
  .join(
    resumenCarreras.as("rc"),
    col("p.escuela") === col("rc.escuela"),
    "inner"
  )
  .select(
    col("p.uuid"),
    col("p.escuela"),
    col("p.edad"),
    col("p.pago"),
    col("rc.total_postulantes"),
    col("rc.edad_promedio"),
    col("rc.pago_promedio")
  )
  .orderBy(col("rc.total_postulantes").desc)

join1.show(10)
println(s"üìä Registros con informaci√≥n de carrera: ${join1.count()}")

üîó JOIN 1: Inner Join - Postulantes con estad√≠sticas de carrera

+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
|                uuid|         escuela|edad|pago|total_postulantes|    edad_promedio|    pago_promedio|
+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
|eb35ae9c84a9e2393...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|41b4b33d0e004fc7d...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|b0139127f9cb989ac...|INGENIER√çA CIVIL|  21| 250|             1813|20.42746828461114|187.8599007170436|
|112ebb674090e2d3d...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|90a484b69506d0ad3...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|38c975de6a895f557...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|b3505291148cdbfcf...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|95f9ffe9d4b261269...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|ba873abbf0f681486...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|25ffa3bc5aab513e6...|INGENIER√çA CIVIL|  21| 250|             1813|20.42746828461114|187.8599007170436|
+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
only showing top 10 rows

+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
|                uuid|         escuela|edad|pago|total_postulantes|    edad_promedio|    pago_promedio|
+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
|eb35ae9c84a9e2393...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|41b4b33d0e004fc7d...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|b0139127f9cb989ac...|INGENIER√çA CIVIL|  21| 250|             1813|20.42746828461114|187.8599007170436|
|112ebb674090e2d3d...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|90a484b69506d0ad3...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|38c975de6a895f557...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|b3505291148cdbfcf...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|95f9ffe9d4b261269...|INGENIER√çA CIVIL|  20| 250|             1813|20.42746828461114|187.8599007170436|
|ba873abbf0f681486...|INGENIER√çA CIVIL|  19| 250|             1813|20.42746828461114|187.8599007170436|
|25ffa3bc5aab513e6...|INGENIER√çA CIVIL|  21| 250|             1813|20.42746828461114|187.8599007170436|
+--------------------+----------------+----+----+-----------------+-----------------+-----------------+
only showing top 10 rows

üìä Registros con informaci√≥n de carrera: 4928
üìä Registros con informaci√≥n de carrera: 4928

join1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, escuela: string ... 5 more fields]

In [212]:
// JOIN 2: Left Join - Todos los postulantes con info de departamento
println("\nüîó JOIN 2: Left Join - Postulantes con estad√≠sticas departamentales")

val join2 = spark.sql("SELECT * FROM postulantes").as("p")
  .join(
    resumenDepartamentos.as("rd"),
    col("p.departamento") === col("rd.departamento"),
    "left"
  )
  .select(
    col("p.uuid"),
    col("p.departamento"),
    col("p.escuela"),
    col("rd.total_estudiantes"),
    col("rd.carreras_ofertadas")
  )
  .filter(col("rd.total_estudiantes").isNotNull)
  .orderBy(col("rd.total_estudiantes").desc)

join2.show(10)
println(s"üåç Postulantes con info departamental: ${join2.count()}")

üîó JOIN 2: Left Join - Postulantes con estad√≠sticas departamentales

+--------------------+------------+--------------------+-----------------+------------------+
|                uuid|departamento|             escuela|total_estudiantes|carreras_ofertadas|
+--------------------+------------+--------------------+-----------------+------------------+
|eb35ae9c84a9e2393...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|b3505291148cdbfcf...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|37aa167373b8ddd18...|       CUSCO|          ECOTURISMO|             4483|                 6|
|41b4b33d0e004fc7d...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|60d7c1c310363c4b2...|       CUSCO|INGENIER√çA AGRON√ì...|             4483|                 6|
|28a9a7dc2ae0a4c9d...|       CUSCO|INGENIER√çA DE ALI...|             4483|                 6|
|b0139127f9cb989ac...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|112ebb674090e2d3d...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|90a484b69506d0ad3...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|38c975de6a895f557...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
+--------------------+------------+--------------------+-----------------+------------------+
only showing top 10 rows

+--------------------+------------+--------------------+-----------------+------------------+
|                uuid|departamento|             escuela|total_estudiantes|carreras_ofertadas|
+--------------------+------------+--------------------+-----------------+------------------+
|eb35ae9c84a9e2393...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|b3505291148cdbfcf...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|37aa167373b8ddd18...|       CUSCO|          ECOTURISMO|             4483|                 6|
|41b4b33d0e004fc7d...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|60d7c1c310363c4b2...|       CUSCO|INGENIER√çA AGRON√ì...|             4483|                 6|
|28a9a7dc2ae0a4c9d...|       CUSCO|INGENIER√çA DE ALI...|             4483|                 6|
|b0139127f9cb989ac...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|112ebb674090e2d3d...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|90a484b69506d0ad3...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
|38c975de6a895f557...|       CUSCO|    INGENIER√çA CIVIL|             4483|                 6|
+--------------------+------------+--------------------+-----------------+------------------+
only showing top 10 rows

üåç Postulantes con info departamental: 4928
üåç Postulantes con info departamental: 4928

join2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, departamento: string ... 3 more fields]

In [213]:
// JOIN 3: Right Join - Solo postulantes destacados con info completa
println("\nüîó JOIN 3: Right Join - Postulantes destacados con contexto")

val join3 = resumenCarreras.as("rc")
  .join(
    postulantesDestacados.as("pd"),
    col("rc.escuela") === col("pd.escuela"),
    "right"
  )
  .select(
    col("pd.uuid"),
    col("pd.escuela"),
    col("pd.pago"),
    col("pd.edad"),
    col("rc.total_postulantes"),
    col("rc.pago_promedio")
  )
  .orderBy(col("pd.pago").desc)

join3.show(10)
println(s"‚≠ê Postulantes destacados con contexto: ${join3.count()}")

üîó JOIN 3: Right Join - Postulantes destacados con contexto

+--------------------+--------------------+----+----+-----------------+------------------+
|                uuid|             escuela|pago|edad|total_postulantes|     pago_promedio|
+--------------------+--------------------+----+----+-----------------+------------------+
|47a8d23129f81caf5...|    INGENIER√çA CIVIL| 670|  40|             1813| 187.8599007170436|
|b1ce2631353d05962...|    INGENIER√çA CIVIL| 670|  36|             1813| 187.8599007170436|
|9955eb96199807478...|    INGENIER√çA CIVIL| 670|  31|             1813| 187.8599007170436|
|4c7d00d8349d30f5d...|    INGENIER√çA CIVIL| 670|  44|             1813| 187.8599007170436|
|ac6f6a84abb226401...|    INGENIER√çA CIVIL| 670|  40|             1813| 187.8599007170436|
|9ccd26197f39a7bd5...|    INGENIER√çA CIVIL| 670|  30|             1813| 187.8599007170436|
|ad73d49724aff6044...|    INGENIER√çA CIVIL| 670|  24|             1813| 187.8599007170436|
|10c78e221144ae1a4...|INGENIER√çA AGRON√ì...| 670|  23|             1529|172.05362982341398|
|a2b9bb2f6cada7b14...|INGENIER√çA DE ALI...| 670|  24|              744| 168.7768817204301|
|57bd78e7a87550836...|INGENIER√çA AGRON√ì...| 300|  27|             1529|172.05362982341398|
+--------------------+--------------------+----+----+-----------------+------------------+
only showing top 10 rows

+--------------------+--------------------+----+----+-----------------+------------------+
|                uuid|             escuela|pago|edad|total_postulantes|     pago_promedio|
+--------------------+--------------------+----+----+-----------------+------------------+
|47a8d23129f81caf5...|    INGENIER√çA CIVIL| 670|  40|             1813| 187.8599007170436|
|b1ce2631353d05962...|    INGENIER√çA CIVIL| 670|  36|             1813| 187.8599007170436|
|9955eb96199807478...|    INGENIER√çA CIVIL| 670|  31|             1813| 187.8599007170436|
|4c7d00d8349d30f5d...|    INGENIER√çA CIVIL| 670|  44|             1813| 187.8599007170436|
|ac6f6a84abb226401...|    INGENIER√çA CIVIL| 670|  40|             1813| 187.8599007170436|
|9ccd26197f39a7bd5...|    INGENIER√çA CIVIL| 670|  30|             1813| 187.8599007170436|
|ad73d49724aff6044...|    INGENIER√çA CIVIL| 670|  24|             1813| 187.8599007170436|
|10c78e221144ae1a4...|INGENIER√çA AGRON√ì...| 670|  23|             1529|172.05362982341398|
|a2b9bb2f6cada7b14...|INGENIER√çA DE ALI...| 670|  24|              744| 168.7768817204301|
|57bd78e7a87550836...|INGENIER√çA AGRON√ì...| 300|  27|             1529|172.05362982341398|
+--------------------+--------------------+----+----+-----------------+------------------+
only showing top 10 rows

‚≠ê Postulantes destacados con contexto: 402
‚≠ê Postulantes destacados con contexto: 402

join3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, escuela: string ... 4 more fields]

In [214]:
// JOIN 4: Full Outer Join - Comparaci√≥n completa entre dos vistas
println("\nüîó JOIN 4: Full Outer Join - Comparaci√≥n completa de datos")

// Crear vista adicional para el full outer join
val postulantesCarrera = spark.sql("SELECT * FROM postulantes")
  .groupBy("escuela")
  .agg(
    sum(when(col("sexo") === "MASCULINO", 1).otherwise(0)).alias("hombres"),
    sum(when(col("sexo") === "FEMENINO", 1).otherwise(0)).alias("mujeres")
  )

val join4 = resumenCarreras.as("rc")
  .join(
    postulantesCarrera.as("pc"),
    col("rc.escuela") === col("pc.escuela"),
    "full_outer"
  )
  .select(
    coalesce(col("rc.escuela"), col("pc.escuela")).alias("carrera"),
    col("rc.total_postulantes"),
    col("pc.hombres"),
    col("pc.mujeres"),
    col("rc.edad_promedio")
  )
  .orderBy(col("total_postulantes").desc_nulls_last)

join4.show(10)
println(s"üîÑ Registros en comparaci√≥n completa: ${join4.count()}")

üîó JOIN 4: Full Outer Join - Comparaci√≥n completa de datos

+--------------------+-----------------+-------+-------+------------------+
|             carrera|total_postulantes|hombres|mujeres|     edad_promedio|
+--------------------+-----------------+-------+-------+------------------+
|    INGENIER√çA CIVIL|             1813|   1339|    474| 20.42746828461114|
|INGENIER√çA AGRON√ì...|             1529|    941|    588|20.199476782210596|
|INGENIER√çA DE ALI...|              744|    319|    425|20.052419354838708|
|          ECOTURISMO|              506|    214|    292|20.033596837944664|
|            ECONOM√çA|              207|    122|     85|20.502415458937197|
|        CONTABILIDAD|              129|     65|     64|19.434108527131784|
+--------------------+-----------------+-------+-------+------------------+

+--------------------+-----------------+-------+-------+------------------+
|             carrera|total_postulantes|hombres|mujeres|     edad_promedio|
+--------------------+-----------------+-------+-------+------------------+
|    INGENIER√çA CIVIL|             1813|   1339|    474| 20.42746828461114|
|INGENIER√çA AGRON√ì...|             1529|    941|    588|20.199476782210596|
|INGENIER√çA DE ALI...|              744|    319|    425|20.052419354838708|
|          ECOTURISMO|              506|    214|    292|20.033596837944664|
|            ECONOM√çA|              207|    122|     85|20.502415458937197|
|        CONTABILIDAD|              129|     65|     64|19.434108527131784|
+--------------------+-----------------+-------+-------+------------------+

üîÑ Registros en comparaci√≥n completa: 6
üîÑ Registros en comparaci√≥n completa: 6

postulantesCarrera: DataFrame = [escuela: string, hombres: bigint ... 1 more field]
join4: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [carrera: string, total_postulantes: bigint ... 3 more fields]

In [215]:
// JOIN 5: Cross Join (limitado) - Combinaciones de modalidad y sexo
println("\nüîó JOIN 5: Cross Join - An√°lisis de combinaciones")

// Obtener modalidades √∫nicas
val modalidadesUnicas = spark.sql("SELECT DISTINCT modalidad FROM postulantes")
modalidadesUnicas.createOrReplaceTempView("modalidades_unicas")

// Obtener sexos √∫nicos 
val sexosUnicos = spark.sql("SELECT DISTINCT sexo FROM postulantes")
sexosUnicos.createOrReplaceTempView("sexos_unicos")

// Cross join limitado con agregaci√≥n posterior
val join5 = modalidadesUnicas.as("m")
  .crossJoin(sexosUnicos.as("s"))
  .join(
    distribucionSexoModalidad.as("dsm"),
    col("m.modalidad") === col("dsm.modalidad") && 
    col("s.sexo") === col("dsm.sexo"),
    "left"
  )
  .select(
    col("m.modalidad"),
    col("s.sexo"),
    coalesce(col("dsm.cantidad"), lit(0)).alias("cantidad")
  )
  .orderBy(col("modalidad"), col("sexo"))

join5.show()
println(s"‚ùå Todas las combinaciones posibles: ${join5.count()}")
println("Nota: Cross join muestra todas las combinaciones posibles de modalidad x sexo")

üîó JOIN 5: Cross Join - An√°lisis de combinaciones

+--------------------+---------+--------+
|           modalidad|     sexo|cantidad|
+--------------------+---------+--------+
|             BECA 18| FEMENINO|      28|
|             BECA 18|MASCULINO|      10|
|EXTRAORDINARIO-CO...| FEMENINO|     308|
|EXTRAORDINARIO-CO...|MASCULINO|     446|
|EXTRAORDINARIO-GR...| FEMENINO|       3|
|EXTRAORDINARIO-GR...|MASCULINO|       6|
|EXTRAORDINARIO-PE...| FEMENINO|       2|
|EXTRAORDINARIO-PE...|MASCULINO|      13|
|EXTRAORDINARIO-PR...| FEMENINO|      55|
|EXTRAORDINARIO-PR...|MASCULINO|      55|
|EXTRAORDINARIO-VI...| FEMENINO|      24|
|EXTRAORDINARIO-VI...|MASCULINO|      41|
|           ORDINARIO| FEMENINO|    1027|
|           ORDINARIO|MASCULINO|    1817|
|PRIMERA OPORTUNID...| FEMENINO|     481|
|PRIMERA OPORTUNID...|MASCULINO|     612|
+--------------------+---------+--------+

+--------------------+---------+--------+
|           modalidad|     sexo|cantidad|
+--------------------+---------+--------+
|             BECA 18| FEMENINO|      28|
|             BECA 18|MASCULINO|      10|
|EXTRAORDINARIO-CO...| FEMENINO|     308|
|EXTRAORDINARIO-CO...|MASCULINO|     446|
|EXTRAORDINARIO-GR...| FEMENINO|       3|
|EXTRAORDINARIO-GR...|MASCULINO|       6|
|EXTRAORDINARIO-PE...| FEMENINO|       2|
|EXTRAORDINARIO-PE...|MASCULINO|      13|
|EXTRAORDINARIO-PR...| FEMENINO|      55|
|EXTRAORDINARIO-PR...|MASCULINO|      55|
|EXTRAORDINARIO-VI...| FEMENINO|      24|
|EXTRAORDINARIO-VI...|MASCULINO|      41|
|           ORDINARIO| FEMENINO|    1027|
|           ORDINARIO|MASCULINO|    1817|
|PRIMERA OPORTUNID...| FEMENINO|     481|
|PRIMERA OPORTUNID...|MASCULINO|     612|
+--------------------+---------+--------+

‚ùå Todas las combinaciones posibles: 16
Nota: Cross join muestra todas las combinaciones posibles de modalidad x sexo
‚ùå Todas las combinaciones posibles: 16
Nota: Cross join muestra todas las combinaciones posibles de modalidad x sexo

modalidadesUnicas: DataFrame = [modalidad: string]
sexosUnicos: DataFrame = [sexo: string]
join5: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [modalidad: string, sexo: string ... 1 more field]

## ‚ö° SECCI√ìN 7: CINCO CONSULTAS USANDO FUNCIONES DE SPARK

Consultas utilizando funciones avanzadas de `org.apache.spark.sql.functions._` para manipulaci√≥n y an√°lisis de datos.

In [216]:
// FUNCI√ìN 1: Funciones de cadena y manipulaci√≥n de texto
println("‚ö° FUNCI√ìN 1: Manipulaci√≥n de cadenas y texto")

val funcionesCadena = spark.sql("SELECT * FROM postulantes")
  .select(
    col("uuid"),
    col("escuela"),
    // Funciones de cadena
    upper(col("escuela")).alias("escuela_mayuscula"),
    lower(col("departamento")).alias("departamento_minuscula"),
    length(col("escuela")).alias("longitud_carrera"),
    substring(col("uuid"), 1, 4).alias("prefijo_uuid"),
    concat(col("departamento"), lit(" - "), col("escuela")).alias("ubicacion_carrera"),
    // Funciones condicionales
    when(col("sexo") === "MASCULINO", "M")
      .when(col("sexo") === "FEMENINO", "F")
      .otherwise("N/A").alias("sexo_abrev"),
    // Funciones de reemplazo
    regexp_replace(col("escuela"), "INGENIER√çA", "ING.").alias("carrera_abrev")
  )
  .filter(col("longitud_carrera") > 10)
  .orderBy(col("longitud_carrera").desc)

funcionesCadena.show(10, truncate = false)
println(s"üìù Registros procesados con funciones de cadena: ${funcionesCadena.count()}")

‚ö° FUNCI√ìN 1: Manipulaci√≥n de cadenas y texto

+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
|uuid                                                            |escuela                       |escuela_mayuscula             |departamento_minuscula|longitud_carrera|prefijo_uuid|ubicacion_carrera                     |sexo_abrev|carrera_abrev           |
+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
|ca3c1c3907c5bdf3e0361051164a46705045cd507d7fe88dfb9e4dffd7da3343|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |ca3c        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|cebdb9a70a27c53767b8fc280aabe2cd798b5ce0759aeea10ade4468c2a18f7e|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |cebd        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|4a20039c68cc4982fa90e853c2b9d70785cf7144a9cc5205bffab9651764f2be|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |4a20        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|90a484b69506d0ad31c61d54e28eb0290a468a3859651bb78ea54e36403ce0f9|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |90a4        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|67237ff1fd69c3760f829fcb3e7f156ee3b3f08348e4a5142247bc835d9ded40|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |6723        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|edea1d6518e117f1d134737916f28d2309e7aa6c34500b45af621b5e6a31af4a|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |edea        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|4eb433e8c5949f00bdb7499946b2c13b567caaca8c2d9965a22c13254167df5e|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |4eb4        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|3fffe578482ebe0751b1f708052f31215d089b19eadc73a371e5c5d298938fbd|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |3fff        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|ee9887ba1f4a66c70a8117b911ce57e2ab85c2ea784e87cb48e73a834ad48fc0|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |ee98        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|2e44a760e1d38bfb01ef5473a4e19483a80c36ba140a74df7413ed8650b49541|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |2e44        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
only showing top 10 rows

+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
|uuid                                                            |escuela                       |escuela_mayuscula             |departamento_minuscula|longitud_carrera|prefijo_uuid|ubicacion_carrera                     |sexo_abrev|carrera_abrev           |
+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
|ca3c1c3907c5bdf3e0361051164a46705045cd507d7fe88dfb9e4dffd7da3343|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |ca3c        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|cebdb9a70a27c53767b8fc280aabe2cd798b5ce0759aeea10ade4468c2a18f7e|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |cebd        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|4a20039c68cc4982fa90e853c2b9d70785cf7144a9cc5205bffab9651764f2be|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |4a20        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|90a484b69506d0ad31c61d54e28eb0290a468a3859651bb78ea54e36403ce0f9|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |90a4        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|67237ff1fd69c3760f829fcb3e7f156ee3b3f08348e4a5142247bc835d9ded40|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |6723        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|edea1d6518e117f1d134737916f28d2309e7aa6c34500b45af621b5e6a31af4a|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |edea        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|F         |ING. AGRON√ìMICA TROPICAL|
|4eb433e8c5949f00bdb7499946b2c13b567caaca8c2d9965a22c13254167df5e|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |4eb4        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|3fffe578482ebe0751b1f708052f31215d089b19eadc73a371e5c5d298938fbd|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |3fff        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|ee9887ba1f4a66c70a8117b911ce57e2ab85c2ea784e87cb48e73a834ad48fc0|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |ee98        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
|2e44a760e1d38bfb01ef5473a4e19483a80c36ba140a74df7413ed8650b49541|INGENIER√çA AGRON√ìMICA TROPICAL|INGENIER√çA AGRON√ìMICA TROPICAL|cusco                 |30              |2e44        |CUSCO - INGENIER√çA AGRON√ìMICA TROPICAL|M         |ING. AGRON√ìMICA TROPICAL|
+----------------------------------------------------------------+------------------------------+------------------------------+----------------------+----------------+------------+--------------------------------------+----------+------------------------+
only showing top 10 rows

üìù Registros procesados con funciones de cadena: 4215
üìù Registros procesados con funciones de cadena: 4215

funcionesCadena: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, escuela: string ... 7 more fields]

In [217]:
// FUNCI√ìN 2: Funciones matem√°ticas y estad√≠sticas
println("\n‚ö° FUNCI√ìN 2: Funciones matem√°ticas y estad√≠sticas")

import org.apache.spark.sql.expressions.Window

val funcionesMatematicas = spark.sql("""
  SELECT 
    uuid,
    edad,
    pago,
    -- Funciones matem√°ticas
    ROUND(pago / 10.0, 2) as pago_decenas,
    SQRT(pago) as raiz_pago,
    POWER(edad, 2) as edad_cuadrado,
    ABS(edad - 20) as diferencia_edad_20,
    -- Funciones de agregaci√≥n en ventana
    LOG(pago + 1) as log_pago,
    EXP(edad / 100.0) as exp_edad,
    -- Rangos y percentiles
    NTILE(4) OVER (ORDER BY pago) as cuartil_pago,
    PERCENT_RANK() OVER (ORDER BY edad) as percentil_edad
  FROM postulantes 
  WHERE edad IS NOT NULL AND pago IS NOT NULL AND pago > 0
  ORDER BY pago DESC
""")

funcionesMatematicas.show(10)
println(s"üî¢ Registros con c√°lculos matem√°ticos: ${funcionesMatematicas.count()}")

‚ö° FUNCI√ìN 2: Funciones matem√°ticas y estad√≠sticas

+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
|                uuid|edad|pago|pago_decenas|         raiz_pago|edad_cuadrado|diferencia_edad_20|         log_pago|          exp_edad|cuartil_pago|     percentil_edad|
+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
|47a8d23129f81caf5...|  40| 670|       67.00| 25.88435821108957|       1600.0|                20|6.508769136971682|1.4918246976412703|           4| 0.9938486774656551|
|10c78e221144ae1a4...|  23| 670|       67.00| 25.88435821108957|        529.0|                 3|6.508769136971682|1.2586000099294778|           4|  0.834939511995079|
|a2b9bb2f6cada7b14...|  24| 670|       67.00| 25.88435821108957|        576.0|                 4|6.508769136971682|1.2712491503214047|           4| 0.8650809924133689|
|ad73d49724aff6044...|  24| 670|       67.00| 25.88435821108957|        576.0|                 4|6.508769136971682|1.2712491503214047|           4| 0.8650809924133689|
|9ccd26197f39a7bd5...|  30| 670|       67.00| 25.88435821108957|        900.0|                10|6.508769136971682|1.3498588075760032|           4| 0.9594012712733238|
|9955eb96199807478...|  31| 670|       67.00| 25.88435821108957|        961.0|                11|6.508769136971682|1.3634251141321778|           4| 0.9659626819766249|
|b1ce2631353d05962...|  36| 670|       67.00| 25.88435821108957|       1296.0|                16|6.508769136971682|1.4333294145603404|           4| 0.9858519581710068|
|ac6f6a84abb226401...|  40| 670|       67.00| 25.88435821108957|       1600.0|                20|6.508769136971682|1.4918246976412703|           4| 0.9938486774656551|
|4c7d00d8349d30f5d...|  44| 670|       67.00| 25.88435821108957|       1936.0|                24|6.508769136971682| 1.552707218511336|           4| 0.9979495591552183|
|dd5ed3ed82dc53a81...|  19| 300|       30.00|17.320508075688775|        361.0|                 1|5.707110264748875|1.2092495976572515|           4|0.40209144966167726|
+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
only showing top 10 rows

+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
|                uuid|edad|pago|pago_decenas|         raiz_pago|edad_cuadrado|diferencia_edad_20|         log_pago|          exp_edad|cuartil_pago|     percentil_edad|
+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
|47a8d23129f81caf5...|  40| 670|       67.00| 25.88435821108957|       1600.0|                20|6.508769136971682|1.4918246976412703|           4| 0.9938486774656551|
|10c78e221144ae1a4...|  23| 670|       67.00| 25.88435821108957|        529.0|                 3|6.508769136971682|1.2586000099294778|           4|  0.834939511995079|
|a2b9bb2f6cada7b14...|  24| 670|       67.00| 25.88435821108957|        576.0|                 4|6.508769136971682|1.2712491503214047|           4| 0.8650809924133689|
|ad73d49724aff6044...|  24| 670|       67.00| 25.88435821108957|        576.0|                 4|6.508769136971682|1.2712491503214047|           4| 0.8650809924133689|
|9ccd26197f39a7bd5...|  30| 670|       67.00| 25.88435821108957|        900.0|                10|6.508769136971682|1.3498588075760032|           4| 0.9594012712733238|
|9955eb96199807478...|  31| 670|       67.00| 25.88435821108957|        961.0|                11|6.508769136971682|1.3634251141321778|           4| 0.9659626819766249|
|b1ce2631353d05962...|  36| 670|       67.00| 25.88435821108957|       1296.0|                16|6.508769136971682|1.4333294145603404|           4| 0.9858519581710068|
|ac6f6a84abb226401...|  40| 670|       67.00| 25.88435821108957|       1600.0|                20|6.508769136971682|1.4918246976412703|           4| 0.9938486774656551|
|4c7d00d8349d30f5d...|  44| 670|       67.00| 25.88435821108957|       1936.0|                24|6.508769136971682| 1.552707218511336|           4| 0.9979495591552183|
|dd5ed3ed82dc53a81...|  19| 300|       30.00|17.320508075688775|        361.0|                 1|5.707110264748875|1.2092495976572515|           4|0.40209144966167726|
+--------------------+----+----+------------+------------------+-------------+------------------+-----------------+------------------+------------+-------------------+
only showing top 10 rows

üî¢ Registros con c√°lculos matem√°ticos: 4878
üî¢ Registros con c√°lculos matem√°ticos: 4878

import org.apache.spark.sql.expressions.Window
funcionesMatematicas: DataFrame = [uuid: string, edad: int ... 9 more fields]

In [218]:
// FUNCI√ìN 3: Funciones de fecha y tiempo
println("\n‚ö° FUNCI√ìN 3: Funciones de fecha y tiempo")

val funcionesFecha = spark.sql("SELECT * FROM postulantes")
  .select(
    col("uuid"),
    col("annio_postulacion"),
    col("edad"),
    // Crear fecha de nacimiento estimada
    (col("annio_postulacion") - col("edad")).alias("anio_nacimiento_estimado"),
    // Funciones de fecha
    current_date().alias("fecha_actual"),
    current_timestamp().alias("timestamp_actual"),
    // Fecha de postulaci√≥n estimada (asumiendo enero)
    to_date(concat(col("annio_postulacion"), lit("-01-01"))).alias("fecha_postulacion"),
    // Calcular diferencia con fecha actual
    year(current_date()).alias("anio_actual"),
    (year(current_date()) - col("annio_postulacion")).alias("anios_desde_postulacion"),
    // Funciones de formato
    date_format(current_date(), "dd/MM/yyyy").alias("fecha_formateada"),
    // Categorizar por d√©cada de nacimiento
    when(col("annio_postulacion") - col("edad") >= 2000, "2000s")
      .when(col("annio_postulacion") - col("edad") >= 1990, "1990s")
      .when(col("annio_postulacion") - col("edad") >= 1980, "1980s")
      .otherwise("Anterior").alias("decada_nacimiento")
  )
  .filter(col("edad").isNotNull)
  .orderBy(col("anio_nacimiento_estimado").desc)

funcionesFecha.show(10)
println(s"üìÖ Registros con informaci√≥n temporal: ${funcionesFecha.count()}")

‚ö° FUNCI√ìN 3: Funciones de fecha y tiempo

+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
|                uuid|annio_postulacion|edad|anio_nacimiento_estimado|fecha_actual|    timestamp_actual|fecha_postulacion|anio_actual|anios_desde_postulacion|fecha_formateada|decada_nacimiento|
+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
|8e9fada267e9d84e1...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|0ea9b8ce3a8b82f1e...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|a903a265f074c6e0e...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|726415ad54cb80bf3...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|b85aa222b2bdbf78d...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|7272c2cacc30daf73...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|197c174025e0e463a...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|8976580caf06327e1...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|8bb8c9f717423110c...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|4f86c0da7bc372ee8...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
only showing top 10 rows

+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
|                uuid|annio_postulacion|edad|anio_nacimiento_estimado|fecha_actual|    timestamp_actual|fecha_postulacion|anio_actual|anios_desde_postulacion|fecha_formateada|decada_nacimiento|
+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
|8e9fada267e9d84e1...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|0ea9b8ce3a8b82f1e...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|a903a265f074c6e0e...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|726415ad54cb80bf3...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|b85aa222b2bdbf78d...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|7272c2cacc30daf73...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|197c174025e0e463a...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|8976580caf06327e1...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|8bb8c9f717423110c...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
|4f86c0da7bc372ee8...|             2023|  16|                    2007|  2025-06-09|2025-06-09 23:22:...|       2023-01-01|       2025|                      2|      09/06/2025|            2000s|
+--------------------+-----------------+----+------------------------+------------+--------------------+-----------------+-----------+-----------------------+----------------+-----------------+
only showing top 10 rows

üìÖ Registros con informaci√≥n temporal: 4928
üìÖ Registros con informaci√≥n temporal: 4928

funcionesFecha: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, annio_postulacion: int ... 9 more fields]

In [219]:
// FUNCI√ìN 4: Funciones de agregaci√≥n y ventana
println("\n‚ö° FUNCI√ìN 4: Funciones de agregaci√≥n y ventana")

import org.apache.spark.sql.expressions.Window

// Definir ventanas
val ventanaDepartamento = Window.partitionBy("departamento").orderBy(col("pago").desc)
val ventanaCarrera = Window.partitionBy("escuela")
val ventanaGeneral = Window.orderBy(col("pago").desc)

val funcionesVentana = spark.sql("SELECT * FROM postulantes")
  .filter(col("pago").isNotNull && col("pago") > 0)
  .select(
    col("uuid"),
    col("departamento"),
    col("escuela"),
    col("pago"),
    col("edad"),
    // Funciones de ranking
    row_number().over(ventanaDepartamento).alias("ranking_pago_dept"),
    rank().over(ventanaCarrera.orderBy(col("pago").desc)).alias("rank_pago_carrera"),
    dense_rank().over(ventanaGeneral).alias("dense_rank_general"),
    // Funciones de agregaci√≥n en ventana
    sum(col("pago")).over(ventanaCarrera).alias("total_pago_carrera"),
    avg(col("edad")).over(ventanaDepartamento).alias("edad_prom_dept"),
    max(col("pago")).over(ventanaCarrera).alias("pago_max_carrera"),
    min(col("pago")).over(ventanaCarrera).alias("pago_min_carrera"),
    // Funciones de desplazamiento
    lag(col("pago"), 1).over(ventanaDepartamento).alias("pago_anterior"),
    lead(col("pago"), 1).over(ventanaDepartamento).alias("pago_siguiente"),
    // Percentiles
    percent_rank().over(ventanaGeneral).alias("percentil_pago")
  )
  .orderBy(col("pago").desc)

funcionesVentana.show(15)
println(s"üé• Registros con funciones de ventana: ${funcionesVentana.count()}")

‚ö° FUNCI√ìN 4: Funciones de agregaci√≥n y ventana

+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
|                uuid|departamento|             escuela|pago|edad|ranking_pago_dept|rank_pago_carrera|dense_rank_general|total_pago_carrera|    edad_prom_dept|pago_max_carrera|pago_min_carrera|pago_anterior|pago_siguiente|      percentil_pago|
+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
|10c78e221144ae1a4...|       CUSCO|INGENIER√çA AGRON√ì...| 670|  23|                1|                1|                 1|            263070|30.285714285714285|             670|              50|         NULL|           670|                 0.0|
|ac6f6a84abb226401...|    APUR√çMAC|    INGENIER√çA CIVIL| 670|  40|                1|                1|                 1|            340590|              40.0|             670|              50|         NULL|           250|                 0.0|
|47a8d23129f81caf5...|    AYACUCHO|    INGENIER√çA CIVIL| 670|  40|                1|                1|                 1|            340590|              40.0|             670|              50|         NULL|           250|                 0.0|
|b1ce2631353d05962...|       CUSCO|    INGENIER√çA CIVIL| 670|  36|                2|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|9955eb96199807478...|       CUSCO|    INGENIER√çA CIVIL| 670|  31|                3|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|4c7d00d8349d30f5d...|       CUSCO|    INGENIER√çA CIVIL| 670|  44|                4|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|9ccd26197f39a7bd5...|       CUSCO|    INGENIER√çA CIVIL| 670|  30|                5|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|ad73d49724aff6044...|       CUSCO|    INGENIER√çA CIVIL| 670|  24|                7|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           300|                 0.0|
|a2b9bb2f6cada7b14...|       CUSCO|INGENIER√çA DE ALI...| 670|  24|                6|                1|                 1|            125570|30.285714285714285|             670|              50|          670|           670|                 0.0|
|bcc3723097525afe0...|       CUSCO|          ECOTURISMO| 300|  21|                9|                1|                 2|             84350|              28.1|             300|              50|          300|           300|0.001845396760303...|
|83cdd031386e5bac7...|       CUSCO|INGENIER√çA AGRON√ì...| 300|  21|                8|                2|                 2|            263070|              28.1|             670|              50|          670|           300|0.001845396760303...|
|57bd78e7a87550836...|       CUSCO|INGENIER√çA AGRON√ì...| 300|  27|               10|                2|                 2|            263070|              28.1|             670|              50|          300|           250|0.001845396760303...|
|dd5ed3ed82dc53a81...|       TACNA|    INGENIER√çA CIVIL| 300|  19|                1|                8|                 2|            340590|              19.0|             670|              50|         NULL|           250|0.001845396760303...|
|7e089089b7c0692d5...|       CUSCO|            ECONOM√çA| 250|  20|              270|                1|                 3|             42650| 20.12849162011173|             250|             200|          250|           250|0.002665573098216...|
|20eb5312a72e783dd...|       CUSCO|            ECONOM√çA| 250|  24|              309|                1|                 3|             42650| 20.12849162011173|             250|             200|          250|           250|0.002665573098216...|
+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
only showing top 15 rows

+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
|                uuid|departamento|             escuela|pago|edad|ranking_pago_dept|rank_pago_carrera|dense_rank_general|total_pago_carrera|    edad_prom_dept|pago_max_carrera|pago_min_carrera|pago_anterior|pago_siguiente|      percentil_pago|
+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
|10c78e221144ae1a4...|       CUSCO|INGENIER√çA AGRON√ì...| 670|  23|                1|                1|                 1|            263070|30.285714285714285|             670|              50|         NULL|           670|                 0.0|
|ac6f6a84abb226401...|    APUR√çMAC|    INGENIER√çA CIVIL| 670|  40|                1|                1|                 1|            340590|              40.0|             670|              50|         NULL|           250|                 0.0|
|47a8d23129f81caf5...|    AYACUCHO|    INGENIER√çA CIVIL| 670|  40|                1|                1|                 1|            340590|              40.0|             670|              50|         NULL|           250|                 0.0|
|b1ce2631353d05962...|       CUSCO|    INGENIER√çA CIVIL| 670|  36|                2|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|9955eb96199807478...|       CUSCO|    INGENIER√çA CIVIL| 670|  31|                3|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|4c7d00d8349d30f5d...|       CUSCO|    INGENIER√çA CIVIL| 670|  44|                4|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|9ccd26197f39a7bd5...|       CUSCO|    INGENIER√çA CIVIL| 670|  30|                5|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           670|                 0.0|
|ad73d49724aff6044...|       CUSCO|    INGENIER√çA CIVIL| 670|  24|                7|                1|                 1|            340590|30.285714285714285|             670|              50|          670|           300|                 0.0|
|a2b9bb2f6cada7b14...|       CUSCO|INGENIER√çA DE ALI...| 670|  24|                6|                1|                 1|            125570|30.285714285714285|             670|              50|          670|           670|                 0.0|
|bcc3723097525afe0...|       CUSCO|          ECOTURISMO| 300|  21|                9|                1|                 2|             84350|              28.1|             300|              50|          300|           300|0.001845396760303...|
|83cdd031386e5bac7...|       CUSCO|INGENIER√çA AGRON√ì...| 300|  21|                8|                2|                 2|            263070|              28.1|             670|              50|          670|           300|0.001845396760303...|
|57bd78e7a87550836...|       CUSCO|INGENIER√çA AGRON√ì...| 300|  27|               10|                2|                 2|            263070|              28.1|             670|              50|          300|           250|0.001845396760303...|
|dd5ed3ed82dc53a81...|       TACNA|    INGENIER√çA CIVIL| 300|  19|                1|                8|                 2|            340590|              19.0|             670|              50|         NULL|           250|0.001845396760303...|
|7e089089b7c0692d5...|       CUSCO|            ECONOM√çA| 250|  20|              270|                1|                 3|             42650| 20.12849162011173|             250|             200|          250|           250|0.002665573098216...|
|20eb5312a72e783dd...|       CUSCO|            ECONOM√çA| 250|  24|              309|                1|                 3|             42650| 20.12849162011173|             250|             200|          250|           250|0.002665573098216...|
+--------------------+------------+--------------------+----+----+-----------------+-----------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------+--------------------+
only showing top 15 rows

üé• Registros con funciones de ventana: 4878
üé• Registros con funciones de ventana: 4878

import org.apache.spark.sql.expressions.Window
ventanaDepartamento: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@2bbab9bf
ventanaCarrera: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@3ae351a3
ventanaGeneral: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@1851eddd
funcionesVentana: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, departamento: string ... 13 more fields]

In [220]:
// FUNCI√ìN 5: Funciones de colecci√≥n y estructuras complejas
println("\n‚ö° FUNCI√ìN 5: Funciones de colecci√≥n y estructuras")

val funcionesColeccion = spark.sql("SELECT * FROM postulantes")
  .select(
    col("uuid"),
    col("departamento"),
    col("escuela"),
    col("modalidad"),
    col("sexo"),
    col("pago"),
    // Crear arrays y estructuras
    array(col("departamento"), col("escuela")).alias("ubicacion_array"),
    struct(
      col("sexo").alias("genero"),
      col("edad").alias("a√±os"),
      col("modalidad").alias("tipo_ingreso")
    ).alias("perfil_estudiante"),
    // Funciones de mapeo
    map(
      lit("departamento"), col("departamento"),
      lit("carrera"), col("escuela"),
      lit("pago"), col("pago").cast("string")
    ).alias("datos_mapa"),
    // Crear JSON
    to_json(
      struct(
        col("uuid").alias("id"),
        col("escuela").alias("career"),
        col("pago").alias("payment")
      )
    ).alias("datos_json"),
    // Funciones de hash
    hash(col("uuid"), col("escuela")).alias("hash_unico"),
    md5(concat(col("uuid"), col("departamento"))).alias("md5_identificador"),
    // Funciones de conversi√≥n
    col("pago").cast("double").alias("pago_double"),
    coalesce(col("pago"), lit(0)).alias("pago_sin_null")
  )
  .filter(col("pago").isNotNull)
  .orderBy(col("hash_unico").desc)

funcionesColeccion.show(10, truncate = false)
println(s"üì¶ Registros con estructuras complejas: ${funcionesColeccion.count()}")

// Mostrar algunos campos espec√≠ficos para mejor visualizaci√≥n
println("\nüîç Ejemplos de estructuras creadas:")
funcionesColeccion.select("uuid", "ubicacion_array", "datos_json").show(5, truncate = false)

‚ö° FUNCI√ìN 5: Funciones de colecci√≥n y estructuras

+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
|uuid                                                            |departamento|escuela                       |modalidad                                                        |sexo     |pago|ubicacion_array                        |perfil_estudiante                                                                 |datos_mapa                                                                     |datos_json                                                                                                                       |hash_unico|md5_identificador               |pago_double|pago_sin_null|
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
|f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 20, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA} |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2147346357|84dd765cc065f3f0c046653defc83dbd|200.0      |200          |
|9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |250 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 19, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 250}|{"id":"9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":250}|2146672177|d54503989bb680b346080eecd993b888|250.0      |250          |
|4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 17, ORDINARIO}                                                        |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06","career":"INGENIER√çA CIVIL","payment":200}              |2146533728|a9c525c9adb8c68c72587fad4a4a5176|200.0      |200          |
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 17, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA} |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2145965932|3efe4d9af1d59744ba64d0dbb18aefa4|200.0      |200          |
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 17, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2145965932|3efe4d9af1d59744ba64d0dbb18aefa4|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, ORDINARIO}                                                        |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":200}              |2144279931|07a97c4aeea7a0760169f12434b98b6a|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA}|{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":200}              |2144279931|07a97c4aeea7a0760169f12434b98b6a|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|50  |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS}                     |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 50}               |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":50}               |2144279931|07a97c4aeea7a0760169f12434b98b6a|50.0       |50           |
|35fab5ae89794263c38211e67b750fa19ec1585d1e9838747544b4622a7c75ae|LIMA        |ECONOM√çA                      |ORDINARIO                                                        |MASCULINO|200 |[LIMA, ECONOM√çA]                       |{MASCULINO, 18, ORDINARIO}                                                        |{departamento -> LIMA, carrera -> ECONOM√çA, pago -> 200}                       |{"id":"35fab5ae89794263c38211e67b750fa19ec1585d1e9838747544b4622a7c75ae","career":"ECONOM√çA","payment":200}                      |2144211061|5e93d2a497f7bad6bda4e5f1196fe45a|200.0      |200          |
|ed8e91a441f2f8c3db0e11bbae436f4c87bc0c4ca91ea424f931aa3b31bd8b63|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 23, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"ed8e91a441f2f8c3db0e11bbae436f4c87bc0c4ca91ea424f931aa3b31bd8b63","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2142371472|1d5cb93c9b2210ae1491eae1c0b118f2|200.0      |200          |
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
only showing top 10 rows

+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
|uuid                                                            |departamento|escuela                       |modalidad                                                        |sexo     |pago|ubicacion_array                        |perfil_estudiante                                                                 |datos_mapa                                                                     |datos_json                                                                                                                       |hash_unico|md5_identificador               |pago_double|pago_sin_null|
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
|f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 20, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA} |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2147346357|84dd765cc065f3f0c046653defc83dbd|200.0      |200          |
|9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |250 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 19, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 250}|{"id":"9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":250}|2146672177|d54503989bb680b346080eecd993b888|250.0      |250          |
|4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 17, ORDINARIO}                                                        |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06","career":"INGENIER√çA CIVIL","payment":200}              |2146533728|a9c525c9adb8c68c72587fad4a4a5176|200.0      |200          |
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 17, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA} |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2145965932|3efe4d9af1d59744ba64d0dbb18aefa4|200.0      |200          |
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 17, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2145965932|3efe4d9af1d59744ba64d0dbb18aefa4|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, ORDINARIO}                                                        |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":200}              |2144279931|07a97c4aeea7a0760169f12434b98b6a|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|200 |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA}|{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 200}              |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":200}              |2144279931|07a97c4aeea7a0760169f12434b98b6a|200.0      |200          |
|2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|50  |[CUSCO, INGENIER√çA CIVIL]              |{MASCULINO, 18, EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS}                     |{departamento -> CUSCO, carrera -> INGENIER√çA CIVIL, pago -> 50}               |{"id":"2741516e968bf366329db99f080da5232820ab3ae4835f786dcb37287463c5b7","career":"INGENIER√çA CIVIL","payment":50}               |2144279931|07a97c4aeea7a0760169f12434b98b6a|50.0       |50           |
|35fab5ae89794263c38211e67b750fa19ec1585d1e9838747544b4622a7c75ae|LIMA        |ECONOM√çA                      |ORDINARIO                                                        |MASCULINO|200 |[LIMA, ECONOM√çA]                       |{MASCULINO, 18, ORDINARIO}                                                        |{departamento -> LIMA, carrera -> ECONOM√çA, pago -> 200}                       |{"id":"35fab5ae89794263c38211e67b750fa19ec1585d1e9838747544b4622a7c75ae","career":"ECONOM√çA","payment":200}                      |2144211061|5e93d2a497f7bad6bda4e5f1196fe45a|200.0      |200          |
|ed8e91a441f2f8c3db0e11bbae436f4c87bc0c4ca91ea424f931aa3b31bd8b63|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |200 |[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{FEMENINO, 23, ORDINARIO}                                                         |{departamento -> CUSCO, carrera -> INGENIER√çA AGRON√ìMICA TROPICAL, pago -> 200}|{"id":"ed8e91a441f2f8c3db0e11bbae436f4c87bc0c4ca91ea424f931aa3b31bd8b63","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|2142371472|1d5cb93c9b2210ae1491eae1c0b118f2|200.0      |200          |
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+---------------------------------------+----------------------------------------------------------------------------------+-------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+----------+--------------------------------+-----------+-------------+
only showing top 10 rows

üì¶ Registros con estructuras complejas: 4928

üîç Ejemplos de estructuras creadas:
üì¶ Registros con estructuras complejas: 4928

üîç Ejemplos de estructuras creadas:
+----------------------------------------------------------------+---------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+
|uuid                                                            |ubicacion_array                        |datos_json                                                                                                                       |
+----------------------------------------------------------------+---------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+
|f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883|[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{"id":"f941da40ce992d2488402b24b954f81211a0d34825cfd520490eae85e26f0883","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|
|9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617|[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{"id":"9d7a2120421b9540c18749550434329056a5b56b84ba38ac9ada89edf6908617","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":250}|
|4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06|[CUSCO, INGENIER√çA CIVIL]              |{"id":"4f8b0c005c816df5af8b02eb37617a53f64990cf2373aaf2581f84a72457fd06","career":"INGENIER√çA CIVIL","payment":200}              |
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|
|3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7|[CUSCO, INGENIER√çA AGRON√ìMICA TROPICAL]|{"id":"3f725e841d06e61dbfe95e712592ac14122173b670cc29e39be84fbd5ad0e6d7","career":"INGENIER√çA AGRON√ìMICA TROPICAL","payment":200}|
+----------------------------------------------------------------+---------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

+----------------------------------------------------------------+---------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+
|uuid                                                            |ubicacion_array                        |datos_json                                                                                                                       |
+----------------------------------------------------------------+---------------------------------------+---------------------------------------------------------------------------------------------------------------------------------+

funcionesColeccion: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [uuid: string, departamento: string ... 12 more fields]

## üìä SECCI√ìN 8: VISTAS TEMPORALES Y SQL PURO

Consultas utilizando **vistas temporales** y **SQL puro** para realizar operaciones complejas con joins, agrupaciones y ordenamientos.

In [221]:
// PREPARACI√ìN: Crear vistas temporales adicionales para SQL
println("üìã PREPARACI√ìN: Creando vistas temporales para SQL puro")

// Vista temporal para an√°lisis geogr√°fico
spark.sql("""
  CREATE OR REPLACE TEMPORARY VIEW vista_geografica AS
  SELECT 
    departamento,
    provincia,
    distrito_origen,
    COUNT(*) as total_postulantes,
    AVG(edad) as edad_promedio,
    SUM(CASE WHEN sexo = 'MASCULINO' THEN 1 ELSE 0 END) as hombres,
    SUM(CASE WHEN sexo = 'FEMENINO' THEN 1 ELSE 0 END) as mujeres
  FROM postulantes 
  GROUP BY departamento, provincia, distrito_origen
""")

// Vista temporal para an√°lisis acad√©mico
spark.sql("""
  CREATE OR REPLACE TEMPORARY VIEW vista_academica AS
  SELECT 
    escuela,
    modalidad,
    COUNT(*) as cantidad_postulantes,
    AVG(pago) as pago_promedio,
    MAX(pago) as pago_maximo,
    MIN(pago) as pago_minimo
  FROM postulantes 
  WHERE pago IS NOT NULL AND pago > 0
  GROUP BY escuela, modalidad
""")

// Vista temporal para an√°lisis de habilidades
spark.sql("""
  CREATE OR REPLACE TEMPORARY VIEW vista_habilidades AS
  SELECT 
    idioma,
    lee,
    escribe,
    habla,
    COUNT(*) as total,
    AVG(edad) as edad_promedio
  FROM postulantes 
  GROUP BY idioma, lee, escribe, habla
""")

println("‚úÖ Vistas temporales creadas para consultas SQL")

üìã PREPARACI√ìN: Creando vistas temporales para SQL puro

‚úÖ Vistas temporales creadas para consultas SQL
‚úÖ Vistas temporales creadas para consultas SQL

res221_1: DataFrame = []
res221_2: DataFrame = []
res221_3: DataFrame = []

In [222]:
// SQL JOIN 1: Postulantes con contexto geogr√°fico
println("\nüìã SQL JOIN 1: Postulantes con contexto geogr√°fico regional")

val sqlJoin1 = spark.sql("""
  SELECT 
    p.uuid,
    p.escuela,
    p.departamento,
    p.edad,
    vg.total_postulantes as postulantes_region,
    vg.edad_promedio as edad_prom_region,
    ROUND((p.edad - vg.edad_promedio), 2) as diferencia_edad_region,
    vg.hombres,
    vg.mujeres,
    ROUND((vg.hombres * 100.0 / (vg.hombres + vg.mujeres)), 2) as pct_masculino_region
  FROM postulantes p
  INNER JOIN vista_geografica vg 
    ON p.departamento = vg.departamento 
    AND p.provincia = vg.provincia
    AND p.distrito_origen = vg.distrito_origen
  WHERE p.edad IS NOT NULL
  ORDER BY postulantes_region DESC, diferencia_edad_region DESC
  LIMIT 15
""")

sqlJoin1.show()
println(s"üåç Registros con contexto geogr√°fico: ${sqlJoin1.count()}")

üìã SQL JOIN 1: Postulantes con contexto geogr√°fico regional

+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+
|                uuid|             escuela|departamento|edad|postulantes_region| edad_prom_region|diferencia_edad_region|hombres|mujeres|pct_masculino_region|
+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+
|8e5746586d5068b29...|INGENIER√çA DE ALI...|       CUSCO|  52|              1733|19.90998268897865|                 32.09|   1010|    723|               58.28|
|8515ed9e2a0423ddb...|    INGENIER√çA CIVIL|       CUSCO|  43|              1733|19.90998268897865|                 23.09|   1010|    723|               58.28|
|de7ececcce0f8c04b...|    INGENIER√çA CIVIL|       CUSCO|  42|              1733|19.90998268897865|                 22.09|   1010|    723|               58.28|
|ee4a18f70c54dd63e...|        CONTABILIDAD|       CUSCO|  41|              1733|19.90998268897865|                 21.09|   1010|    723|               58.28|
|852bea18ec9cbbe32...|    INGENIER√çA CIVIL|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|827be117037054a80...|          ECOTURISMO|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|15a34c17573faf0e0...|            ECONOM√çA|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|6752d297c573c82e9...|          ECOTURISMO|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|f1a4f3ac1f89158f6...|INGENIER√çA AGRON√ì...|       CUSCO|  39|              1733|19.90998268897865|                 19.09|   1010|    723|               58.28|
|6e653391ebd7b1da2...|INGENIER√çA AGRON√ì...|       CUSCO|  39|              1733|19.90998268897865|                 19.09|   1010|    723|               58.28|
|327d9b0c9fccce9c5...|INGENIER√çA DE ALI...|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|c660e55ef9b388b81...|        CONTABILIDAD|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|51682bf65a50fe495...|    INGENIER√çA CIVIL|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|15a34c17573faf0e0...|INGENIER√çA AGRON√ì...|       CUSCO|  37|              1733|19.90998268897865|                 17.09|   1010|    723|               58.28|
|bcf49200ba350a687...|    INGENIER√çA CIVIL|       CUSCO|  37|              1733|19.90998268897865|                 17.09|   1010|    723|               58.28|
+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+

+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+
|                uuid|             escuela|departamento|edad|postulantes_region| edad_prom_region|diferencia_edad_region|hombres|mujeres|pct_masculino_region|
+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+
|8e5746586d5068b29...|INGENIER√çA DE ALI...|       CUSCO|  52|              1733|19.90998268897865|                 32.09|   1010|    723|               58.28|
|8515ed9e2a0423ddb...|    INGENIER√çA CIVIL|       CUSCO|  43|              1733|19.90998268897865|                 23.09|   1010|    723|               58.28|
|de7ececcce0f8c04b...|    INGENIER√çA CIVIL|       CUSCO|  42|              1733|19.90998268897865|                 22.09|   1010|    723|               58.28|
|ee4a18f70c54dd63e...|        CONTABILIDAD|       CUSCO|  41|              1733|19.90998268897865|                 21.09|   1010|    723|               58.28|
|852bea18ec9cbbe32...|    INGENIER√çA CIVIL|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|827be117037054a80...|          ECOTURISMO|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|15a34c17573faf0e0...|            ECONOM√çA|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|6752d297c573c82e9...|          ECOTURISMO|       CUSCO|  40|              1733|19.90998268897865|                 20.09|   1010|    723|               58.28|
|f1a4f3ac1f89158f6...|INGENIER√çA AGRON√ì...|       CUSCO|  39|              1733|19.90998268897865|                 19.09|   1010|    723|               58.28|
|6e653391ebd7b1da2...|INGENIER√çA AGRON√ì...|       CUSCO|  39|              1733|19.90998268897865|                 19.09|   1010|    723|               58.28|
|327d9b0c9fccce9c5...|INGENIER√çA DE ALI...|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|c660e55ef9b388b81...|        CONTABILIDAD|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|51682bf65a50fe495...|    INGENIER√çA CIVIL|       CUSCO|  38|              1733|19.90998268897865|                 18.09|   1010|    723|               58.28|
|15a34c17573faf0e0...|INGENIER√çA AGRON√ì...|       CUSCO|  37|              1733|19.90998268897865|                 17.09|   1010|    723|               58.28|
|bcf49200ba350a687...|    INGENIER√çA CIVIL|       CUSCO|  37|              1733|19.90998268897865|                 17.09|   1010|    723|               58.28|
+--------------------+--------------------+------------+----+------------------+-----------------+----------------------+-------+-------+--------------------+

üåç Registros con contexto geogr√°fico: 15
üåç Registros con contexto geogr√°fico: 15

sqlJoin1: DataFrame = [uuid: string, escuela: string ... 8 more fields]

In [223]:
// SQL JOIN 2: An√°lisis de carreras por modalidad con comparaciones
println("\nüìã SQL JOIN 2: Carreras y modalidades con m√©tricas comparativas")

val sqlJoin2 = spark.sql("""
  SELECT 
    p.escuela,
    p.modalidad,
    COUNT(p.uuid) as postulantes_directos,
    va.cantidad_postulantes as total_modalidad_carrera,
    va.pago_promedio,
    va.pago_maximo,
    va.pago_minimo,
    ROUND((COUNT(p.uuid) * 100.0 / va.cantidad_postulantes), 2) as pct_participacion,
    CASE 
      WHEN va.pago_promedio > 200 THEN 'ALTO'
      WHEN va.pago_promedio > 100 THEN 'MEDIO'
      ELSE 'BAJO'
    END as nivel_pago
  FROM postulantes p
  LEFT JOIN vista_academica va 
    ON p.escuela = va.escuela AND p.modalidad = va.modalidad
  WHERE p.pago IS NOT NULL
  GROUP BY p.escuela, p.modalidad, va.cantidad_postulantes, 
           va.pago_promedio, va.pago_maximo, va.pago_minimo
  ORDER BY pago_promedio DESC, postulantes_directos DESC
""")

sqlJoin2.show(15, truncate = false)
println(s"üéì Combinaciones carrera-modalidad analizadas: ${sqlJoin2.count()}")

üìã SQL JOIN 2: Carreras y modalidades con m√©tricas comparativas

+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
|escuela                       |modalidad                                                        |postulantes_directos|total_modalidad_carrera|pago_promedio     |pago_maximo|pago_minimo|pct_participacion|nivel_pago|
+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
|INGENIER√çA CIVIL              |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |7                   |7                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |1                   |1                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |1                   |1                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |12                  |1                      |250.0             |250        |250        |1200.00          |ALTO      |
|INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|443                 |443                    |209.8194130925508 |250        |200        |100.00           |ALTO      |
|ECOTURISMO                    |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|106                 |106                    |207.0754716981132 |250        |200        |100.00           |ALTO      |
|ECONOM√çA                      |ORDINARIO                                                        |207                 |207                    |206.03864734299518|250        |200        |100.00           |ALTO      |
|INGENIER√çA CIVIL              |ORDINARIO                                                        |1049                |1049                   |205.91039084842708|300        |200        |100.00           |ALTO      |
|CONTABILIDAD                  |ORDINARIO                                                        |129                 |129                    |205.8139534883721 |250        |200        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |393                 |393                    |204.07124681933843|250        |200        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|162                 |162                    |203.7037037037037 |250        |200        |100.00           |ALTO      |
|ECOTURISMO                    |ORDINARIO                                                        |267                 |267                    |203.37078651685394|300        |200        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |799                 |799                    |202.8160200250313 |300        |200        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|382                 |382                    |202.61780104712042|250        |200        |100.00           |ALTO      |
|INGENIER√çA CIVIL              |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |59                  |59                     |202.54237288135593|250        |200        |100.00           |ALTO      |
+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
only showing top 15 rows

+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
|escuela                       |modalidad                                                        |postulantes_directos|total_modalidad_carrera|pago_promedio     |pago_maximo|pago_minimo|pct_participacion|nivel_pago|
+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
|INGENIER√çA CIVIL              |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |7                   |7                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |1                   |1                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |1                   |1                      |670.0             |670        |670        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |12                  |1                      |250.0             |250        |250        |1200.00          |ALTO      |
|INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|443                 |443                    |209.8194130925508 |250        |200        |100.00           |ALTO      |
|ECOTURISMO                    |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|106                 |106                    |207.0754716981132 |250        |200        |100.00           |ALTO      |
|ECONOM√çA                      |ORDINARIO                                                        |207                 |207                    |206.03864734299518|250        |200        |100.00           |ALTO      |
|INGENIER√çA CIVIL              |ORDINARIO                                                        |1049                |1049                   |205.91039084842708|300        |200        |100.00           |ALTO      |
|CONTABILIDAD                  |ORDINARIO                                                        |129                 |129                    |205.8139534883721 |250        |200        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |393                 |393                    |204.07124681933843|250        |200        |100.00           |ALTO      |
|INGENIER√çA DE ALIMENTOS       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|162                 |162                    |203.7037037037037 |250        |200        |100.00           |ALTO      |
|ECOTURISMO                    |ORDINARIO                                                        |267                 |267                    |203.37078651685394|300        |200        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |799                 |799                    |202.8160200250313 |300        |200        |100.00           |ALTO      |
|INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|382                 |382                    |202.61780104712042|250        |200        |100.00           |ALTO      |
|INGENIER√çA CIVIL              |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |59                  |59                     |202.54237288135593|250        |200        |100.00           |ALTO      |
+------------------------------+-----------------------------------------------------------------+--------------------+-----------------------+------------------+-----------+-----------+-----------------+----------+
only showing top 15 rows

üéì Combinaciones carrera-modalidad analizadas: 32
üéì Combinaciones carrera-modalidad analizadas: 32

sqlJoin2: DataFrame = [escuela: string, modalidad: string ... 7 more fields]

In [224]:
// SQL JOIN 3: An√°lisis de competencias ling√º√≠sticas
println("\nüìã SQL JOIN 3: Competencias ling√º√≠sticas y perfiles acad√©micos")

val sqlJoin3 = spark.sql("""
  SELECT 
    p.escuela,
    p.idioma,
    p.lee,
    p.escribe,
    p.habla,
    COUNT(p.uuid) as estudiantes_perfil,
    vh.total as total_perfil_linguistico,
    vh.edad_promedio as edad_prom_perfil,
    ROUND(AVG(p.edad), 2) as edad_prom_carrera_perfil,
    ROUND((COUNT(p.uuid) * 100.0 / vh.total), 2) as pct_carrera_en_perfil,
    CONCAT(p.lee, '-', p.escribe, '-', p.habla) as codigo_habilidades
  FROM postulantes p
  INNER JOIN vista_habilidades vh 
    ON p.idioma = vh.idioma 
    AND p.lee = vh.lee 
    AND p.escribe = vh.escribe 
    AND p.habla = vh.habla
  WHERE p.edad IS NOT NULL
  GROUP BY p.escuela, p.idioma, p.lee, p.escribe, p.habla, 
           vh.total, vh.edad_promedio
  HAVING COUNT(p.uuid) >= 5  -- Solo perfiles con al menos 5 estudiantes
  ORDER BY total_perfil_linguistico DESC, estudiantes_perfil DESC
""")

sqlJoin3.show(15, truncate = false)
println(s"üó£Ô∏è Perfiles ling√º√≠sticos-acad√©micos analizados: ${sqlJoin3.count()}")

üìã SQL JOIN 3: Competencias ling√º√≠sticas y perfiles acad√©micos

+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
|escuela                       |idioma |lee|escribe|habla|estudiantes_perfil|total_perfil_linguistico|edad_prom_perfil  |edad_prom_carrera_perfil|pct_carrera_en_perfil|codigo_habilidades|
+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
|INGENIER√çA CIVIL              |Espa√±ol|SI |SI     |SI   |821               |2117                    |19.310817194142654|19.31                   |38.78                |SI-SI-SI          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Espa√±ol|SI |SI     |SI   |565               |2117                    |19.310817194142654|19.18                   |26.69                |SI-SI-SI          |
|INGENIER√çA DE ALIMENTOS       |Espa√±ol|SI |SI     |SI   |266               |2117                    |19.310817194142654|19.02                   |12.56                |SI-SI-SI          |
|ECONOM√çA                      |Espa√±ol|SI |SI     |SI   |194               |2117                    |19.310817194142654|20.4                    |9.16                 |SI-SI-SI          |
|ECOTURISMO                    |Espa√±ol|SI |SI     |SI   |152               |2117                    |19.310817194142654|18.95                   |7.18                 |SI-SI-SI          |
|CONTABILIDAD                  |Espa√±ol|SI |SI     |SI   |119               |2117                    |19.310817194142654|19.3                    |5.62                 |SI-SI-SI          |
|INGENIER√çA CIVIL              |Espa√±ol|SI |NO     |NO   |256               |676                     |21.650887573964496|21.93                   |37.87                |SI-NO-NO          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Espa√±ol|SI |NO     |NO   |224               |676                     |21.650887573964496|21.51                   |33.14                |SI-NO-NO          |
|INGENIER√çA DE ALIMENTOS       |Espa√±ol|SI |NO     |NO   |125               |676                     |21.650887573964496|21.41                   |18.49                |SI-NO-NO          |
|ECOTURISMO                    |Espa√±ol|SI |NO     |NO   |70                |676                     |21.650887573964496|21.29                   |10.36                |SI-NO-NO          |
|INGENIER√çA CIVIL              |Quechua|SI |SI     |SI   |136               |399                     |20.478696741854638|20.31                   |34.09                |SI-SI-SI          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Quechua|SI |SI     |SI   |133               |399                     |20.478696741854638|21.04                   |33.33                |SI-SI-SI          |
|INGENIER√çA DE ALIMENTOS       |Quechua|SI |SI     |SI   |85                |399                     |20.478696741854638|20.05                   |21.30                |SI-SI-SI          |
|ECOTURISMO                    |Quechua|SI |SI     |SI   |37                |399                     |20.478696741854638|20.0                    |9.27                 |SI-SI-SI          |
|ECONOM√çA                      |Quechua|SI |SI     |SI   |5                 |399                     |20.478696741854638|19.4                    |1.25                 |SI-SI-SI          |
+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
only showing top 15 rows

+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
|escuela                       |idioma |lee|escribe|habla|estudiantes_perfil|total_perfil_linguistico|edad_prom_perfil  |edad_prom_carrera_perfil|pct_carrera_en_perfil|codigo_habilidades|
+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
|INGENIER√çA CIVIL              |Espa√±ol|SI |SI     |SI   |821               |2117                    |19.310817194142654|19.31                   |38.78                |SI-SI-SI          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Espa√±ol|SI |SI     |SI   |565               |2117                    |19.310817194142654|19.18                   |26.69                |SI-SI-SI          |
|INGENIER√çA DE ALIMENTOS       |Espa√±ol|SI |SI     |SI   |266               |2117                    |19.310817194142654|19.02                   |12.56                |SI-SI-SI          |
|ECONOM√çA                      |Espa√±ol|SI |SI     |SI   |194               |2117                    |19.310817194142654|20.4                    |9.16                 |SI-SI-SI          |
|ECOTURISMO                    |Espa√±ol|SI |SI     |SI   |152               |2117                    |19.310817194142654|18.95                   |7.18                 |SI-SI-SI          |
|CONTABILIDAD                  |Espa√±ol|SI |SI     |SI   |119               |2117                    |19.310817194142654|19.3                    |5.62                 |SI-SI-SI          |
|INGENIER√çA CIVIL              |Espa√±ol|SI |NO     |NO   |256               |676                     |21.650887573964496|21.93                   |37.87                |SI-NO-NO          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Espa√±ol|SI |NO     |NO   |224               |676                     |21.650887573964496|21.51                   |33.14                |SI-NO-NO          |
|INGENIER√çA DE ALIMENTOS       |Espa√±ol|SI |NO     |NO   |125               |676                     |21.650887573964496|21.41                   |18.49                |SI-NO-NO          |
|ECOTURISMO                    |Espa√±ol|SI |NO     |NO   |70                |676                     |21.650887573964496|21.29                   |10.36                |SI-NO-NO          |
|INGENIER√çA CIVIL              |Quechua|SI |SI     |SI   |136               |399                     |20.478696741854638|20.31                   |34.09                |SI-SI-SI          |
|INGENIER√çA AGRON√ìMICA TROPICAL|Quechua|SI |SI     |SI   |133               |399                     |20.478696741854638|21.04                   |33.33                |SI-SI-SI          |
|INGENIER√çA DE ALIMENTOS       |Quechua|SI |SI     |SI   |85                |399                     |20.478696741854638|20.05                   |21.30                |SI-SI-SI          |
|ECOTURISMO                    |Quechua|SI |SI     |SI   |37                |399                     |20.478696741854638|20.0                    |9.27                 |SI-SI-SI          |
|ECONOM√çA                      |Quechua|SI |SI     |SI   |5                 |399                     |20.478696741854638|19.4                    |1.25                 |SI-SI-SI          |
+------------------------------+-------+---+-------+-----+------------------+------------------------+------------------+------------------------+---------------------+------------------+
only showing top 15 rows

üó£Ô∏è Perfiles ling√º√≠sticos-acad√©micos analizados: 45
üó£Ô∏è Perfiles ling√º√≠sticos-acad√©micos analizados: 45

sqlJoin3: DataFrame = [escuela: string, idioma: string ... 9 more fields]

In [225]:
// SQL JOIN 4: Join complejo con an√°lisis multidimensional
println("\nüìã SQL JOIN 4: An√°lisis multidimensional con joins complejos")

val sqlJoin4 = spark.sql("""
  WITH estadisticas_dept AS (
    SELECT 
      departamento,
      COUNT(*) as total_dept,
      AVG(pago) as pago_prom_dept,
      AVG(edad) as edad_prom_dept
    FROM postulantes 
    WHERE pago IS NOT NULL AND edad IS NOT NULL
    GROUP BY departamento
  ),
  estadisticas_carrera AS (
    SELECT 
      escuela,
      COUNT(*) as total_carrera,
      AVG(pago) as pago_prom_carrera
    FROM postulantes 
    WHERE pago IS NOT NULL
    GROUP BY escuela
  )
  SELECT 
    p.uuid,
    p.departamento,
    p.escuela,
    p.pago,
    p.edad,
    ed.total_dept,
    ed.pago_prom_dept,
    ec.total_carrera,
    ec.pago_prom_carrera,
    ROUND((p.pago - ed.pago_prom_dept), 2) as diferencia_pago_dept,
    ROUND((p.pago - ec.pago_prom_carrera), 2) as diferencia_pago_carrera,
    CASE 
      WHEN p.pago > ed.pago_prom_dept AND p.pago > ec.pago_prom_carrera THEN 'SUPERIOR_AMBOS'
      WHEN p.pago > ed.pago_prom_dept THEN 'SUPERIOR_DEPT'
      WHEN p.pago > ec.pago_prom_carrera THEN 'SUPERIOR_CARRERA'
      ELSE 'INFERIOR_AMBOS'
    END as categoria_pago
  FROM postulantes p
  LEFT JOIN estadisticas_dept ed ON p.departamento = ed.departamento
  LEFT JOIN estadisticas_carrera ec ON p.escuela = ec.escuela
  WHERE p.pago IS NOT NULL AND p.edad IS NOT NULL
  ORDER BY diferencia_pago_dept DESC, diferencia_pago_carrera DESC
  LIMIT 20
""")

sqlJoin4.show(truncate = false)
println(s"üìà An√°lisis multidimensional completado")

üìã SQL JOIN 4: An√°lisis multidimensional con joins complejos

+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+
|uuid                                                            |departamento|escuela                       |pago|edad|total_dept|pago_prom_dept    |total_carrera|pago_prom_carrera |diferencia_pago_dept|diferencia_pago_carrera|categoria_pago|
+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|AYACUCHO    |INGENIER√çA CIVIL              |670 |40  |152       |173.48684210526315|1813         |187.8599007170436 |496.51              |482.14                 |SUPERIOR_AMBOS|
|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|CUSCO       |INGENIER√çA DE ALIMENTOS       |670 |24  |4483      |177.92549631942896|744          |168.7768817204301 |492.07              |501.22                 |SUPERIOR_AMBOS|
|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|670 |23  |4483      |177.92549631942896|1529         |172.05362982341398|492.07              |497.95                 |SUPERIOR_AMBOS|
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|CUSCO       |INGENIER√çA CIVIL              |670 |36  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|CUSCO       |INGENIER√çA CIVIL              |670 |31  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|CUSCO       |INGENIER√çA CIVIL              |670 |44  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|CUSCO       |INGENIER√çA CIVIL              |670 |30  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|CUSCO       |INGENIER√çA CIVIL              |670 |24  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|APUR√çMAC    |INGENIER√çA CIVIL              |670 |40  |31        |216.7741935483871 |1813         |187.8599007170436 |453.23              |482.14                 |SUPERIOR_AMBOS|
|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|CUSCO       |ECOTURISMO                    |300 |21  |4483      |177.92549631942896|506          |166.699604743083  |122.07              |133.3                  |SUPERIOR_AMBOS|
|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|300 |21  |4483      |177.92549631942896|1529         |172.05362982341398|122.07              |127.95                 |SUPERIOR_AMBOS|
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|300 |27  |4483      |177.92549631942896|1529         |172.05362982341398|122.07              |127.95                 |SUPERIOR_AMBOS|
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |300 |19  |9         |216.66666666666666|1813         |187.8599007170436 |83.33               |112.14                 |SUPERIOR_AMBOS|
|9ddb7df4934740d5bc7e4a86b7b19b3331a7c4ff8e4e533e07bc0982e20dd5fe|AYACUCHO    |INGENIER√çA AGRON√ìMICA TROPICAL|250 |21  |152       |173.48684210526315|1529         |172.05362982341398|76.51               |77.95                  |SUPERIOR_AMBOS|
|08f51d752757d3311930ef44b335b2fdfdf2c7574b5e54e7462e490fc19f6e1d|AYACUCHO    |INGENIER√çA CIVIL              |250 |18  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|83f508fe636893c7b052af260fcd1e3e0d860ef460f804ea03188d5b27f33011|AYACUCHO    |INGENIER√çA CIVIL              |250 |30  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|72c0bf824fbc09651d2e9aa708f604af53e6b8233fe0f5cedd5b1f30c6167b8f|AYACUCHO    |INGENIER√çA CIVIL              |250 |35  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|efb2a3bc34502f5f2e2b85eba3d3895594c977f06acd1ccd8b191946bd026a69|AYACUCHO    |INGENIER√çA CIVIL              |250 |22  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|dfec2f50ca484e71f818fac66b664f4b373cd39d171b477c8aa639006503e920|AYACUCHO    |INGENIER√çA CIVIL              |250 |19  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|0704f64c0aa5b579caf2c0ce015721f5eea31ea77b97cfff558475f00a47d48e|AYACUCHO    |CONTABILIDAD                  |250 |23  |152       |173.48684210526315|129          |205.8139534883721 |76.51               |44.19                  |SUPERIOR_AMBOS|
+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+

üìà An√°lisis multidimensional completado
+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+
|uuid                                                            |departamento|escuela                       |pago|edad|total_dept|pago_prom_dept    |total_carrera|pago_prom_carrera |diferencia_pago_dept|diferencia_pago_carrera|categoria_pago|
+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|AYACUCHO    |INGENIER√çA CIVIL              |670 |40  |152       |173.48684210526315|1813         |187.8599007170436 |496.51              |482.14                 |SUPERIOR_AMBOS|
|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|CUSCO       |INGENIER√çA DE ALIMENTOS       |670 |24  |4483      |177.92549631942896|744          |168.7768817204301 |492.07              |501.22                 |SUPERIOR_AMBOS|
|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|670 |23  |4483      |177.92549631942896|1529         |172.05362982341398|492.07              |497.95                 |SUPERIOR_AMBOS|
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|CUSCO       |INGENIER√çA CIVIL              |670 |36  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|CUSCO       |INGENIER√çA CIVIL              |670 |31  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|CUSCO       |INGENIER√çA CIVIL              |670 |44  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|CUSCO       |INGENIER√çA CIVIL              |670 |30  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|CUSCO       |INGENIER√çA CIVIL              |670 |24  |4483      |177.92549631942896|1813         |187.8599007170436 |492.07              |482.14                 |SUPERIOR_AMBOS|
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|APUR√çMAC    |INGENIER√çA CIVIL              |670 |40  |31        |216.7741935483871 |1813         |187.8599007170436 |453.23              |482.14                 |SUPERIOR_AMBOS|
|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|CUSCO       |ECOTURISMO                    |300 |21  |4483      |177.92549631942896|506          |166.699604743083  |122.07              |133.3                  |SUPERIOR_AMBOS|
|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|300 |21  |4483      |177.92549631942896|1529         |172.05362982341398|122.07              |127.95                 |SUPERIOR_AMBOS|
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|300 |27  |4483      |177.92549631942896|1529         |172.05362982341398|122.07              |127.95                 |SUPERIOR_AMBOS|
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |300 |19  |9         |216.66666666666666|1813         |187.8599007170436 |83.33               |112.14                 |SUPERIOR_AMBOS|
|9ddb7df4934740d5bc7e4a86b7b19b3331a7c4ff8e4e533e07bc0982e20dd5fe|AYACUCHO    |INGENIER√çA AGRON√ìMICA TROPICAL|250 |21  |152       |173.48684210526315|1529         |172.05362982341398|76.51               |77.95                  |SUPERIOR_AMBOS|
|08f51d752757d3311930ef44b335b2fdfdf2c7574b5e54e7462e490fc19f6e1d|AYACUCHO    |INGENIER√çA CIVIL              |250 |18  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|83f508fe636893c7b052af260fcd1e3e0d860ef460f804ea03188d5b27f33011|AYACUCHO    |INGENIER√çA CIVIL              |250 |30  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|72c0bf824fbc09651d2e9aa708f604af53e6b8233fe0f5cedd5b1f30c6167b8f|AYACUCHO    |INGENIER√çA CIVIL              |250 |35  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|efb2a3bc34502f5f2e2b85eba3d3895594c977f06acd1ccd8b191946bd026a69|AYACUCHO    |INGENIER√çA CIVIL              |250 |22  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|dfec2f50ca484e71f818fac66b664f4b373cd39d171b477c8aa639006503e920|AYACUCHO    |INGENIER√çA CIVIL              |250 |19  |152       |173.48684210526315|1813         |187.8599007170436 |76.51               |62.14                  |SUPERIOR_AMBOS|
|0704f64c0aa5b579caf2c0ce015721f5eea31ea77b97cfff558475f00a47d48e|AYACUCHO    |CONTABILIDAD                  |250 |23  |152       |173.48684210526315|129          |205.8139534883721 |76.51               |44.19                  |SUPERIOR_AMBOS|
+----------------------------------------------------------------+------------+------------------------------+----+----+----------+------------------+-------------+------------------+--------------------+-----------------------+--------------+

üìà An√°lisis multidimensional completado

sqlJoin4: DataFrame = [uuid: string, departamento: string ... 10 more fields]

In [226]:
// SQL JOIN 5: Join con funciones de ventana y ranking
println("\nüìã SQL JOIN 5: Rankings y ventanas con joins")

val sqlJoin5 = spark.sql("""
  WITH rankings AS (
    SELECT 
      uuid,
      departamento,
      escuela,
      pago,
      edad,
      ROW_NUMBER() OVER (PARTITION BY departamento ORDER BY pago DESC) as rank_pago_dept,
      ROW_NUMBER() OVER (PARTITION BY escuela ORDER BY pago DESC) as rank_pago_carrera,
      NTILE(4) OVER (ORDER BY pago) as cuartil_pago_general,
      PERCENT_RANK() OVER (ORDER BY edad) as percentil_edad
    FROM postulantes 
    WHERE pago IS NOT NULL AND edad IS NOT NULL
  ),
  promedios_dept AS (
    SELECT 
      departamento,
      AVG(pago) as pago_promedio,
      COUNT(*) as total_estudiantes
    FROM postulantes 
    WHERE pago IS NOT NULL
    GROUP BY departamento
  )
  SELECT 
    r.uuid,
    r.departamento,
    r.escuela,
    r.pago,
    r.edad,
    r.rank_pago_dept,
    r.rank_pago_carrera,
    r.cuartil_pago_general,
    ROUND(r.percentil_edad, 4) as percentil_edad,
    pd.pago_promedio as pago_prom_dept,
    pd.total_estudiantes,
    CASE 
      WHEN r.rank_pago_dept <= 3 THEN 'TOP_3_DEPARTAMENTO'
      WHEN r.rank_pago_carrera <= 3 THEN 'TOP_3_CARRERA'
      WHEN r.cuartil_pago_general = 4 THEN 'CUARTIL_SUPERIOR'
      ELSE 'REGULAR'
    END as categoria_ranking
  FROM rankings r
  INNER JOIN promedios_dept pd ON r.departamento = pd.departamento
  WHERE r.rank_pago_dept <= 5 OR r.rank_pago_carrera <= 5
  ORDER BY r.departamento, r.rank_pago_dept
""")

sqlJoin5.show(20, truncate = false)
println(s"üèÜ Estudiantes destacados por ranking: ${sqlJoin5.count()}")

üìã SQL JOIN 5: Rankings y ventanas con joins

+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
|uuid                                                            |departamento|escuela                       |pago|edad|rank_pago_dept|rank_pago_carrera|cuartil_pago_general|percentil_edad|pago_prom_dept    |total_estudiantes|categoria_ranking |
+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|APUR√çMAC    |INGENIER√çA CIVIL              |670 |40  |1             |1                |4                   |0.9939        |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|APUR√çMAC    |INGENIER√çA CIVIL              |250 |18  |2             |9                |4                   |0.2034        |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|a357ae1a6efec039a68a79c42bedc0110e9e3cae3cc03918c27de655600be331|APUR√çMAC    |INGENIER√çA CIVIL              |250 |19  |3             |10               |4                   |0.399         |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|a357ae1a6efec039a68a79c42bedc0110e9e3cae3cc03918c27de655600be331|APUR√çMAC    |INGENIER√çA CIVIL              |250 |19  |4             |11               |4                   |0.399         |216.7741935483871 |31               |CUARTIL_SUPERIOR  |
|d3b901f43abac22456a6e85e20441f9e1dfee82dd37b63d09d08ccf593653c3d|APUR√çMAC    |INGENIER√çA CIVIL              |250 |23  |5             |12               |4                   |0.8328        |216.7741935483871 |31               |CUARTIL_SUPERIOR  |
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |1             |13               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |2             |14               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |3             |15               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |4             |16               |4                   |0.399         |208.33333333333334|30               |CUARTIL_SUPERIOR  |
|960d86191f8857e02e51b189ac7e046fbf162731fccd2390a613770003a53d37|AREQUIPA    |INGENIER√çA CIVIL              |250 |24  |5             |17               |4                   |0.8634        |208.33333333333334|30               |CUARTIL_SUPERIOR  |
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|AYACUCHO    |INGENIER√çA CIVIL              |670 |40  |1             |2                |4                   |0.9939        |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|08f51d752757d3311930ef44b335b2fdfdf2c7574b5e54e7462e490fc19f6e1d|AYACUCHO    |INGENIER√çA CIVIL              |250 |18  |2             |18               |4                   |0.2034        |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|dfec2f50ca484e71f818fac66b664f4b373cd39d171b477c8aa639006503e920|AYACUCHO    |INGENIER√çA CIVIL              |250 |19  |3             |19               |4                   |0.399         |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|9ddb7df4934740d5bc7e4a86b7b19b3331a7c4ff8e4e533e07bc0982e20dd5fe|AYACUCHO    |INGENIER√çA AGRON√ìMICA TROPICAL|250 |21  |4             |4                |4                   |0.7136        |173.48684210526315|152              |CUARTIL_SUPERIOR  |
|efb2a3bc34502f5f2e2b85eba3d3895594c977f06acd1ccd8b191946bd026a69|AYACUCHO    |INGENIER√çA CIVIL              |250 |22  |5             |20               |4                   |0.7867        |173.48684210526315|152              |CUARTIL_SUPERIOR  |
|0704f64c0aa5b579caf2c0ce015721f5eea31ea77b97cfff558475f00a47d48e|AYACUCHO    |CONTABILIDAD                  |250 |23  |6             |1                |4                   |0.8328        |173.48684210526315|152              |TOP_3_CARRERA     |
|5e41b1d95e526056f5c40acdd5f7f29ba3ce2b6d7eeaa590f5d14865d2abd600|CAJAMARCA   |INGENIER√çA CIVIL              |250 |22  |1             |23               |4                   |0.7867        |210.0             |5                |TOP_3_DEPARTAMENTO|
|de2d149289606c8216474a54dfff3fe21af59b673addb6101e6fe515e72d4c2c|CAJAMARCA   |INGENIER√çA CIVIL              |200 |17  |2             |301              |4                   |0.0237        |210.0             |5                |TOP_3_DEPARTAMENTO|
|d3d91991045aa7f0f1af86d03d2b01dadd54f2be521e533fd97adc2bfd82c413|CAJAMARCA   |INGENIER√çA CIVIL              |200 |17  |3             |302              |4                   |0.0237        |210.0             |5                |TOP_3_DEPARTAMENTO|
|c60a88869e803445953c569d99d81547568b75e1805dd1c92a38f5df068a911e|CAJAMARCA   |INGENIER√çA AGRON√ìMICA TROPICAL|200 |18  |4             |98               |4                   |0.2034        |210.0             |5                |CUARTIL_SUPERIOR  |
+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
only showing top 20 rows

+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
|uuid                                                            |departamento|escuela                       |pago|edad|rank_pago_dept|rank_pago_carrera|cuartil_pago_general|percentil_edad|pago_prom_dept    |total_estudiantes|categoria_ranking |
+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|APUR√çMAC    |INGENIER√çA CIVIL              |670 |40  |1             |1                |4                   |0.9939        |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|APUR√çMAC    |INGENIER√çA CIVIL              |250 |18  |2             |9                |4                   |0.2034        |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|a357ae1a6efec039a68a79c42bedc0110e9e3cae3cc03918c27de655600be331|APUR√çMAC    |INGENIER√çA CIVIL              |250 |19  |3             |10               |4                   |0.399         |216.7741935483871 |31               |TOP_3_DEPARTAMENTO|
|a357ae1a6efec039a68a79c42bedc0110e9e3cae3cc03918c27de655600be331|APUR√çMAC    |INGENIER√çA CIVIL              |250 |19  |4             |11               |4                   |0.399         |216.7741935483871 |31               |CUARTIL_SUPERIOR  |
|d3b901f43abac22456a6e85e20441f9e1dfee82dd37b63d09d08ccf593653c3d|APUR√çMAC    |INGENIER√çA CIVIL              |250 |23  |5             |12               |4                   |0.8328        |216.7741935483871 |31               |CUARTIL_SUPERIOR  |
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |1             |13               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |2             |14               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |3             |15               |4                   |0.399         |208.33333333333334|30               |TOP_3_DEPARTAMENTO|
|c9d09085711cc63232f0e24e866379495749cb5f53bc740fbbc0582fb7af8335|AREQUIPA    |INGENIER√çA CIVIL              |250 |19  |4             |16               |4                   |0.399         |208.33333333333334|30               |CUARTIL_SUPERIOR  |
|960d86191f8857e02e51b189ac7e046fbf162731fccd2390a613770003a53d37|AREQUIPA    |INGENIER√çA CIVIL              |250 |24  |5             |17               |4                   |0.8634        |208.33333333333334|30               |CUARTIL_SUPERIOR  |
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|AYACUCHO    |INGENIER√çA CIVIL              |670 |40  |1             |2                |4                   |0.9939        |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|08f51d752757d3311930ef44b335b2fdfdf2c7574b5e54e7462e490fc19f6e1d|AYACUCHO    |INGENIER√çA CIVIL              |250 |18  |2             |18               |4                   |0.2034        |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|dfec2f50ca484e71f818fac66b664f4b373cd39d171b477c8aa639006503e920|AYACUCHO    |INGENIER√çA CIVIL              |250 |19  |3             |19               |4                   |0.399         |173.48684210526315|152              |TOP_3_DEPARTAMENTO|
|9ddb7df4934740d5bc7e4a86b7b19b3331a7c4ff8e4e533e07bc0982e20dd5fe|AYACUCHO    |INGENIER√çA AGRON√ìMICA TROPICAL|250 |21  |4             |4                |4                   |0.7136        |173.48684210526315|152              |CUARTIL_SUPERIOR  |
|efb2a3bc34502f5f2e2b85eba3d3895594c977f06acd1ccd8b191946bd026a69|AYACUCHO    |INGENIER√çA CIVIL              |250 |22  |5             |20               |4                   |0.7867        |173.48684210526315|152              |CUARTIL_SUPERIOR  |
|0704f64c0aa5b579caf2c0ce015721f5eea31ea77b97cfff558475f00a47d48e|AYACUCHO    |CONTABILIDAD                  |250 |23  |6             |1                |4                   |0.8328        |173.48684210526315|152              |TOP_3_CARRERA     |
|5e41b1d95e526056f5c40acdd5f7f29ba3ce2b6d7eeaa590f5d14865d2abd600|CAJAMARCA   |INGENIER√çA CIVIL              |250 |22  |1             |23               |4                   |0.7867        |210.0             |5                |TOP_3_DEPARTAMENTO|
|de2d149289606c8216474a54dfff3fe21af59b673addb6101e6fe515e72d4c2c|CAJAMARCA   |INGENIER√çA CIVIL              |200 |17  |2             |301              |4                   |0.0237        |210.0             |5                |TOP_3_DEPARTAMENTO|
|d3d91991045aa7f0f1af86d03d2b01dadd54f2be521e533fd97adc2bfd82c413|CAJAMARCA   |INGENIER√çA CIVIL              |200 |17  |3             |302              |4                   |0.0237        |210.0             |5                |TOP_3_DEPARTAMENTO|
|c60a88869e803445953c569d99d81547568b75e1805dd1c92a38f5df068a911e|CAJAMARCA   |INGENIER√çA AGRON√ìMICA TROPICAL|200 |18  |4             |98               |4                   |0.2034        |210.0             |5                |CUARTIL_SUPERIOR  |
+----------------------------------------------------------------+------------+------------------------------+----+----+--------------+-----------------+--------------------+--------------+------------------+-----------------+------------------+
only showing top 20 rows

üèÜ Estudiantes destacados por ranking: 104
üèÜ Estudiantes destacados por ranking: 104

sqlJoin5: DataFrame = [uuid: string, departamento: string ... 10 more fields]

### üìÇ SUBSECCI√ìN: CINCO CONSULTAS GROUPBY CON SQL

In [227]:
// SQL GROUPBY 1: Agrupaci√≥n multidimensional por ubicaci√≥n
println("üìÇ SQL GROUPBY 1: Estad√≠sticas por departamento, provincia y tipo de comunidad")

val sqlGroupBy1 = spark.sql("""
  SELECT 
    departamento,
    provincia,
    tipo_comunidad,
    COUNT(*) as total_postulantes,
    COUNT(DISTINCT escuela) as carreras_disponibles,
    COUNT(DISTINCT modalidad) as modalidades_disponibles,
    SUM(CASE WHEN sexo = 'MASCULINO' THEN 1 ELSE 0 END) as hombres,
    SUM(CASE WHEN sexo = 'FEMENINO' THEN 1 ELSE 0 END) as mujeres,
    ROUND(AVG(edad), 2) as edad_promedio,
    ROUND(AVG(CASE WHEN pago > 0 THEN pago END), 2) as pago_promedio
  FROM postulantes 
  GROUP BY departamento, provincia, tipo_comunidad
  HAVING COUNT(*) >= 10  -- Solo grupos con al menos 10 postulantes
  ORDER BY total_postulantes DESC
""")

sqlGroupBy1.show(15)
println(s"üåç Grupos de ubicaci√≥n analizados: ${sqlGroupBy1.count()}")

üìÇ SQL GROUPBY 1: Estad√≠sticas por departamento, provincia y tipo de comunidad

+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
| departamento|    provincia|tipo_comunidad|total_postulantes|carreras_disponibles|modalidades_disponibles|hombres|mujeres|edad_promedio|pago_promedio|
+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
|        CUSCO|LA CONVENCI√ìN|       NINGUNA|             2794|                   6|                      8|   1629|   1165|        19.85|       189.19|
|        CUSCO|LA CONVENCI√ìN|          NULL|              795|                   4|                      5|    496|    299|        20.62|       177.38|
|        CUSCO|        CUSCO|       NINGUNA|              245|                   6|                      8|    166|     79|        19.67|        215.2|
|        CUSCO|LA CONVENCI√ìN|     AMAZ√ìNICO|              160|                   4|                      1|     97|     63|        20.32|        50.94|
|        CUSCO|LA CONVENCI√ìN|        ANDINO|              144|                   4|                      1|     85|     59|        21.38|        51.04|
|         LIMA|        LIMA |       NINGUNA|               65|                   6|                      5|     36|     29|         19.0|       207.69|
|        CUSCO|        CALCA|       NINGUNA|               65|                   5|                      5|     49|     16|        22.22|       193.85|
|     AYACUCHO|       LA MAR|       NINGUNA|               61|                   6|                      6|     44|     17|        22.36|       194.34|
|        CUSCO|        CUSCO|          NULL|               56|                   4|                      2|     43|     13|        22.93|        200.0|
|        CUSCO|      CANCHIS|       NINGUNA|               42|                   5|                      6|     30|     12|        21.21|       217.56|
|        CUSCO|     URUBAMBA|       NINGUNA|               36|                   6|                      5|     18|     18|        19.31|       201.39|
|     AYACUCHO|       HUANTA|       NINGUNA|               27|                   6|                      7|     18|      9|        21.22|        217.5|
|     AYACUCHO|     HUAMANGA|       NINGUNA|               27|                   5|                      3|     17|     10|        20.33|       205.56|
|        CUSCO|         ANTA|       NINGUNA|               24|                   5|                      5|     13|     11|         20.5|       172.92|
|MADRE DE DIOS|   TAMBOPATA |       NINGUNA|               21|                   5|                      2|     19|      2|        25.24|       209.52|
+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
only showing top 15 rows

+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
| departamento|    provincia|tipo_comunidad|total_postulantes|carreras_disponibles|modalidades_disponibles|hombres|mujeres|edad_promedio|pago_promedio|
+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
|        CUSCO|LA CONVENCI√ìN|       NINGUNA|             2794|                   6|                      8|   1629|   1165|        19.85|       189.19|
|        CUSCO|LA CONVENCI√ìN|          NULL|              795|                   4|                      5|    496|    299|        20.62|       177.38|
|        CUSCO|        CUSCO|       NINGUNA|              245|                   6|                      8|    166|     79|        19.67|        215.2|
|        CUSCO|LA CONVENCI√ìN|     AMAZ√ìNICO|              160|                   4|                      1|     97|     63|        20.32|        50.94|
|        CUSCO|LA CONVENCI√ìN|        ANDINO|              144|                   4|                      1|     85|     59|        21.38|        51.04|
|         LIMA|        LIMA |       NINGUNA|               65|                   6|                      5|     36|     29|         19.0|       207.69|
|        CUSCO|        CALCA|       NINGUNA|               65|                   5|                      5|     49|     16|        22.22|       193.85|
|     AYACUCHO|       LA MAR|       NINGUNA|               61|                   6|                      6|     44|     17|        22.36|       194.34|
|        CUSCO|        CUSCO|          NULL|               56|                   4|                      2|     43|     13|        22.93|        200.0|
|        CUSCO|      CANCHIS|       NINGUNA|               42|                   5|                      6|     30|     12|        21.21|       217.56|
|        CUSCO|     URUBAMBA|       NINGUNA|               36|                   6|                      5|     18|     18|        19.31|       201.39|
|     AYACUCHO|       HUANTA|       NINGUNA|               27|                   6|                      7|     18|      9|        21.22|        217.5|
|     AYACUCHO|     HUAMANGA|       NINGUNA|               27|                   5|                      3|     17|     10|        20.33|       205.56|
|        CUSCO|         ANTA|       NINGUNA|               24|                   5|                      5|     13|     11|         20.5|       172.92|
|MADRE DE DIOS|   TAMBOPATA |       NINGUNA|               21|                   5|                      2|     19|      2|        25.24|       209.52|
+-------------+-------------+--------------+-----------------+--------------------+-----------------------+-------+-------+-------------+-------------+
only showing top 15 rows

üåç Grupos de ubicaci√≥n analizados: 24
üåç Grupos de ubicaci√≥n analizados: 24

sqlGroupBy1: DataFrame = [departamento: string, provincia: string ... 8 more fields]

In [228]:
// SQL GROUPBY 2: Agrupaci√≥n por perfil acad√©mico y demogr√°fico
println("\nüìÇ SQL GROUPBY 2: Perfiles acad√©micos y demogr√°ficos")

val sqlGroupBy2 = spark.sql("""
  SELECT 
    escuela,
    modalidad,
    sexo,
    CASE 
      WHEN edad < 18 THEN 'MENOR_18'
      WHEN edad BETWEEN 18 AND 22 THEN '18_22'
      WHEN edad BETWEEN 23 AND 27 THEN '23_27'
      ELSE 'MAYOR_27'
    END as rango_edad,
    COUNT(*) as cantidad,
    COUNT(CASE WHEN pago > 0 THEN 1 END) as con_pago,
    COUNT(CASE WHEN tiene_discapacidad = 'SI' THEN 1 END) as con_discapacidad,
    ROUND(AVG(CASE WHEN pago > 0 THEN pago END), 2) as pago_promedio,
    MIN(CASE WHEN pago > 0 THEN pago END) as pago_minimo,
    MAX(pago) as pago_maximo
  FROM postulantes 
  WHERE edad IS NOT NULL
  GROUP BY escuela, modalidad, sexo, 
           CASE 
             WHEN edad < 18 THEN 'MENOR_18'
             WHEN edad BETWEEN 18 AND 22 THEN '18_22'
             WHEN edad BETWEEN 23 AND 27 THEN '23_27'
             ELSE 'MAYOR_27'
           END
  HAVING COUNT(*) >= 5
  ORDER BY escuela, modalidad, cantidad DESC
""")

sqlGroupBy2.show(20, truncate = false)
println(s"üéì Perfiles acad√©mico-demogr√°ficos: ${sqlGroupBy2.count()}")

üìÇ SQL GROUPBY 2: Perfiles acad√©micos y demogr√°ficos

+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
|escuela     |modalidad                                   |sexo     |rango_edad|cantidad|con_pago|con_discapacidad|pago_promedio|pago_minimo|pago_maximo|
+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|18_22     |28      |28      |0               |207.14       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |MENOR_18  |27      |27      |0               |201.85       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|MENOR_18  |26      |26      |0               |205.77       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |18_22     |24      |24      |0               |204.17       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|23_27     |11      |11      |0               |213.64       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |23_27     |9       |9       |0               |211.11       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|18_22     |63      |63      |0               |203.17       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |18_22     |37      |37      |0               |202.7        |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|MENOR_18  |34      |34      |0               |205.88       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |MENOR_18  |30      |30      |0               |208.33       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|MAYOR_27  |14      |14      |0               |207.14       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|23_27     |11      |11      |1               |222.73       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |23_27     |9       |9       |0               |205.56       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |MAYOR_27  |9       |9       |0               |211.11       |200        |250        |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |18_22     |56      |56      |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|18_22     |29      |29      |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |MENOR_18  |8       |8       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|23_27     |8       |8       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |23_27     |6       |6       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|MENOR_18  |6       |6       |0               |50.0         |50         |50         |
+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
only showing top 20 rows

+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
|escuela     |modalidad                                   |sexo     |rango_edad|cantidad|con_pago|con_discapacidad|pago_promedio|pago_minimo|pago_maximo|
+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|18_22     |28      |28      |0               |207.14       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |MENOR_18  |27      |27      |0               |201.85       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|MENOR_18  |26      |26      |0               |205.77       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |18_22     |24      |24      |0               |204.17       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |MASCULINO|23_27     |11      |11      |0               |213.64       |200        |250        |
|CONTABILIDAD|ORDINARIO                                   |FEMENINO |23_27     |9       |9       |0               |211.11       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|18_22     |63      |63      |0               |203.17       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |18_22     |37      |37      |0               |202.7        |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|MENOR_18  |34      |34      |0               |205.88       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |MENOR_18  |30      |30      |0               |208.33       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|MAYOR_27  |14      |14      |0               |207.14       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |MASCULINO|23_27     |11      |11      |1               |222.73       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |23_27     |9       |9       |0               |205.56       |200        |250        |
|ECONOM√çA    |ORDINARIO                                   |FEMENINO |MAYOR_27  |9       |9       |0               |211.11       |200        |250        |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |18_22     |56      |56      |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|18_22     |29      |29      |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |MENOR_18  |8       |8       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|23_27     |8       |8       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|FEMENINO |23_27     |6       |6       |0               |50.0         |50         |50         |
|ECOTURISMO  |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS|MASCULINO|MENOR_18  |6       |6       |0               |50.0         |50         |50         |
+------------+--------------------------------------------+---------+----------+--------+--------+----------------+-------------+-----------+-----------+
only showing top 20 rows

üéì Perfiles acad√©mico-demogr√°ficos: 103
üéì Perfiles acad√©mico-demogr√°ficos: 103

sqlGroupBy2: DataFrame = [escuela: string, modalidad: string ... 8 more fields]

In [229]:
// SQL GROUPBY 3: Agrupaci√≥n por competencias ling√º√≠sticas
println("\nüìÇ SQL GROUPBY 3: Competencias ling√º√≠sticas por regi√≥n")

val sqlGroupBy3 = spark.sql("""
  SELECT 
    departamento,
    idioma,
    lee,
    escribe,
    habla,
    COUNT(*) as total_perfil,
    COUNT(DISTINCT escuela) as carreras_representadas,
    ROUND(AVG(edad), 2) as edad_promedio,
    COUNT(CASE WHEN sexo = 'MASCULINO' THEN 1 END) as hombres,
    COUNT(CASE WHEN sexo = 'FEMENINO' THEN 1 END) as mujeres,
    ROUND((COUNT(CASE WHEN sexo = 'FEMENINO' THEN 1 END) * 100.0 / COUNT(*)), 2) as pct_mujeres,
    CASE 
      WHEN lee = 'SI' AND escribe = 'SI' AND habla = 'SI' THEN 'COMPETENCIA_COMPLETA'
      WHEN lee = 'SI' OR escribe = 'SI' OR habla = 'SI' THEN 'COMPETENCIA_PARCIAL'
      ELSE 'SIN_COMPETENCIA'
    END as nivel_competencia
  FROM postulantes 
  GROUP BY departamento, idioma, lee, escribe, habla
  HAVING COUNT(*) >= 3
  ORDER BY departamento, total_perfil DESC, nivel_competencia
""")

sqlGroupBy3.show(15, truncate = false)
println(s"üó£Ô∏è Perfiles ling√º√≠sticos regionales: ${sqlGroupBy3.count()}")

üìÇ SQL GROUPBY 3: Competencias ling√º√≠sticas por regi√≥n

+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
|departamento|idioma |lee |escribe|habla|total_perfil|carreras_representadas|edad_promedio|hombres|mujeres|pct_mujeres|nivel_competencia   |
+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
|APUR√çMAC    |Espa√±ol|SI  |SI     |SI   |16          |5                     |24.75        |10     |6      |37.50      |COMPETENCIA_COMPLETA|
|APUR√çMAC    |NULL   |NULL|NULL   |NULL |5           |2                     |19.2         |4      |1      |20.00      |SIN_COMPETENCIA     |
|APUR√çMAC    |Espa√±ol|SI  |NO     |NO   |4           |3                     |19.75        |2      |2      |50.00      |COMPETENCIA_PARCIAL |
|AREQUIPA    |Espa√±ol|SI  |SI     |SI   |21          |6                     |18.67        |10     |11     |52.38      |COMPETENCIA_COMPLETA|
|AREQUIPA    |Espa√±ol|SI  |NO     |NO   |5           |3                     |21.2         |2      |3      |60.00      |COMPETENCIA_PARCIAL |
|AREQUIPA    |NULL   |NULL|NULL   |NULL |3           |1                     |20.33        |2      |1      |33.33      |SIN_COMPETENCIA     |
|AYACUCHO    |Espa√±ol|SI  |SI     |SI   |62          |6                     |21.23        |41     |21     |33.87      |COMPETENCIA_COMPLETA|
|AYACUCHO    |NULL   |NULL|NULL   |NULL |33          |4                     |21.45        |16     |17     |51.52      |SIN_COMPETENCIA     |
|AYACUCHO    |Quechua|SI  |SI     |SI   |18          |3                     |20.33        |16     |2      |11.11      |COMPETENCIA_COMPLETA|
|AYACUCHO    |Quechua|SI  |NO     |NO   |12          |4                     |20.58        |7      |5      |41.67      |COMPETENCIA_PARCIAL |
|AYACUCHO    |Espa√±ol|SI  |NO     |NO   |10          |3                     |25.8         |7      |3      |30.00      |COMPETENCIA_PARCIAL |
|AYACUCHO    |Quechua|SI  |NO     |SI   |10          |4                     |21.0         |6      |4      |40.00      |COMPETENCIA_PARCIAL |
|CAJAMARCA   |NULL   |NULL|NULL   |NULL |3           |2                     |17.33        |1      |2      |66.67      |SIN_COMPETENCIA     |
|CUSCO       |Espa√±ol|SI  |SI     |SI   |1888        |6                     |19.19        |1184   |704    |37.29      |COMPETENCIA_COMPLETA|
|CUSCO       |NULL   |NULL|NULL   |NULL |902         |4                     |20.91        |579    |323    |35.81      |SIN_COMPETENCIA     |
+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
only showing top 15 rows

+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
|departamento|idioma |lee |escribe|habla|total_perfil|carreras_representadas|edad_promedio|hombres|mujeres|pct_mujeres|nivel_competencia   |
+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
|APUR√çMAC    |Espa√±ol|SI  |SI     |SI   |16          |5                     |24.75        |10     |6      |37.50      |COMPETENCIA_COMPLETA|
|APUR√çMAC    |NULL   |NULL|NULL   |NULL |5           |2                     |19.2         |4      |1      |20.00      |SIN_COMPETENCIA     |
|APUR√çMAC    |Espa√±ol|SI  |NO     |NO   |4           |3                     |19.75        |2      |2      |50.00      |COMPETENCIA_PARCIAL |
|AREQUIPA    |Espa√±ol|SI  |SI     |SI   |21          |6                     |18.67        |10     |11     |52.38      |COMPETENCIA_COMPLETA|
|AREQUIPA    |Espa√±ol|SI  |NO     |NO   |5           |3                     |21.2         |2      |3      |60.00      |COMPETENCIA_PARCIAL |
|AREQUIPA    |NULL   |NULL|NULL   |NULL |3           |1                     |20.33        |2      |1      |33.33      |SIN_COMPETENCIA     |
|AYACUCHO    |Espa√±ol|SI  |SI     |SI   |62          |6                     |21.23        |41     |21     |33.87      |COMPETENCIA_COMPLETA|
|AYACUCHO    |NULL   |NULL|NULL   |NULL |33          |4                     |21.45        |16     |17     |51.52      |SIN_COMPETENCIA     |
|AYACUCHO    |Quechua|SI  |SI     |SI   |18          |3                     |20.33        |16     |2      |11.11      |COMPETENCIA_COMPLETA|
|AYACUCHO    |Quechua|SI  |NO     |NO   |12          |4                     |20.58        |7      |5      |41.67      |COMPETENCIA_PARCIAL |
|AYACUCHO    |Espa√±ol|SI  |NO     |NO   |10          |3                     |25.8         |7      |3      |30.00      |COMPETENCIA_PARCIAL |
|AYACUCHO    |Quechua|SI  |NO     |SI   |10          |4                     |21.0         |6      |4      |40.00      |COMPETENCIA_PARCIAL |
|CAJAMARCA   |NULL   |NULL|NULL   |NULL |3           |2                     |17.33        |1      |2      |66.67      |SIN_COMPETENCIA     |
|CUSCO       |Espa√±ol|SI  |SI     |SI   |1888        |6                     |19.19        |1184   |704    |37.29      |COMPETENCIA_COMPLETA|
|CUSCO       |NULL   |NULL|NULL   |NULL |902         |4                     |20.91        |579    |323    |35.81      |SIN_COMPETENCIA     |
+------------+-------+----+-------+-----+------------+----------------------+-------------+-------+-------+-----------+--------------------+
only showing top 15 rows

üó£Ô∏è Perfiles ling√º√≠sticos regionales: 54
üó£Ô∏è Perfiles ling√º√≠sticos regionales: 54

sqlGroupBy3: DataFrame = [departamento: string, idioma: string ... 10 more fields]

In [230]:
// SQL GROUPBY 4: Agrupaci√≥n por an√°lisis temporal y pagos
println("\nüìÇ SQL GROUPBY 4: An√°lisis temporal de postulaciones y pagos")

val sqlGroupBy4 = spark.sql("""
  SELECT 
    annio_postulacion,
    CASE 
      WHEN pago = 0 OR pago IS NULL THEN 'SIN_PAGO'
      WHEN pago <= 50 THEN 'PAGO_BAJO'
      WHEN pago <= 150 THEN 'PAGO_MEDIO'
      WHEN pago <= 300 THEN 'PAGO_ALTO'
      ELSE 'PAGO_PREMIUM'
    END as categoria_pago,
    modalidad,
    COUNT(*) as total_postulantes,
    COUNT(DISTINCT departamento) as departamentos_origen,
    COUNT(DISTINCT escuela) as carreras_solicitadas,
    ROUND(AVG(edad), 2) as edad_promedio,
    MIN(edad) as edad_minima,
    MAX(edad) as edad_maxima,
    SUM(CASE WHEN pago > 0 THEN pago ELSE 0 END) as ingresos_totales,
    ROUND(AVG(CASE WHEN pago > 0 THEN pago END), 2) as pago_promedio_efectivo
  FROM postulantes 
  WHERE annio_postulacion IS NOT NULL
  GROUP BY annio_postulacion, 
           CASE 
             WHEN pago = 0 OR pago IS NULL THEN 'SIN_PAGO'
             WHEN pago <= 50 THEN 'PAGO_BAJO'
             WHEN pago <= 150 THEN 'PAGO_MEDIO'
             WHEN pago <= 300 THEN 'PAGO_ALTO'
             ELSE 'PAGO_PREMIUM'
           END,
           modalidad
  ORDER BY annio_postulacion DESC, total_postulantes DESC
""")

sqlGroupBy4.show(20, truncate = false)
println(s"üìÖ Grupos temporales-econ√≥micos analizados: ${sqlGroupBy4.count()}")

üìÇ SQL GROUPBY 4: An√°lisis temporal de postulaciones y pagos

+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
|annio_postulacion|categoria_pago|modalidad                                                        |total_postulantes|departamentos_origen|carreras_solicitadas|edad_promedio|edad_minima|edad_maxima|ingresos_totales|pago_promedio_efectivo|
+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
|2023             |PAGO_ALTO     |ORDINARIO                                                        |795              |13                  |6                   |19.66        |16         |53         |163400          |205.53                |
|2023             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|313              |12                  |4                   |17.05        |16         |20         |64200           |205.11                |
|2023             |PAGO_BAJO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |200              |4                   |4                   |19.28        |16         |38         |10000           |50.0                  |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |31               |5                   |4                   |16.94        |16         |18         |6200            |200.0                 |
|2023             |SIN_PAGO      |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |11               |2                   |4                   |22.27        |17         |31         |0               |NULL                  |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |7                |2                   |2                   |21.14        |18         |29         |1450            |207.14                |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |5                |3                   |2                   |25.6         |18         |46         |1000            |200.0                 |
|2023             |PAGO_PREMIUM  |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |4                |1                   |3                   |25.25        |23         |30         |2680            |670.0                 |
|2023             |PAGO_BAJO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |1                |1                   |1                   |20.0         |20         |20         |50              |50.0                  |
|2022             |PAGO_ALTO     |ORDINARIO                                                        |406              |14                  |4                   |19.99        |17         |43         |83950           |206.77                |
|2022             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|206              |5                   |4                   |17.81        |16         |20         |43100           |209.22                |
|2022             |PAGO_BAJO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |170              |4                   |4                   |20.28        |17         |37         |8500            |50.0                  |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |24               |4                   |3                   |18.04        |17         |19         |4900            |204.17                |
|2022             |SIN_PAGO      |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |9                |2                   |3                   |21.11        |19         |24         |0               |NULL                  |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |5                |2                   |3                   |26.0         |22         |36         |1000            |200.0                 |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |2                |1                   |1                   |21.5         |19         |24         |400             |200.0                 |
|2022             |PAGO_PREMIUM  |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |2                |2                   |1                   |42.0         |40         |44         |1340            |670.0                 |
|2022             |PAGO_BAJO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |1                |1                   |1                   |18.0         |18         |18         |50              |50.0                  |
|2021             |PAGO_ALTO     |ORDINARIO                                                        |353              |12                  |4                   |20.92        |18         |52         |73550           |208.36                |
|2021             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|235              |10                  |4                   |18.79        |18         |22         |48850           |207.87                |
+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
only showing top 20 rows

+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
|annio_postulacion|categoria_pago|modalidad                                                        |total_postulantes|departamentos_origen|carreras_solicitadas|edad_promedio|edad_minima|edad_maxima|ingresos_totales|pago_promedio_efectivo|
+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
|2023             |PAGO_ALTO     |ORDINARIO                                                        |795              |13                  |6                   |19.66        |16         |53         |163400          |205.53                |
|2023             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|313              |12                  |4                   |17.05        |16         |20         |64200           |205.11                |
|2023             |PAGO_BAJO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |200              |4                   |4                   |19.28        |16         |38         |10000           |50.0                  |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |31               |5                   |4                   |16.94        |16         |18         |6200            |200.0                 |
|2023             |SIN_PAGO      |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |11               |2                   |4                   |22.27        |17         |31         |0               |NULL                  |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |7                |2                   |2                   |21.14        |18         |29         |1450            |207.14                |
|2023             |PAGO_ALTO     |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |5                |3                   |2                   |25.6         |18         |46         |1000            |200.0                 |
|2023             |PAGO_PREMIUM  |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |4                |1                   |3                   |25.25        |23         |30         |2680            |670.0                 |
|2023             |PAGO_BAJO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |1                |1                   |1                   |20.0         |20         |20         |50              |50.0                  |
|2022             |PAGO_ALTO     |ORDINARIO                                                        |406              |14                  |4                   |19.99        |17         |43         |83950           |206.77                |
|2022             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|206              |5                   |4                   |17.81        |16         |20         |43100           |209.22                |
|2022             |PAGO_BAJO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |170              |4                   |4                   |20.28        |17         |37         |8500            |50.0                  |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-PRIMEROS Y SEGUNDOS PUESTOS                       |24               |4                   |3                   |18.04        |17         |19         |4900            |204.17                |
|2022             |SIN_PAGO      |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |9                |2                   |3                   |21.11        |19         |24         |0               |NULL                  |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |5                |2                   |3                   |26.0         |22         |36         |1000            |200.0                 |
|2022             |PAGO_ALTO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |2                |1                   |1                   |21.5         |19         |24         |400             |200.0                 |
|2022             |PAGO_PREMIUM  |EXTRAORDINARIO-GRADUADOS Y TITULADOS                             |2                |2                   |1                   |42.0         |40         |44         |1340            |670.0                 |
|2022             |PAGO_BAJO     |EXTRAORDINARIO-VICTIMAS DE TERRORISMO                            |1                |1                   |1                   |18.0         |18         |18         |50              |50.0                  |
|2021             |PAGO_ALTO     |ORDINARIO                                                        |353              |12                  |4                   |20.92        |18         |52         |73550           |208.36                |
|2021             |PAGO_ALTO     |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|235              |10                  |4                   |18.79        |18         |22         |48850           |207.87                |
+-----------------+--------------+-----------------------------------------------------------------+-----------------+--------------------+--------------------+-------------+-----------+-----------+----------------+----------------------+
only showing top 20 rows

üìÖ Grupos temporales-econ√≥micos analizados: 42
üìÖ Grupos temporales-econ√≥micos analizados: 42

sqlGroupBy4: DataFrame = [annio_postulacion: int, categoria_pago: string ... 9 more fields]

In [231]:
// SQL GROUPBY 5: Agrupaci√≥n por an√°lisis de inclusi√≥n y accesibilidad
println("\nüìÇ SQL GROUPBY 5: An√°lisis de inclusi√≥n y accesibilidad educativa")

val sqlGroupBy5 = spark.sql("""
  SELECT 
    tiene_discapacidad,
    tipo_comunidad,
    modalidad,
    sexo,
    COUNT(*) as total_grupo,
    COUNT(DISTINCT escuela) as carreras_accesibles,
    COUNT(DISTINCT departamento) as regiones_origen,
    ROUND(AVG(edad), 2) as edad_promedio,
    COUNT(CASE WHEN pago > 0 THEN 1 END) as realizaron_pago,
    ROUND((COUNT(CASE WHEN pago > 0 THEN 1 END) * 100.0 / COUNT(*)), 2) as pct_con_pago,
    ROUND(AVG(CASE WHEN pago > 0 THEN pago END), 2) as pago_promedio,
    -- Indicadores de competencia ling√º√≠stica
    COUNT(CASE WHEN lee = 'SI' AND escribe = 'SI' AND habla = 'SI' THEN 1 END) as competencia_completa,
    COUNT(CASE WHEN lee = 'NO' AND escribe = 'NO' AND habla = 'NO' THEN 1 END) as sin_competencia,
    ROUND((COUNT(CASE WHEN lee = 'SI' AND escribe = 'SI' AND habla = 'SI' THEN 1 END) * 100.0 / COUNT(*)), 2) as pct_competencia_completa,
    -- Categorizar grupo
    CASE 
      WHEN tiene_discapacidad = 'SI' THEN 'GRUPO_PRIORITARIO'
      WHEN tipo_comunidad IN ('RURAL', 'COMUNIDAD NATIVA') THEN 'GRUPO_VULNERABLE'
      ELSE 'GRUPO_REGULAR'
    END as categoria_inclusion
  FROM postulantes 
  GROUP BY tiene_discapacidad, tipo_comunidad, modalidad, sexo
  HAVING COUNT(*) >= 2  -- Grupos con al menos 2 personas
  ORDER BY 
    CASE 
      WHEN tiene_discapacidad = 'SI' THEN 1
      WHEN tipo_comunidad IN ('RURAL', 'COMUNIDAD NATIVA') THEN 2
      ELSE 3
    END,
    total_grupo DESC
""")

sqlGroupBy5.show(15, truncate = false)
println(s"‚ôø Grupos de inclusi√≥n analizados: ${sqlGroupBy5.count()}")
println("üåê An√°lisis enfocado en equidad e inclusi√≥n educativa")

üìÇ SQL GROUPBY 5: An√°lisis de inclusi√≥n y accesibilidad educativa

+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
|tiene_discapacidad|tipo_comunidad|modalidad                                                        |sexo     |total_grupo|carreras_accesibles|regiones_origen|edad_promedio|realizaron_pago|pct_con_pago|pago_promedio|competencia_completa|sin_competencia|pct_competencia_completa|categoria_inclusion|
+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
|SI                |NINGUNA       |ORDINARIO                                                        |MASCULINO|8          |4                  |2              |24.38        |8              |100.00      |212.5        |7                   |0              |87.50                   |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|7          |3                  |3              |20.86        |7              |100.00      |200.0        |6                   |0              |85.71                   |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|6          |2                  |3              |18.17        |6              |100.00      |225.0        |6                   |0              |100.00                  |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |ORDINARIO                                                        |FEMENINO |5          |4                  |1              |18.6         |5              |100.00      |200.0        |5                   |0              |100.00                  |GRUPO_PRIORITARIO  |
|NO                |NINGUNA       |ORDINARIO                                                        |MASCULINO|1275       |6                  |18             |20.88        |1275           |100.00      |206.71       |952                 |15             |74.67                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |ORDINARIO                                                        |FEMENINO |731        |6                  |14             |20.29        |731            |100.00      |205.88       |489                 |6              |66.89                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|606        |4                  |12             |18.47        |606            |100.00      |206.44       |393                 |5              |64.85                   |GRUPO_REGULAR      |
|NULL              |NULL          |ORDINARIO                                                        |MASCULINO|534        |4                  |10             |21.59        |534            |100.00      |200.0        |0                   |0              |0.00                    |GRUPO_REGULAR      |
|NO                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |481        |4                  |12             |18.48        |481            |100.00      |205.51       |298                 |7              |61.95                   |GRUPO_REGULAR      |
|NULL              |NULL          |ORDINARIO                                                        |FEMENINO |291        |4                  |8              |20.01        |291            |100.00      |200.0        |0                   |0              |0.00                    |GRUPO_REGULAR      |
|NO                |NINGUNA       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|172        |4                  |3              |20.78        |172            |100.00      |50.0         |119                 |0              |69.19                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |128        |4                  |2              |20.09        |128            |100.00      |50.0         |84                  |0              |65.63                   |GRUPO_REGULAR      |
|NO                |ANDINO        |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|98         |4                  |2              |21.74        |98             |100.00      |50.0         |95                  |0              |96.94                   |GRUPO_REGULAR      |
|NO                |AMAZ√ìNICO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|98         |4                  |2              |20.5         |98             |100.00      |51.53        |97                  |0              |98.98                   |GRUPO_REGULAR      |
|NULL              |NULL          |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|76         |4                  |3              |20.38        |76             |100.00      |50.0         |0                   |0              |0.00                    |GRUPO_REGULAR      |
+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
only showing top 15 rows

+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
|tiene_discapacidad|tipo_comunidad|modalidad                                                        |sexo     |total_grupo|carreras_accesibles|regiones_origen|edad_promedio|realizaron_pago|pct_con_pago|pago_promedio|competencia_completa|sin_competencia|pct_competencia_completa|categoria_inclusion|
+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
|SI                |NINGUNA       |ORDINARIO                                                        |MASCULINO|8          |4                  |2              |24.38        |8              |100.00      |212.5        |7                   |0              |87.50                   |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|7          |3                  |3              |20.86        |7              |100.00      |200.0        |6                   |0              |85.71                   |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|6          |2                  |3              |18.17        |6              |100.00      |225.0        |6                   |0              |100.00                  |GRUPO_PRIORITARIO  |
|SI                |NINGUNA       |ORDINARIO                                                        |FEMENINO |5          |4                  |1              |18.6         |5              |100.00      |200.0        |5                   |0              |100.00                  |GRUPO_PRIORITARIO  |
|NO                |NINGUNA       |ORDINARIO                                                        |MASCULINO|1275       |6                  |18             |20.88        |1275           |100.00      |206.71       |952                 |15             |74.67                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |ORDINARIO                                                        |FEMENINO |731        |6                  |14             |20.29        |731            |100.00      |205.88       |489                 |6              |66.89                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|606        |4                  |12             |18.47        |606            |100.00      |206.44       |393                 |5              |64.85                   |GRUPO_REGULAR      |
|NULL              |NULL          |ORDINARIO                                                        |MASCULINO|534        |4                  |10             |21.59        |534            |100.00      |200.0        |0                   |0              |0.00                    |GRUPO_REGULAR      |
|NO                |NINGUNA       |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|FEMENINO |481        |4                  |12             |18.48        |481            |100.00      |205.51       |298                 |7              |61.95                   |GRUPO_REGULAR      |
|NULL              |NULL          |ORDINARIO                                                        |FEMENINO |291        |4                  |8              |20.01        |291            |100.00      |200.0        |0                   |0              |0.00                    |GRUPO_REGULAR      |
|NO                |NINGUNA       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|172        |4                  |3              |20.78        |172            |100.00      |50.0         |119                 |0              |69.19                   |GRUPO_REGULAR      |
|NO                |NINGUNA       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |128        |4                  |2              |20.09        |128            |100.00      |50.0         |84                  |0              |65.63                   |GRUPO_REGULAR      |
|NO                |ANDINO        |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|98         |4                  |2              |21.74        |98             |100.00      |50.0         |95                  |0              |96.94                   |GRUPO_REGULAR      |
|NO                |AMAZ√ìNICO     |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|98         |4                  |2              |20.5         |98             |100.00      |51.53        |97                  |0              |98.98                   |GRUPO_REGULAR      |
|NULL              |NULL          |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|76         |4                  |3              |20.38        |76             |100.00      |50.0         |0                   |0              |0.00                    |GRUPO_REGULAR      |
+------------------+--------------+-----------------------------------------------------------------+---------+-----------+-------------------+---------------+-------------+---------------+------------+-------------+--------------------+---------------+------------------------+-------------------+
only showing top 15 rows

‚ôø Grupos de inclusi√≥n analizados: 31
üåê An√°lisis enfocado en equidad e inclusi√≥n educativa
‚ôø Grupos de inclusi√≥n analizados: 31
üåê An√°lisis enfocado en equidad e inclusi√≥n educativa

sqlGroupBy5: DataFrame = [tiene_discapacidad: string, tipo_comunidad: string ... 13 more fields]

### üîÑ SUBSECCI√ìN: CINCO CONSULTAS ORDERBY CON OPERADORES

In [232]:
// SQL ORDERBY 1: Ordenamiento con filtros y c√°lculos complejos
println("üîÑ SQL ORDERBY 1: Ranking de postulantes por m√©tricas combinadas")

val sqlOrderBy1 = spark.sql("""
  SELECT 
    uuid,
    escuela,
    departamento,
    modalidad,
    edad,
    pago,
    -- C√°lculos para ranking
    (pago * 0.4 + edad * 0.3 + 
     CASE WHEN sexo = 'FEMENINO' THEN 10 ELSE 0 END +
     CASE WHEN tiene_discapacidad = 'SI' THEN 15 ELSE 0 END) as puntaje_inclusion,
    -- Categorizaci√≥n
    CASE 
      WHEN pago > 200 AND edad < 25 THEN 'PREMIUM_JOVEN'
      WHEN pago > 150 THEN 'ALTO_VALOR'
      WHEN tiene_discapacidad = 'SI' OR tipo_comunidad = 'RURAL' THEN 'PRIORITARIO'
      ELSE 'REGULAR'
    END as categoria
  FROM postulantes 
  WHERE pago IS NOT NULL AND edad IS NOT NULL
    AND pago > 0
    AND departamento IN ('LIMA', 'AREQUIPA', 'CUSCO', 'PIURA')
  ORDER BY 
    categoria ASC,
    puntaje_inclusion DESC,
    pago DESC,
    edad ASC
  LIMIT 25
""")

sqlOrderBy1.show(truncate = false)
println(s"üèÜ Top postulantes por criterios combinados mostrados")

üîÑ SQL ORDERBY 1: Ranking de postulantes por m√©tricas combinadas

+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
|uuid                                                            |escuela                       |departamento|modalidad                           |edad|pago|puntaje_inclusion|categoria |
+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|44  |670 |281.2            |ALTO_VALOR|
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|36  |670 |278.8            |ALTO_VALOR|
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|31  |670 |277.3            |ALTO_VALOR|
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|30  |670 |277.0            |ALTO_VALOR|
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |27  |300 |128.1            |ALTO_VALOR|
|2b72b88b5529905acfe4a1bdafb095f857437340c7985a497c8a664ec4ed49c6|INGENIER√çA DE ALIMENTOS       |CUSCO       |ORDINARIO                           |42  |250 |122.6            |ALTO_VALOR|
|afd5cf307689773948e467edca4dd3caf17284c7929a2b6ff8d2d9f401a83612|ECONOM√çA                      |CUSCO       |ORDINARIO                           |30  |250 |119.0            |ALTO_VALOR|
|3b721fc537e668a663e0475cc1aca2cb434d8a0f064f8c3e69f914fcbb19e930|ECONOM√çA                      |CUSCO       |ORDINARIO                           |28  |250 |118.4            |ALTO_VALOR|
|00d0f4d097877599e1c014ab83027dffdba84077af88a6c6e5405358ac943932|ECOTURISMO                    |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|71ce2efec51e6180461a9e071356419b775e0c6ff380625609ceaf8605a84e30|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|96df7760faabc1548fe754c328cbe9dd7fd46b7317b44e6318e9e9effc583501|CONTABILIDAD                  |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|e00f993c45e50576c342d2b5ce14191742e213efbd556c94733748a5caaa9e97|CONTABILIDAD                  |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|c3c8805f073a2f382c248a5a457bb3be47d835fcaa89a11751db62176fbc075d|INGENIER√çA DE ALIMENTOS       |CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|21832bfe2c3f530ccc2649a312995263ca77bf60f5963c141847aa97af0aff04|ECONOM√çA                      |CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|8d1e80786940728570882a8b944e5630bddfe91318c6c4e7d90f00de2e1a4270|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|8515ed9e2a0423ddbb731aad1c960b347f9e3820d39d0c70aec7354212c2999c|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |43  |250 |112.9            |ALTO_VALOR|
|a95505208a9bf870e663eebe2c3d236ddd7f7787fe5024889f49239b6d4cfefc|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |39  |250 |111.7            |ALTO_VALOR|
|5171da48dd2e5f16bba1d4bad4b0f932575aec09c8a4609123e81aee0ab1b1e3|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |37  |250 |111.1            |ALTO_VALOR|
|6e016984c0d4d821300a14478355583b8c2946fa5cb1dfd501059adb9781c85e|ECONOM√çA                      |CUSCO       |ORDINARIO                           |37  |250 |111.1            |ALTO_VALOR|
|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |19  |200 |110.7            |ALTO_VALOR|
+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
only showing top 20 rows

üèÜ Top postulantes por criterios combinados mostrados
+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
|uuid                                                            |escuela                       |departamento|modalidad                           |edad|pago|puntaje_inclusion|categoria |
+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|44  |670 |281.2            |ALTO_VALOR|
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|36  |670 |278.8            |ALTO_VALOR|
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|31  |670 |277.3            |ALTO_VALOR|
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |CUSCO       |EXTRAORDINARIO-GRADUADOS Y TITULADOS|30  |670 |277.0            |ALTO_VALOR|
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |27  |300 |128.1            |ALTO_VALOR|
|2b72b88b5529905acfe4a1bdafb095f857437340c7985a497c8a664ec4ed49c6|INGENIER√çA DE ALIMENTOS       |CUSCO       |ORDINARIO                           |42  |250 |122.6            |ALTO_VALOR|
|afd5cf307689773948e467edca4dd3caf17284c7929a2b6ff8d2d9f401a83612|ECONOM√çA                      |CUSCO       |ORDINARIO                           |30  |250 |119.0            |ALTO_VALOR|
|3b721fc537e668a663e0475cc1aca2cb434d8a0f064f8c3e69f914fcbb19e930|ECONOM√çA                      |CUSCO       |ORDINARIO                           |28  |250 |118.4            |ALTO_VALOR|
|00d0f4d097877599e1c014ab83027dffdba84077af88a6c6e5405358ac943932|ECOTURISMO                    |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|71ce2efec51e6180461a9e071356419b775e0c6ff380625609ceaf8605a84e30|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|96df7760faabc1548fe754c328cbe9dd7fd46b7317b44e6318e9e9effc583501|CONTABILIDAD                  |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|e00f993c45e50576c342d2b5ce14191742e213efbd556c94733748a5caaa9e97|CONTABILIDAD                  |CUSCO       |ORDINARIO                           |27  |250 |118.1            |ALTO_VALOR|
|c3c8805f073a2f382c248a5a457bb3be47d835fcaa89a11751db62176fbc075d|INGENIER√çA DE ALIMENTOS       |CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|21832bfe2c3f530ccc2649a312995263ca77bf60f5963c141847aa97af0aff04|ECONOM√çA                      |CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|8d1e80786940728570882a8b944e5630bddfe91318c6c4e7d90f00de2e1a4270|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |25  |250 |117.5            |ALTO_VALOR|
|8515ed9e2a0423ddbb731aad1c960b347f9e3820d39d0c70aec7354212c2999c|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |43  |250 |112.9            |ALTO_VALOR|
|a95505208a9bf870e663eebe2c3d236ddd7f7787fe5024889f49239b6d4cfefc|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |ORDINARIO                           |39  |250 |111.7            |ALTO_VALOR|
|5171da48dd2e5f16bba1d4bad4b0f932575aec09c8a4609123e81aee0ab1b1e3|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |37  |250 |111.1            |ALTO_VALOR|
|6e016984c0d4d821300a14478355583b8c2946fa5cb1dfd501059adb9781c85e|ECONOM√çA                      |CUSCO       |ORDINARIO                           |37  |250 |111.1            |ALTO_VALOR|
|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|INGENIER√çA CIVIL              |CUSCO       |ORDINARIO                           |19  |200 |110.7            |ALTO_VALOR|
+----------------------------------------------------------------+------------------------------+------------+------------------------------------+----+----+-----------------+----------+
only showing top 20 rows

üèÜ Top postulantes por criterios combinados mostrados

sqlOrderBy1: DataFrame = [uuid: string, escuela: string ... 6 more fields]

In [233]:
// SQL ORDERBY 2: Ordenamiento con funciones de ventana y percentiles
println("\nüîÑ SQL ORDERBY 2: An√°lisis de percentiles y rankings por carrera")

val sqlOrderBy2 = spark.sql("""
  SELECT 
    uuid,
    escuela,
    pago,
    edad,
    -- Rankings por carrera
    ROW_NUMBER() OVER (PARTITION BY escuela ORDER BY pago DESC) as rank_pago_carrera,
    DENSE_RANK() OVER (PARTITION BY escuela ORDER BY edad ASC) as rank_edad_carrera,
    -- Percentiles
    PERCENT_RANK() OVER (ORDER BY pago) as percentil_pago_general,
    NTILE(10) OVER (ORDER BY pago) as decil_pago,
    -- Comparaciones con promedios
    AVG(pago) OVER (PARTITION BY escuela) as pago_prom_carrera,
    pago - AVG(pago) OVER (PARTITION BY escuela) as diferencia_promedio,
    -- Valores anterior y siguiente
    LAG(pago, 1) OVER (PARTITION BY escuela ORDER BY pago DESC) as pago_anterior,
    LEAD(pago, 1) OVER (PARTITION BY escuela ORDER BY pago DESC) as pago_siguiente
  FROM postulantes 
  WHERE pago IS NOT NULL AND pago > 0 AND edad IS NOT NULL
  ORDER BY 
    percentil_pago_general DESC,
    escuela ASC,
    rank_pago_carrera ASC
  LIMIT 30
""")

sqlOrderBy2.show(20, truncate = false)
println(s"üìà An√°lisis de percentiles y rankings completado")

üîÑ SQL ORDERBY 2: An√°lisis de percentiles y rankings por carrera

+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
|uuid                                                            |escuela                       |pago|edad|rank_pago_carrera|rank_edad_carrera|percentil_pago_general|decil_pago|pago_prom_carrera |diferencia_promedio|pago_anterior|pago_siguiente|
+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|INGENIER√çA AGRON√ìMICA TROPICAL|670 |23  |1                |9                |0.9983596473241747    |10        |174.1032428855063 |495.8967571144937  |NULL         |300           |
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|INGENIER√çA CIVIL              |670 |40  |1                |25               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |NULL         |670           |
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |670 |36  |2                |21               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |670 |31  |3                |16               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |670 |44  |4                |28               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|INGENIER√çA CIVIL              |670 |40  |5                |25               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |670 |30  |6                |15               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|INGENIER√çA CIVIL              |670 |24  |7                |9                |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |300           |
|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|INGENIER√çA DE ALIMENTOS       |670 |24  |1                |10               |0.9983596473241747    |10        |171.30968622100954|498.69031377899046 |NULL         |250           |
|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|ECOTURISMO                    |300 |21  |1                |6                |0.9975394709862621    |10        |167.36111111111111|132.63888888888889 |NULL         |250           |
|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|INGENIER√çA AGRON√ìMICA TROPICAL|300 |21  |2                |7                |0.9975394709862621    |10        |174.1032428855063 |125.89675711449371 |670          |300           |
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|300 |27  |3                |13               |0.9975394709862621    |10        |174.1032428855063 |125.89675711449371 |300          |250           |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|INGENIER√çA CIVIL              |300 |19  |8                |4                |0.9975394709862621    |10        |189.8494983277592 |110.15050167224081 |670          |250           |
|54b4d9b9552235b5a5a80b679860dec9bedbbbd5d04e283d9aaa2231fc1f5848|CONTABILIDAD                  |250 |18  |1                |3                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |NULL         |250           |
|b09f6b277c74979389a2b9feaabf5da88e8dc5adcb0db22a0922ae75e2ac3182|CONTABILIDAD                  |250 |25  |2                |10               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|8541f7395e90fa067d3e0a3668b080173c5bfe5f3d3b38d0e7f83eb81a785545|CONTABILIDAD                  |250 |17  |3                |2                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|96df7760faabc1548fe754c328cbe9dd7fd46b7317b44e6318e9e9effc583501|CONTABILIDAD                  |250 |27  |4                |12               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|14b395bf871eee4f78c7a6c18ff1de9db4efe41e74b12082f3b2cf659b036d49|CONTABILIDAD                  |250 |22  |5                |7                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|73e1fde12d29803a700863c37364b6315819bde68efb8be36cb875f110b350d9|CONTABILIDAD                  |250 |26  |6                |11               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|008f465503d840c5d7a489133eed9ca16193e319fff04515acff5c3f9e4e1176|CONTABILIDAD                  |250 |18  |7                |3                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
only showing top 20 rows

üìà An√°lisis de percentiles y rankings completado
+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
|uuid                                                            |escuela                       |pago|edad|rank_pago_carrera|rank_edad_carrera|percentil_pago_general|decil_pago|pago_prom_carrera |diferencia_promedio|pago_anterior|pago_siguiente|
+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|INGENIER√çA AGRON√ìMICA TROPICAL|670 |23  |1                |9                |0.9983596473241747    |10        |174.1032428855063 |495.8967571144937  |NULL         |300           |
|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|INGENIER√çA CIVIL              |670 |40  |1                |25               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |NULL         |670           |
|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |670 |36  |2                |21               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |670 |31  |3                |16               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |670 |44  |4                |28               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|INGENIER√çA CIVIL              |670 |40  |5                |25               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |670 |30  |6                |15               |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |670           |
|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|INGENIER√çA CIVIL              |670 |24  |7                |9                |0.9983596473241747    |10        |189.8494983277592 |480.1505016722408  |670          |300           |
|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|INGENIER√çA DE ALIMENTOS       |670 |24  |1                |10               |0.9983596473241747    |10        |171.30968622100954|498.69031377899046 |NULL         |250           |
|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|ECOTURISMO                    |300 |21  |1                |6                |0.9975394709862621    |10        |167.36111111111111|132.63888888888889 |NULL         |250           |
|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|INGENIER√çA AGRON√ìMICA TROPICAL|300 |21  |2                |7                |0.9975394709862621    |10        |174.1032428855063 |125.89675711449371 |670          |300           |
|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|300 |27  |3                |13               |0.9975394709862621    |10        |174.1032428855063 |125.89675711449371 |300          |250           |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|INGENIER√çA CIVIL              |300 |19  |8                |4                |0.9975394709862621    |10        |189.8494983277592 |110.15050167224081 |670          |250           |
|54b4d9b9552235b5a5a80b679860dec9bedbbbd5d04e283d9aaa2231fc1f5848|CONTABILIDAD                  |250 |18  |1                |3                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |NULL         |250           |
|b09f6b277c74979389a2b9feaabf5da88e8dc5adcb0db22a0922ae75e2ac3182|CONTABILIDAD                  |250 |25  |2                |10               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|8541f7395e90fa067d3e0a3668b080173c5bfe5f3d3b38d0e7f83eb81a785545|CONTABILIDAD                  |250 |17  |3                |2                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|96df7760faabc1548fe754c328cbe9dd7fd46b7317b44e6318e9e9effc583501|CONTABILIDAD                  |250 |27  |4                |12               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|14b395bf871eee4f78c7a6c18ff1de9db4efe41e74b12082f3b2cf659b036d49|CONTABILIDAD                  |250 |22  |5                |7                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|73e1fde12d29803a700863c37364b6315819bde68efb8be36cb875f110b350d9|CONTABILIDAD                  |250 |26  |6                |11               |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
|008f465503d840c5d7a489133eed9ca16193e319fff04515acff5c3f9e4e1176|CONTABILIDAD                  |250 |18  |7                |3                |0.9177773221242567    |10        |205.8139534883721 |44.18604651162789  |250          |250           |
+----------------------------------------------------------------+------------------------------+----+----+-----------------+-----------------+----------------------+----------+------------------+-------------------+-------------+--------------+
only showing top 20 rows

üìà An√°lisis de percentiles y rankings completado

sqlOrderBy2: DataFrame = [uuid: string, escuela: string ... 10 more fields]

In [234]:
// SQL ORDERBY 3: Ordenamiento con agregaciones, filtros HAVING y subconsultas
println("\nüîÑ SQL ORDERBY 3: Carreras ordenadas por competitividad y diversidad")

val sqlOrderBy3 = spark.sql("""
  SELECT 
    escuela,
    COUNT(*) as total_postulantes,
    COUNT(DISTINCT departamento) as diversidad_geografica,
    COUNT(DISTINCT modalidad) as modalidades_disponibles,
    ROUND(AVG(pago), 2) as pago_promedio,
    ROUND(STDDEV(pago), 2) as desviacion_pago,
    COUNT(CASE WHEN sexo = 'FEMENINO' THEN 1 END) as mujeres,
    COUNT(CASE WHEN tiene_discapacidad = 'SI' THEN 1 END) as con_discapacidad,
    ROUND((COUNT(CASE WHEN sexo = 'FEMENINO' THEN 1 END) * 100.0 / COUNT(*)), 2) as pct_mujeres,
    ROUND((COUNT(CASE WHEN tiene_discapacidad = 'SI' THEN 1 END) * 100.0 / COUNT(*)), 2) as pct_discapacidad,
    -- √çndice de competitividad (m√°s postulantes = m√°s competitivo)
    ROUND((COUNT(*) * 0.4 + 
           COUNT(DISTINCT departamento) * 0.3 + 
           AVG(pago) * 0.003), 2) as indice_competitividad
  FROM postulantes 
  WHERE pago IS NOT NULL AND pago > 0
  GROUP BY escuela
  HAVING COUNT(*) >= 50  -- Solo carreras con m√≠nimo 50 postulantes
    AND COUNT(DISTINCT departamento) >= 3  -- Al menos 3 departamentos
    AND AVG(pago) > (SELECT AVG(pago) * 0.8 FROM postulantes WHERE pago > 0)  -- Pago promedio decente
  ORDER BY 
    indice_competitividad DESC,
    diversidad_geografica DESC,
    pct_mujeres DESC,
    total_postulantes DESC
""")

sqlOrderBy3.show(truncate = false)
println(s"üéì Carreras analizadas por competitividad y diversidad")

üîÑ SQL ORDERBY 3: Carreras ordenadas por competitividad y diversidad

+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+
|escuela                       |total_postulantes|diversidad_geografica|modalidades_disponibles|pago_promedio|desviacion_pago|mujeres|con_discapacidad|pct_mujeres|pct_discapacidad|indice_competitividad|
+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+
|INGENIER√çA CIVIL              |1794             |18                   |8                      |189.85       |60.84          |469    |12              |26.14      |0.67            |723.57               |
|INGENIER√çA AGRON√ìMICA TROPICAL|1511             |14                   |8                      |174.1        |61.75          |580    |9               |38.39      |0.60            |609.12               |
|INGENIER√çA DE ALIMENTOS       |733              |13                   |7                      |171.31       |66.81          |417    |6               |56.89      |0.82            |297.61               |
|ECOTURISMO                    |504              |9                    |6                      |167.36       |66.82          |291    |3               |57.74      |0.60            |204.8                |
|ECONOM√çA                      |207              |10                   |1                      |206.04       |16.33          |85     |1               |41.06      |0.48            |86.42                |
|CONTABILIDAD                  |129              |9                    |1                      |205.81       |16.09          |64     |0               |49.61      |0.00            |54.92                |
+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+

üéì Carreras analizadas por competitividad y diversidad
+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+
|escuela                       |total_postulantes|diversidad_geografica|modalidades_disponibles|pago_promedio|desviacion_pago|mujeres|con_discapacidad|pct_mujeres|pct_discapacidad|indice_competitividad|
+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+
|INGENIER√çA CIVIL              |1794             |18                   |8                      |189.85       |60.84          |469    |12              |26.14      |0.67            |723.57               |
|INGENIER√çA AGRON√ìMICA TROPICAL|1511             |14                   |8                      |174.1        |61.75          |580    |9               |38.39      |0.60            |609.12               |
|INGENIER√çA DE ALIMENTOS       |733              |13                   |7                      |171.31       |66.81          |417    |6               |56.89      |0.82            |297.61               |
|ECOTURISMO                    |504              |9                    |6                      |167.36       |66.82          |291    |3               |57.74      |0.60            |204.8                |
|ECONOM√çA                      |207              |10                   |1                      |206.04       |16.33          |85     |1               |41.06      |0.48            |86.42                |
|CONTABILIDAD                  |129              |9                    |1                      |205.81       |16.09          |64     |0               |49.61      |0.00            |54.92                |
+------------------------------+-----------------+---------------------+-----------------------+-------------+---------------+-------+----------------+-----------+----------------+---------------------+

üéì Carreras analizadas por competitividad y diversidad

sqlOrderBy3: DataFrame = [escuela: string, total_postulantes: bigint ... 9 more fields]

In [235]:
// SQL ORDERBY 4: Ordenamiento con CASE WHEN y operadores l√≥gicos complejos
println("\nüîÑ SQL ORDERBY 4: Clasificaci√≥n de postulantes por perfil integral")

val sqlOrderBy4 = spark.sql("""
  SELECT 
    uuid,
    departamento,
    escuela,
    modalidad,
    sexo,
    edad,
    pago,
    tiene_discapacidad,
    tipo_comunidad,
    -- Puntaje de prioridad social
    CASE 
      WHEN tiene_discapacidad = 'SI' THEN 100
      WHEN tipo_comunidad IN ('RURAL', 'COMUNIDAD NATIVA') THEN 80
      WHEN sexo = 'FEMENINO' AND modalidad LIKE '%OPORTUNIDAD%' THEN 60
      WHEN departamento NOT IN ('LIMA', 'AREQUIPA', 'CUSCO') THEN 40
      ELSE 20
    END as puntaje_prioridad,
    -- Puntaje econ√≥mico (inverso: menor pago = mayor puntaje)
    CASE 
      WHEN pago IS NULL OR pago = 0 THEN 100
      WHEN pago <= 50 THEN 80
      WHEN pago <= 100 THEN 60
      WHEN pago <= 200 THEN 40
      ELSE 20
    END as puntaje_economico,
    -- Puntaje acad√©mico
    CASE 
      WHEN modalidad = 'EXONERADO' THEN 100
      WHEN modalidad LIKE '%OPORTUNIDAD%' AND edad <= 20 THEN 80
      WHEN modalidad LIKE '%OPORTUNIDAD%' THEN 60
      WHEN modalidad = 'EXTRAORDINARIO' THEN 40
      ELSE 20
    END as puntaje_academico,
    -- Competencia ling√º√≠stica
    CASE 
      WHEN lee = 'SI' AND escribe = 'SI' AND habla = 'SI' THEN 100
      WHEN (lee = 'SI' AND escribe = 'SI') OR (lee = 'SI' AND habla = 'SI') OR (escribe = 'SI' AND habla = 'SI') THEN 70
      WHEN lee = 'SI' OR escribe = 'SI' OR habla = 'SI' THEN 40
      ELSE 10
    END as puntaje_linguistico
  FROM postulantes 
  WHERE edad IS NOT NULL
  ORDER BY 
    -- Prioridad 1: Casos especiales de inclusi√≥n
    CASE 
      WHEN tiene_discapacidad = 'SI' AND tipo_comunidad = 'RURAL' THEN 1
      WHEN tiene_discapacidad = 'SI' THEN 2
      WHEN tipo_comunidad IN ('RURAL', 'COMUNIDAD NATIVA') THEN 3
      ELSE 4
    END ASC,
    -- Prioridad 2: Puntaje combinado (m√°s alto = mejor)
    (puntaje_prioridad + puntaje_economico + puntaje_academico + puntaje_linguistico) DESC,
    -- Prioridad 3: Criterios de desempate
    pago ASC NULLS FIRST,
    edad ASC,
    departamento ASC
  LIMIT 30
""")

sqlOrderBy4.show(25, truncate = false)
println(s"‚öñÔ∏è Postulantes clasificados por perfil integral de inclusi√≥n")

üîÑ SQL ORDERBY 4: Clasificaci√≥n de postulantes por perfil integral

+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
|uuid                                                            |departamento|escuela                       |modalidad                                                        |sexo     |edad|pago|tiene_discapacidad|tipo_comunidad|puntaje_prioridad|puntaje_economico|puntaje_academico|puntaje_linguistico|
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|75f29abc186112f600291909c6aae585e9c26e0d50e18e9dd502ff3611b8a6ec|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|c396b0405441ce9a6e1604ad4ea179bac2d2fd87c95f0601b28e6ad3c3f57796|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |20  |50  |SI                |ANDINO        |100              |80               |20               |100                |
|ec52b5fe2433fc5b8b47a8b19e778fd545fa04e747f5727c517a29882bb9e154|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|21  |50  |SI                |ANDINO        |100              |80               |20               |100                |
|350c3d3957f1d4f2a3dd208ab969fc3bee3881ef1a585425cf9b2d28d130ed27|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|24  |50  |SI                |NINGUNA       |100              |80               |20               |100                |
|fe7264f0e45a0bc6fdfc83263c389a4e77d0a1469c7dc8dd139d0ce8d6b456ab|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|17  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|APUR√çMAC    |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|0a2e1f154043f17b4582e02f5d4ac0c570b092fe7e61a1e1909e1f18b3c92ac3|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|19  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|c99692652fe938ea824f53d294d6fdd5a1715e5050c9105932f3287482c74a3a|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |18  |50  |SI                |NINGUNA       |100              |80               |20               |70                 |
|e0b96a1d2f30bfacbcd6f79b483a127de448f574cfb575e0a24c3c3dbd88c6b6|CUSCO       |INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |FEMENINO |18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|f2408f4b5e6213e256e2fbce1fa6aafb8fa53269590000ccb825399119d75973|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|0159377b892ca498a45aa7f05ee4e5fcb87841c180a0171ca2be55ac0f5cb7c4|CUSCO       |ECOTURISMO                    |ORDINARIO                                                        |FEMENINO |18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|89de1e05db493a54c9cf56661320b7202dc2c4620eeb43140fbd282a2052094c|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|6cbcc4d6a11b82d4c340ab89394e70aa8875e601b7c0136601f04fca3c8e7510|CUSCO       |INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|39aac6431ed9a3cfb99a97e268d3a0b8c1b8811edfe8a8af1392f535db04e9ee|LIMA        |ECOTURISMO                    |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|664721680e722afb3fc102fe9c6a0877c42dd881e3f6eb76cf2b78b1935cd5a4|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|20  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|65db902b2759ed502ace6892244e4e44363a1356fee5c081ed7055cc21ccd834|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|20  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|ff7b8b3f8e6397a98c4cbd2f3aa5110db0341fd1781dfbafd3e473e415d1d34f|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|21  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|1aec15292ffa2f79bd8c8793c53780d7ee85c8cfa370c077e00266c0dc50f32d|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|22  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|c7c4a568c1fb65f7a633b6da5990717fba12a5c43afe6b0858c3d8a154bd0f8a|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |MASCULINO|23  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|69aa3c3c540756e55b2ab8545c62eb57d207b2edfbf8fc088088c836563d8625|CUSCO       |ECONOM√çA                      |ORDINARIO                                                        |MASCULINO|24  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
only showing top 25 rows

‚öñÔ∏è Postulantes clasificados por perfil integral de inclusi√≥n
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
|uuid                                                            |departamento|escuela                       |modalidad                                                        |sexo     |edad|pago|tiene_discapacidad|tipo_comunidad|puntaje_prioridad|puntaje_economico|puntaje_academico|puntaje_linguistico|
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|75f29abc186112f600291909c6aae585e9c26e0d50e18e9dd502ff3611b8a6ec|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |80               |100                |
|c396b0405441ce9a6e1604ad4ea179bac2d2fd87c95f0601b28e6ad3c3f57796|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |20  |50  |SI                |ANDINO        |100              |80               |20               |100                |
|ec52b5fe2433fc5b8b47a8b19e778fd545fa04e747f5727c517a29882bb9e154|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|21  |50  |SI                |ANDINO        |100              |80               |20               |100                |
|350c3d3957f1d4f2a3dd208ab969fc3bee3881ef1a585425cf9b2d28d130ed27|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |MASCULINO|24  |50  |SI                |NINGUNA       |100              |80               |20               |100                |
|fe7264f0e45a0bc6fdfc83263c389a4e77d0a1469c7dc8dd139d0ce8d6b456ab|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|17  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|APUR√çMAC    |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|18  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|0a2e1f154043f17b4582e02f5d4ac0c570b092fe7e61a1e1909e1f18b3c92ac3|CUSCO       |INGENIER√çA CIVIL              |PRIMERA OPORTUNIDAD PARA ESTUDIANTES DEL QUINTO A√ëO DE SECUNDARIA|MASCULINO|19  |250 |SI                |NINGUNA       |100              |20               |80               |100                |
|c99692652fe938ea824f53d294d6fdd5a1715e5050c9105932f3287482c74a3a|CUSCO       |INGENIER√çA DE ALIMENTOS       |EXTRAORDINARIO-COMUNIDADES ANDINO AMAZ√ìNICOS                     |FEMENINO |18  |50  |SI                |NINGUNA       |100              |80               |20               |70                 |
|e0b96a1d2f30bfacbcd6f79b483a127de448f574cfb575e0a24c3c3dbd88c6b6|CUSCO       |INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |FEMENINO |18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|f2408f4b5e6213e256e2fbce1fa6aafb8fa53269590000ccb825399119d75973|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|0159377b892ca498a45aa7f05ee4e5fcb87841c180a0171ca2be55ac0f5cb7c4|CUSCO       |ECOTURISMO                    |ORDINARIO                                                        |FEMENINO |18  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|89de1e05db493a54c9cf56661320b7202dc2c4620eeb43140fbd282a2052094c|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|6cbcc4d6a11b82d4c340ab89394e70aa8875e601b7c0136601f04fca3c8e7510|CUSCO       |INGENIER√çA DE ALIMENTOS       |ORDINARIO                                                        |FEMENINO |19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|39aac6431ed9a3cfb99a97e268d3a0b8c1b8811edfe8a8af1392f535db04e9ee|LIMA        |ECOTURISMO                    |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|TACNA       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|19  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|664721680e722afb3fc102fe9c6a0877c42dd881e3f6eb76cf2b78b1935cd5a4|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|20  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|65db902b2759ed502ace6892244e4e44363a1356fee5c081ed7055cc21ccd834|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|20  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|ff7b8b3f8e6397a98c4cbd2f3aa5110db0341fd1781dfbafd3e473e415d1d34f|CUSCO       |INGENIER√çA CIVIL              |ORDINARIO                                                        |MASCULINO|21  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|1aec15292ffa2f79bd8c8793c53780d7ee85c8cfa370c077e00266c0dc50f32d|CUSCO       |INGENIER√çA CIVIL              |EXTRAORDINARIO-PERSONAS CON DISCAPACIDAD                         |MASCULINO|22  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|c7c4a568c1fb65f7a633b6da5990717fba12a5c43afe6b0858c3d8a154bd0f8a|CUSCO       |INGENIER√çA AGRON√ìMICA TROPICAL|ORDINARIO                                                        |MASCULINO|23  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
|69aa3c3c540756e55b2ab8545c62eb57d207b2edfbf8fc088088c836563d8625|CUSCO       |ECONOM√çA                      |ORDINARIO                                                        |MASCULINO|24  |200 |SI                |NINGUNA       |100              |40               |20               |100                |
+----------------------------------------------------------------+------------+------------------------------+-----------------------------------------------------------------+---------+----+----+------------------+--------------+-----------------+-----------------+-----------------+-------------------+
only showing top 25 rows

‚öñÔ∏è Postulantes clasificados por perfil integral de inclusi√≥n

sqlOrderBy4: DataFrame = [uuid: string, departamento: string ... 11 more fields]

In [236]:
// SQL ORDERBY 5: Ordenamiento con UNION, intersecciones y operaciones de conjunto
println("\nüîÑ SQL ORDERBY 5: An√°lisis comparativo con operaciones de conjunto")

val sqlOrderBy5 = spark.sql("""
  -- Uni√≥n de diferentes segmentos de postulantes con ordenamiento global
  (
    SELECT 
      'ALTO_RENDIMIENTO' as segmento,
      uuid,
      escuela,
      departamento,
      pago,
      edad,
      'Pago superior a 250 soles' as criterio,
      1 as prioridad_orden,
      pago as orden_valor
    FROM postulantes 
    WHERE pago > 250
  )
  UNION ALL
  (
    SELECT 
      'INCLUSION_SOCIAL' as segmento,
      uuid,
      escuela,
      departamento,
      pago,
      edad,
      'Discapacidad o comunidad rural' as criterio,
      2 as prioridad_orden,
      CASE WHEN tiene_discapacidad = 'SI' THEN 1 ELSE 2 END as orden_valor
    FROM postulantes 
    WHERE tiene_discapacidad = 'SI' OR tipo_comunidad = 'RURAL'
  )
  UNION ALL
  (
    SELECT 
      'JOVENES_TALENTO' as segmento,
      uuid,
      escuela,
      departamento,
      pago,
      edad,
      'J√≥venes de 16-19 a√±os con modalidad oportunidad' as criterio,
      3 as prioridad_orden,
      edad as orden_valor
    FROM postulantes 
    WHERE edad BETWEEN 16 AND 19 
      AND modalidad LIKE '%OPORTUNIDAD%'
      AND pago > 100
  )
  UNION ALL
  (
    SELECT 
      'DIVERSIDAD_GEOGRAFICA' as segmento,
      uuid,
      escuela,
      departamento,
      pago,
      edad,
      'Departamentos con menor representaci√≥n' as criterio,
      4 as prioridad_orden,
      pago as orden_valor
    FROM postulantes 
    WHERE departamento IN (
      SELECT departamento 
      FROM postulantes 
      GROUP BY departamento 
      HAVING COUNT(*) < 100
    )
    AND pago IS NOT NULL AND pago > 0
  )
  ORDER BY 
    prioridad_orden ASC,
    CASE 
      WHEN segmento = 'ALTO_RENDIMIENTO' THEN orden_valor 
      WHEN segmento = 'INCLUSION_SOCIAL' THEN orden_valor
      WHEN segmento = 'JOVENES_TALENTO' THEN orden_valor
      WHEN segmento = 'DIVERSIDAD_GEOGRAFICA' THEN orden_valor
    END ASC,
    uuid ASC
  LIMIT 40
""")

sqlOrderBy5.show(30, truncate = false)
println(s"üåç An√°lisis multisegmento con operaciones de conjunto completado")

üîÑ SQL ORDERBY 5: An√°lisis comparativo con operaciones de conjunto

+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
|segmento        |uuid                                                            |escuela                       |departamento|pago|edad|criterio                      |prioridad_orden|orden_valor|
+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
|ALTO_RENDIMIENTO|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |300 |27  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |300 |21  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|ECOTURISMO                    |CUSCO       |300 |21  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|INGENIER√çA CIVIL              |TACNA       |300 |19  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |670 |23  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|INGENIER√çA CIVIL              |AYACUCHO    |670 |40  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |CUSCO       |670 |44  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |CUSCO       |670 |31  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |CUSCO       |670 |30  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|INGENIER√çA DE ALIMENTOS       |CUSCO       |670 |24  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|INGENIER√çA CIVIL              |APUR√çMAC    |670 |40  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|INGENIER√çA CIVIL              |CUSCO       |670 |24  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |CUSCO       |670 |36  |Pago superior a 250 soles     |1              |670        |
|INCLUSION_SOCIAL|0159377b892ca498a45aa7f05ee4e5fcb87841c180a0171ca2be55ac0f5cb7c4|ECOTURISMO                    |CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|0a2e1f154043f17b4582e02f5d4ac0c570b092fe7e61a1e1909e1f18b3c92ac3|INGENIER√çA CIVIL              |CUSCO       |250 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|1aec15292ffa2f79bd8c8793c53780d7ee85c8cfa370c077e00266c0dc50f32d|INGENIER√çA CIVIL              |CUSCO       |200 |22  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|1fa078bb5c3d16d890c588a44e88f6ede3912cbb18334d5f386e9d61459b7568|INGENIER√çA CIVIL              |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|INGENIER√çA CIVIL              |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|350c3d3957f1d4f2a3dd208ab969fc3bee3881ef1a585425cf9b2d28d130ed27|INGENIER√çA CIVIL              |CUSCO       |50  |24  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|39aac6431ed9a3cfb99a97e268d3a0b8c1b8811edfe8a8af1392f535db04e9ee|ECOTURISMO                    |LIMA        |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|65db902b2759ed502ace6892244e4e44363a1356fee5c081ed7055cc21ccd834|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |20  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|664721680e722afb3fc102fe9c6a0877c42dd881e3f6eb76cf2b78b1935cd5a4|INGENIER√çA CIVIL              |CUSCO       |200 |20  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|69aa3c3c540756e55b2ab8545c62eb57d207b2edfbf8fc088088c836563d8625|ECONOM√çA                      |CUSCO       |200 |24  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|6cbcc4d6a11b82d4c340ab89394e70aa8875e601b7c0136601f04fca3c8e7510|INGENIER√çA DE ALIMENTOS       |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|75f29abc186112f600291909c6aae585e9c26e0d50e18e9dd502ff3611b8a6ec|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|89de1e05db493a54c9cf56661320b7202dc2c4620eeb43140fbd282a2052094c|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|8e5746586d5068b29c246ee9ad94201313a3999a24671dfd444eb5dd5abf6e9a|INGENIER√çA DE ALIMENTOS       |CUSCO       |200 |52  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|INGENIER√çA CIVIL              |APUR√çMAC    |250 |18  |Discapacidad o comunidad rural|2              |1          |
+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
only showing top 30 rows

üåç An√°lisis multisegmento con operaciones de conjunto completado
+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
|segmento        |uuid                                                            |escuela                       |departamento|pago|edad|criterio                      |prioridad_orden|orden_valor|
+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
|ALTO_RENDIMIENTO|57bd78e7a875508362b4b169b2ad8d15e986168c3eaf10a4062654b8fbb9324a|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |300 |27  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|83cdd031386e5bac7c2270ee4054ca9ab7ed641deef07c5d636ca790287f10d1|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |300 |21  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|bcc3723097525afe0609185e6cf8d3582b930560d542b1f9ba94781c7abc3165|ECOTURISMO                    |CUSCO       |300 |21  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|dd5ed3ed82dc53a81d5f08da76380e20da14291e67c9e5d9d872c3c2282b4836|INGENIER√çA CIVIL              |TACNA       |300 |19  |Pago superior a 250 soles     |1              |300        |
|ALTO_RENDIMIENTO|10c78e221144ae1a416374cba76d72cda935f7c28dccf0103aa625743e273093|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |670 |23  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|47a8d23129f81caf5e14b9f7bf7df5264d9e2f7ef4b589910963599245833672|INGENIER√çA CIVIL              |AYACUCHO    |670 |40  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|4c7d00d8349d30f5dceb55fd315112773e0a77947846a685e270d1ca67258789|INGENIER√çA CIVIL              |CUSCO       |670 |44  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|9955eb96199807478cf99af18048ec5da32b91ad69075a92a7a24d4e36443fb6|INGENIER√çA CIVIL              |CUSCO       |670 |31  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|9ccd26197f39a7bd56251351248ebbe02b51b6b6e60d0af1bf788fe812addeb0|INGENIER√çA CIVIL              |CUSCO       |670 |30  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|a2b9bb2f6cada7b14b16b62714ba618c6ae1f881dca5248d92b7acd5507d6b80|INGENIER√çA DE ALIMENTOS       |CUSCO       |670 |24  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|ac6f6a84abb226401250a75edc6b90abe674380b59785fa5852e26a0df6c7e05|INGENIER√çA CIVIL              |APUR√çMAC    |670 |40  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|ad73d49724aff6044571150cca1dd7a4ffba6d234977126f914dfd9fd23f1d9b|INGENIER√çA CIVIL              |CUSCO       |670 |24  |Pago superior a 250 soles     |1              |670        |
|ALTO_RENDIMIENTO|b1ce2631353d05962206e90adcd555514342e0ba9ffa545c6474875efefe270c|INGENIER√çA CIVIL              |CUSCO       |670 |36  |Pago superior a 250 soles     |1              |670        |
|INCLUSION_SOCIAL|0159377b892ca498a45aa7f05ee4e5fcb87841c180a0171ca2be55ac0f5cb7c4|ECOTURISMO                    |CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|0a2e1f154043f17b4582e02f5d4ac0c570b092fe7e61a1e1909e1f18b3c92ac3|INGENIER√çA CIVIL              |CUSCO       |250 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|1aec15292ffa2f79bd8c8793c53780d7ee85c8cfa370c077e00266c0dc50f32d|INGENIER√çA CIVIL              |CUSCO       |200 |22  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|1fa078bb5c3d16d890c588a44e88f6ede3912cbb18334d5f386e9d61459b7568|INGENIER√çA CIVIL              |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|2349056d3c357800e791390095dc9857cc90dac4fef0a65a673043abfd5fb05c|INGENIER√çA CIVIL              |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|350c3d3957f1d4f2a3dd208ab969fc3bee3881ef1a585425cf9b2d28d130ed27|INGENIER√çA CIVIL              |CUSCO       |50  |24  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|39aac6431ed9a3cfb99a97e268d3a0b8c1b8811edfe8a8af1392f535db04e9ee|ECOTURISMO                    |LIMA        |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|65db902b2759ed502ace6892244e4e44363a1356fee5c081ed7055cc21ccd834|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |20  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|664721680e722afb3fc102fe9c6a0877c42dd881e3f6eb76cf2b78b1935cd5a4|INGENIER√çA CIVIL              |CUSCO       |200 |20  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|69aa3c3c540756e55b2ab8545c62eb57d207b2edfbf8fc088088c836563d8625|ECONOM√çA                      |CUSCO       |200 |24  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|6cbcc4d6a11b82d4c340ab89394e70aa8875e601b7c0136601f04fca3c8e7510|INGENIER√çA DE ALIMENTOS       |CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|75f29abc186112f600291909c6aae585e9c26e0d50e18e9dd502ff3611b8a6ec|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|89de1e05db493a54c9cf56661320b7202dc2c4620eeb43140fbd282a2052094c|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |19  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|8e5746586d5068b29c246ee9ad94201313a3999a24671dfd444eb5dd5abf6e9a|INGENIER√çA DE ALIMENTOS       |CUSCO       |200 |52  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|a0cf09f29feeeb8e68e3ca7d6b1279f888f5c09ce7e730406c6f9906146eb670|INGENIER√çA AGRON√ìMICA TROPICAL|CUSCO       |200 |18  |Discapacidad o comunidad rural|2              |1          |
|INCLUSION_SOCIAL|b1ef2dcc554b4301cb7488070011efba48962876841c0bf0ac74a39e89d92bdc|INGENIER√çA CIVIL              |APUR√çMAC    |250 |18  |Discapacidad o comunidad rural|2              |1          |
+----------------+----------------------------------------------------------------+------------------------------+------------+----+----+------------------------------+---------------+-----------+
only showing top 30 rows

üåç An√°lisis multisegmento con operaciones de conjunto completado

sqlOrderBy5: DataFrame = [segmento: string, uuid: string ... 7 more fields]